# Le jeu Palworld et analyse des donn√©es

## Pr√©sentation du jeu Palworld

Palworld est un jeu de survie en monde ouvert d√©velopp√© par Pocket Pair, sorti en janvier 2024. Ce jeu combine des √©l√©ments de survie, de crafting, de collection de cr√©atures et de construction de base. Il se d√©roule dans un monde ouvert peupl√© de cr√©atures appel√©es "Pals" que les joueurs peuvent capturer, √©lever et utiliser pour diverses t√¢ches.

Les aspects cl√©s du jeu incluent:

| Aspect |
| - |
| La capture et la collection de Pals (similaire √† Pok√©mon) |
| L'utilisation des Pals pour combattre |
| L'exploitation des Pals pour des t√¢ches comme la construction, l'agriculture, et le travail en usine |
| La construction et le d√©veloppement d'un campement |
| L'exploration d'un monde ouvert avec diff√©rentes zones et biomes |

Le jeu a connu un immense succ√®s d√®s sa sortie en raison de son concept innovant m√™lant des m√©caniques de jeux populaires comme Pok√©mon et Minecraft, mais avec une approche plus mature et parfois controvers√©e.

## üìÅ Analyse des Fichiers CSV et leur R√¥le dans le Jeu

### Vue d'ensemble des Donn√©es Palworld

Sur la base des descriptions fournies, voici une analyse de chaque fichier de donn√©es et son importance dans le jeu :

### 1.  Palworld_Data--Palu combat attribute table.csv

**Contenu :**
- Statistiques de base (sant√©, attaque, d√©fense, vitesse)
- Types √©l√©mentaires (Feu, Eau, √âlectricit√©, etc.)
- Comp√©tences de combat sp√©cifiques

**R√¥le dans le jeu :** Ces donn√©es d√©terminent l'efficacit√© d'un Pal au combat. Les joueurs utilisent ces informations pour construire des √©quipes √©quilibr√©es et strat√©giques pour les combats contre d'autres Pals ou les boss.

### 2.  Palworld_Data--Palu refresh level.csv

**Contenu :** Informations sur les niveaux auxquels les Pals apparaissent dans diff√©rentes zones du jeu.

**R√¥le dans le jeu :** Cette information est cruciale pour les joueurs qui cherchent √† capturer des Pals sp√©cifiques. Elle permet de savoir o√π trouver certains Pals et √† quel niveau ils appara√Ætront, ce qui affecte leur difficult√© de capture et leurs statistiques initiales.

### 3. Palworld_Data-Palu Job Skills Table.csv

**Contenu :** Comp√©tences de travail que poss√®dent les diff√©rents Pals :
- Minage
- B√ªcheronnage
- Agriculture
- Construction
- Cuisine
- Etc.

**R√¥le dans le jeu :** Ces comp√©tences d√©terminent quelles t√¢ches un Pal peut effectuer dans votre campement. Un Pal avec une comp√©tence de minage √©lev√©e sera efficace pour extraire des minerais, tandis qu'un Pal avec des comp√©tences agricoles sera utile pour cultiver des ressources alimentaires.

### 4.  Palworld_Data-Tower BOSS attribute comparison.csv

**Contenu :** Attributs des boss sp√©ciaux qui apparaissent dans les tours du jeu.

**R√¥le dans le jeu :** Les tours sont des d√©fis endgame o√π les joueurs affrontent des boss puissants. Ces donn√©es aident √† comprendre la puissance relative de ces boss et √† pr√©parer des strat√©gies adapt√©es pour les combattre.

### 5.  Palworld_Data-comparison of ordinary BOSS attributes.csv

**Contenu :** Attributs des boss ordinaires que l'on trouve dans le monde ouvert.

**R√¥le dans le jeu :** Ces boss repr√©sentent des d√©fis importants durant l'exploration et fournissent des r√©compenses pr√©cieuses. Comprendre leurs attributs permet aux joueurs de se pr√©parer ad√©quatement √† ces affrontements.

### 6.  Palworld_Data-hide pallu attributes.csv

**Contenu :** Informations sur des attributs cach√©s des Pals qui ne sont pas imm√©diatement visibles dans le jeu.

**R√¥le dans le jeu :** Ces attributs cach√©s peuvent inclure des taux de croissance sp√©cifiques, des affinit√©s particuli√®res, ou des capacit√©s sp√©ciales qui se d√©bloquent dans certaines conditions. Ces informations sont pr√©cieuses pour les joueurs qui cherchent √† optimiser leurs Pals.

---
## Implications pour l'Analyse

Cette structure de donn√©es nous permettra d'analyser :
- **Optimisation des √©quipes de combat** via les attributs de combat
- **Gestion efficace des ressources** via les comp√©tences de travail
- **Strat√©gies de capture** via les zones d'apparition et probabilit√©s
- **Progression du jeu** via les niveaux et raret√©s des Pals

## Import des biblioth√®ques Python de l'√©tude

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import mariadb
from sqlalchemy import create_engine
import plotly.express as px
import plotly.graph_objects as go
import os
import csv
from pathlib import Path

## Chargement des donn√©es brutes

In [4]:
# D√©finition du chemin vers les fichiers fournis
data_path = "../database/"

# V√©rification de l'existence du repertoire , if not utiliser le repertoire courrant
if not os.path.exists(data_path):
    data_path = "./"

# Affichage des fichiers dispo pour la v√©rif
files = [f for f in os.listdir(data_path) if f.endswith('.csv')] # ici on liste tous les fichiers ou dossiers + on it√®re chaque √©l√©ment + Filtre pour garder que les fichier .csv
print("Fichiers dispo:")
for file in files: 
    print(f"-{file}")

# Chargement des donn√©es brutes & gestion d'erreurs gr√¢ce √† pd.read_csv en d√©finissant le chemin vers les fichiers.csv 
try:
    combat_attribute = pd.read_csv(f'{data_path}Palworld_Data--Palu combat attribute table.csv')
    refresh_area = pd.read_csv(f'{data_path}Palworld_Data--Palu refresh level.csv')
    ordinary_boss = pd.read_csv(f'{data_path}Palworld_Data-comparison of ordinary BOSS attributes.csv')
    tower_boss = pd.read_csv(f'{data_path}Palworld_Data-Tower BOSS attribute comparison.csv') 
    job_skill = pd.read_csv(f'{data_path}Palworld_Data-Palu Job Skills Table.csv')
    hidden_attribute = pd.read_csv(f'{data_path}Palworld_Data-hide pallu attributes.csv')
    print("\nDonn√©es brutes charg√©es")
except FileNotFoundError as e : 
  print(f"Erreur: {e}. V√©rifier les noms des fichiers et le chemin.")

Fichiers dispo:
-Palworld_Data--Palu combat attribute table.csv
-Palworld_Data--Palu refresh level.csv
-Palworld_Data-comparison of ordinary BOSS attributes.csv
-Palworld_Data-hide pallu attributes.csv
-Palworld_Data-Palu Job Skills Table.csv
-Palworld_Data-Tower BOSS attribute comparison.csv

Donn√©es brutes charg√©es

## Cr√©ation de la fonction d'analyse exploratoires des donn√©es fournies

In [5]:
def explore_dataframe(df, name):
    # Cette Fonction inclus un affichage optimis√©
    
    # Sauvegarde et r√©glage des options d'affichage
    pd.set_option('display.max_columns', None)
    pd.set_option('display.max_colwidth', 30)
    pd.set_option('display.width', max(1200, df.shape[1] * 20))
    print(f"\n===== Exploration de {name} =====")
    
    # 1. Informations de base (similaire √† df.info())
    print("\n--- Informations de base ---")
    print(f"Class: {type(df)}")
    # Index
    idx = df.index
    print(f"Index: {type(idx)} | {idx}")
    # Nombre total d'entr√©es et de colonnes
    print(f"Entries: {len(df)} | Columns: {df.shape[1]}")
    
    # D√©tail des colonnes et non-null counts
    structure = pd.DataFrame({
        'Column': df.columns,
        'Non-Null Count': df.notnull().sum().values,
        'Dtype': df.dtypes.values
    })
    display(structure)
    
    # Usage m√©moire
    mem_usage = df.memory_usage(deep=True).sum()
    print(f"Memory usage: {mem_usage / 1024:.2f} KB")
    
    # 2. Dimensions
    print(f"\nDimensions: {df.shape[0]} lignes, {df.shape[1]} colonnes")
    
    # Aper√ßu des premi√®res lignes
    print("\nAper√ßu des premi√®res lignes:")
    display(df.head(3))
    
    # Types de donn√©es
    print("\nTypes de donn√©es:")
    display(df.dtypes)
    
    # Statistiques descriptives
    print("\nStatistiques descriptives:")
    display(df.describe(include='all'))
    
    # Valeurs manquantes
    print("\nValeurs manquantes:")
    missing = df.isnull().sum()
    missing_percent = (missing / len(df)) * 100
    missing_data = pd.concat([missing, missing_percent], axis=1, keys=['Total', 'Pourcentage'])
    display(missing_data[missing_data['Total'] > 0])
    if missing_data['Total'].sum() == 0:
        print("Aucune valeur manquante d√©tect√©e")
    
    # Doublons
    duplicates = df.duplicated().sum()
    print(f"\nNombre de lignes dupliqu√©es: {duplicates}")
    
    # Colonnes cat√©gorielles
    print("\nAnalyse des colonnes cat√©gorielles:")
    categorical_cols = df.select_dtypes(include=['object']).columns
    
    if len(categorical_cols) > 0:
        for col in categorical_cols:
            unique_values = df[col].unique()
            n_unique = len(unique_values)
            
            print(f"\n{col}:")
            print(f"  - {n_unique} valeurs uniques")
            
            if n_unique <= 10:
                print(f"  - Valeurs: {unique_values}")
            elif n_unique <= 20:
                value_counts = df[col].value_counts().head(10)
                print(f"  - Top 10 des valeurs les plus fr√©quentes:")
                for val, count in value_counts.items():
                    print(f"    ‚Ä¢ {val}: {count} occurrences")
            else:
                value_counts = df[col].value_counts()
                print(f"  - Top 5 des valeurs les plus fr√©quentes:")
                for val, count in value_counts.head(5).items():
                    print(f"    ‚Ä¢ {val}: {count} occurrences")
                print(f"  - Valeur la moins fr√©quente: {value_counts.tail(1).index[0]} ({value_counts.tail(1).values[0]} occurrence(s))")
    else:
        print("Aucune colonne cat√©gorielle d√©tect√©e")
    # D√©tection des valeurs aberrantes
    print("\nValeurs aberrantes (m√©thode IQR):")
    numeric_cols = df.select_dtypes(include=[np.number]).columns

 
        # D√©tection des valeurs aberrantes
    print("\nValeurs aberrantes (m√©thode IQR):")
    numeric_cols = df.select_dtypes(include=[np.number]).columns
    
    for col in numeric_cols:
        Q1 = df[col].quantile(0.25)
        Q3 = df[col].quantile(0.75)
        IQR = Q3 - Q1
        outliers = df[(df[col] < Q1 - 1.5*IQR) | (df[col] > Q3 + 1.5*IQR)][col]
        
        print(f"{col}: {len(outliers)} valeurs aberrantes ({len(outliers)/len(df)*100:.1f}%)")
        
        # AFFICHAGE DES VALEURS ABERRANTES
        if len(outliers) > 0:
            if len(outliers) <= 10:
                print(f"  Valeurs: {sorted(outliers.tolist())}")
            else:
                print(f"  Premi√®res 10: {sorted(outliers.tolist())[:10]}")
    # R√©tablissement des options d'affichage
    pd.reset_option('display.max_columns')
    pd.reset_option('display.max_info_columns')
    pd.reset_option('display.max_colwidth')
    pd.reset_option('display.width')
    
    # S√©parateur
    print("\n" + "="*70)

### Analyse exploratoire des donn√©es fournies

In [214]:
explore_dataframe(job_skill, 'Job Skills')

===== Exploration de Job Skills =====

--- Informations de base ---
Class: <class 'pandas.core.frame.DataFrame'>
Index: <class 'pandas.core.indexes.range.RangeIndex'> | RangeIndex(start=0, stop=139, step=1)
Entries: 139 | Columns: 23

                           Column  Non-Null Count   Dtype
0   Related Links Directory Pa...             139  object
1                      Unnamed: 1             139  object
2                      Unnamed: 2             139  object
3                      Unnamed: 3             139  object
4                      Unnamed: 4             139  object
5                      Unnamed: 5              26  object
6                      Unnamed: 6             139  object
7                      Unnamed: 7             139  object
8                      Unnamed: 8             139  object
9                      Unnamed: 9             139  object
10                    Unnamed: 10             139  object
11                    Unnamed: 11             139  object
12                    Unnamed: 12             139  object
13                    Unnamed: 13             139  object
14                    Unnamed: 14             139  object
15                    Unnamed: 15             139  object
16                    Unnamed: 16             139  object
17                    Unnamed: 17             139  object
18                    Unnamed: 18             139  object
19                    Unnamed: 19              57  object
20                    Unnamed: 20              14  object
21                    Unnamed: 21              14  object
22                    Unnamed: 22              14  object

Memory usage: 170.69 KB

Dimensions: 139 lignes, 23 colonnes

Aper√ßu des premi√®res lignes:

  Related Links Directory Palu Combat Attribute Table Food BUFF Work Disease DEBUFF    Unnamed: 1    Unnamed: 2   Unnamed: 3   Unnamed: 4   Unnamed: 5    Unnamed: 6   Unnamed: 7 Unnamed: 8 Unnamed: 9           Unnamed: 10 Unnamed: 11 Unnamed: 12 Unnamed: 13 Unnamed: 14     Unnamed: 15 Unnamed: 16 Unnamed: 17 Unnamed: 18     Unnamed: 19  Unnamed: 20             Unnamed: 21                    Unnamed: 22
0                             ID                                                     English name  Chinese name  Volume size  Food intake  night shift  Total skills  Make a fire   watering   planting  generate electricity      manual  collection     logging      Mining  pharmaceutical   cool down     pasture       carry  Handling speed  ranch items  pasture minimum output  The largest ranch (Rank = ...
1                              1                                                          Lamball   Mian Youyou     smallest            2          NaN             3            0          0          0                     0           1           0           0           0               0           0           1           1             160         wool                       1                           Rank
2                              2                                                          Cattiva   Naughty cat     smallest            2          NaN             4            0          0          0                     0           1           1           0           1               0           0           0           1             160          NaN                     NaN                            NaN

Types de donn√©es:

Related Links Directory Palu Combat Attribute Table Food BUFF Work Disease DEBUFF    object
Unnamed: 1                                                                           object
Unnamed: 2                                                                           object
Unnamed: 3                                                                           object
Unnamed: 4                                                                           object
Unnamed: 5                                                                           object
Unnamed: 6                                                                           object
Unnamed: 7                                                                           object
Unnamed: 8                                                                           object
Unnamed: 9                                                                           object
Unnamed: 10                                                                          object
Unnamed: 11                                                                          object
Unnamed: 12                                                                          object
Unnamed: 13                                                                          object
Unnamed: 14                                                                          object
Unnamed: 15                                                                          object
Unnamed: 16                                                                          object
Unnamed: 17                                                                          object
Unnamed: 18                                                                          object
Unnamed: 19                                                                          object
Unnamed: 20                                                                          object
Unnamed: 21                                                                          object
Unnamed: 22                                                                          object
dtype: object

Statistiques descriptives:

       Related Links Directory Palu Combat Attribute Table Food BUFF Work Disease DEBUFF    Unnamed: 1   Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5 Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9 Unnamed: 10 Unnamed: 11 Unnamed: 12 Unnamed: 13 Unnamed: 14 Unnamed: 15 Unnamed: 16 Unnamed: 17 Unnamed: 18 Unnamed: 19 Unnamed: 20 Unnamed: 21 Unnamed: 22
count                             139                                                              139          139        139        139         26        139        139        139        139         139         139         139         139         139         139         139         139         139          57          14          14          14
unique                            112                                                              139          138          6         10          2         13          6          6          6           6           6           6           5           6           5           6           3           6          32          11           5           5
top                                12                                                     English name  Thunderbird        big          3        yes          3          0          0          0           0           0           0           0           0           0           0           0           0         250        wool           1        Rank
freq                                2                                                                1            2         43         26         25         27        116        123        117         127          87          92         102         115         122         120         125          82           6           3           9           9

Valeurs manquantes:

             Total  Pourcentage
Unnamed: 5     113    81.294964
Unnamed: 19     82    58.992806
Unnamed: 20    125    89.928058
Unnamed: 21    125    89.928058
Unnamed: 22    125    89.928058

Nombre de lignes dupliqu√©es: 0

Analyse des colonnes cat√©gorielles:

Related Links Directory Palu Combat Attribute Table Food BUFF Work Disease DEBUFF:
  - 112 valeurs uniques
  - Top 5 des valeurs les plus fr√©quentes:
    ‚Ä¢ 12: 2 occurrences
    ‚Ä¢ 13: 2 occurrences
    ‚Ä¢ 37: 2 occurrences
    ‚Ä¢ 40: 2 occurrences
    ‚Ä¢ 45: 2 occurrences
  - Valeur la moins fr√©quente: 111 (1 occurrence(s))

Unnamed: 1:
  - 139 valeurs uniques
  - Top 5 des valeurs les plus fr√©quentes:
    ‚Ä¢ English name: 1 occurrences
    ‚Ä¢ Lamball: 1 occurrences
    ‚Ä¢ Cattiva: 1 occurrences
    ‚Ä¢ Chikipi: 1 occurrences
    ‚Ä¢ Lifmunk: 1 occurrences
  - Valeur la moins fr√©quente: Jetragon (1 occurrence(s))

Unnamed: 2:
  - 138 valeurs uniques
  - Top 5 des valeurs les plus fr√©quentes:
    ‚Ä¢ Thunderbird: 2 occurrences
    ‚Ä¢ Chinese name: 1 occurrences
    ‚Ä¢ Naughty cat: 1 occurrences
    ‚Ä¢ Pipi Chicken: 1 occurrences
    ‚Ä¢ green leaf rat: 1 occurrences
  - Valeur la moins fr√©quente: Vortex Dragon (1 occurrence(s))

Unnamed: 3:
  - 6 valeurs uniques
  - Valeurs: ['Volume size' 'smallest' 'Small' 'big' 'medium' 'maximum']

Unnamed: 4:
  - 10 valeurs uniques
  - Valeurs: ['Food intake' '2' '1' '3' '8' '5' '4' '7' '6' '9']

Unnamed: 5:
  - 3 valeurs uniques
  - Valeurs: ['night shift' nan 'yes']

Unnamed: 6:
  - 13 valeurs uniques
  - Top 10 des valeurs les plus fr√©quentes:
    ‚Ä¢ 3: 27 occurrences
    ‚Ä¢ 1: 22 occurrences
    ‚Ä¢ 4: 20 occurrences
    ‚Ä¢ 2: 19 occurrences
    ‚Ä¢ 5: 14 occurrences
    ‚Ä¢ 6: 13 occurrences
    ‚Ä¢ 9: 7 occurrences
    ‚Ä¢ 8: 5 occurrences
    ‚Ä¢ 10: 5 occurrences
    ‚Ä¢ 7: 3 occurrences

Unnamed: 7:
  - 6 valeurs uniques
  - Valeurs: ['Make a fire' '0' '1' '2' '3' '4']

Unnamed: 8:
  - 6 valeurs uniques
  - Valeurs: ['watering' '0' '1' '2' '3' '4']

Unnamed: 9:
  - 6 valeurs uniques
  - Valeurs: ['planting' '0' '1' '2' '3' '4']

Unnamed: 10:
  - 6 valeurs uniques
  - Valeurs: ['generate electricity' '0' '1' '2' '3' '4']

Unnamed: 11:
  - 6 valeurs uniques
  - Valeurs: ['manual' '1' '0' '2' '3' '4']

Unnamed: 12:
  - 6 valeurs uniques
  - Valeurs: ['collection' '0' '1' '2' '3' '4']

Unnamed: 13:
  - 5 valeurs uniques
  - Valeurs: ['logging' '0' '1' '2' '3']

Unnamed: 14:
  - 6 valeurs uniques
  - Valeurs: ['Mining' '0' '1' '2' '3' '4']

Unnamed: 15:
  - 5 valeurs uniques
  - Valeurs: ['pharmaceutical' '0' '1' '2' '3']

Unnamed: 16:
  - 6 valeurs uniques
  - Valeurs: ['cool down' '0' '1' '2' '3' '4']

Unnamed: 17:
  - 3 valeurs uniques
  - Valeurs: ['pasture' '1' '0']

Unnamed: 18:
  - 6 valeurs uniques
  - Valeurs: ['carry' '1' '0' '2' '3' '4']

Unnamed: 19:
  - 33 valeurs uniques
  - Top 5 des valeurs les plus fr√©quentes:
    ‚Ä¢ 250: 6 occurrences
    ‚Ä¢ 270: 4 occurrences
    ‚Ä¢ 275: 4 occurrences
    ‚Ä¢ 150: 4 occurrences
    ‚Ä¢ 320: 3 occurrences
  - Valeur la moins fr√©quente: 500 (1 occurrence(s))

Unnamed: 20:
  - 12 valeurs uniques
  - Top 10 des valeurs les plus fr√©quentes:
    ‚Ä¢ wool: 3 occurrences
    ‚Ä¢ gold: 2 occurrences
    ‚Ä¢ ranch items: 1 occurrences
    ‚Ä¢ Egg: 1 occurrences
    ‚Ä¢ Palu Ball Advanced Palu Ball Arrow Gold Coin: 1 occurrences
    ‚Ä¢ milk: 1 occurrences
    ‚Ä¢ Marshmallow: 1 occurrences
    ‚Ä¢ red wild berries: 1 occurrences
    ‚Ä¢ Honey: 1 occurrences
    ‚Ä¢ fire breathing organ: 1 occurrences

Unnamed: 21:
  - 6 valeurs uniques
  - Valeurs: ['pasture minimum output' '1' nan
 'According to partner skill level 1,1,2,1,1 0,0,0,1,1 1,1,2,3,4 10,20,30,40,50'
 '10' '2']

Unnamed: 22:
  - 6 valeurs uniques
  - Valeurs: ['The largest ranch (Rank = partner skill level)' 'Rank' nan
 'According to partner skill level 1,2,3,1,2 0,0,0,1,1 1,2,3,4,5 10,20,30,40,50'
 'Rank*10' '1+Rank']

Valeurs aberrantes (m√©thode IQR):

Valeurs aberrantes (m√©thode IQR):

======================================================================

In [215]:
explore_dataframe(refresh_area, 'Refresh area')

===== Exploration de Refresh area =====

--- Informations de base ---
Class: <class 'pandas.core.frame.DataFrame'>
Index: <class 'pandas.core.indexes.range.RangeIndex'> | RangeIndex(start=0, stop=149, step=1)
Entries: 149 | Columns: 19

                           Column  Non-Null Count    Dtype
0   PS: This table only refres...             138   object
1                      Unnamed: 1             137   object
2                      Unnamed: 2             137   object
3                      Unnamed: 3             137   object
4                      Unnamed: 4               0  float64
5                      Unnamed: 5             147   object
6                      Unnamed: 6             146   object
7                      Unnamed: 7             146   object
8                      Unnamed: 8             146   object
9                      Unnamed: 9             146   object
10                    Unnamed: 10              18   object
11                    Unnamed: 11             146   object
12                    Unnamed: 12               0  float64
13                    Unnamed: 13             141   object
14                    Unnamed: 14             140   object
15                    Unnamed: 15             140   object
16                    Unnamed: 16             140   object
17                    Unnamed: 17               7   object
18                    Unnamed: 18             140   object

Memory usage: 146.81 KB

Dimensions: 149 lignes, 19 colonnes

Aper√ßu des premi√®res lignes:

  PS: This table only refreshes the data and does not include all occurrences of Palu. For example, the level 10 Balrog Sheep and Mammoth fights that appear in Maple Leaf Forest are random events. pending upgrade Unnamed: 1 Unnamed: 2 Unnamed: 3  Unnamed: 4                     Unnamed: 5 Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9 Unnamed: 10 Unnamed: 11  Unnamed: 12                    Unnamed: 13 Unnamed: 14 Unnamed: 15 Unnamed: 16 Unnamed: 17 Unnamed: 18
0                            NaN                                                                                                                                                                                            NaN        NaN        NaN         NaN                            NaN        NaN        NaN        NaN        NaN         NaN         NaN          NaN                            NaN         NaN         NaN         NaN         NaN         NaN
1  Pallu refresh level reference                                                                                                                                                                                            NaN        NaN        NaN         NaN  Minimum appearance level o...        NaN        NaN        NaN        NaN         NaN         NaN          NaN  Palu's maximum appearance ...         NaN         NaN         NaN         NaN         NaN
2                            NaN                                                                                                                                                                                            NaN        NaN        NaN         NaN                            NaN        NaN        NaN        NaN        NaN         NaN         NaN          NaN                            NaN         NaN         NaN         NaN         NaN         NaN

Types de donn√©es:

PS: This table only refreshes the data and does not include all occurrences of Palu. For example, the level 10 Balrog Sheep and Mammoth fights that appear in Maple Leaf Forest are random events. pending upgrade     object
Unnamed: 1                                                                                                                                                                                                             object
Unnamed: 2                                                                                                                                                                                                             object
Unnamed: 3                                                                                                                                                                                                             object
Unnamed: 4                                                                                                                                                                                                            float64
Unnamed: 5                                                                                                                                                                                                             object
Unnamed: 6                                                                                                                                                                                                             object
Unnamed: 7                                                                                                                                                                                                             object
Unnamed: 8                                                                                                                                                                                                             object
Unnamed: 9                                                                                                                                                                                                             object
Unnamed: 10                                                                                                                                                                                                            object
Unnamed: 11                                                                                                                                                                                                            object
Unnamed: 12                                                                                                                                                                                                           float64
Unnamed: 13                                                                                                                                                                                                            object
Unnamed: 14                                                                                                                                                                                                            object
Unnamed: 15                                                                                                                                                                                                            object
Unnamed: 16                                                                                                                                                                                                            object
Unnamed: 17                                                                                                                                                                                                            object
Unnamed: 18                                                                                                                                                                                                            object
dtype: object

Statistiques descriptives:

       PS: This table only refreshes the data and does not include all occurrences of Palu. For example, the level 10 Balrog Sheep and Mammoth fights that appear in Maple Leaf Forest are random events. pending upgrade   Unnamed: 1 Unnamed: 2 Unnamed: 3  Unnamed: 4 Unnamed: 5   Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9 Unnamed: 10 Unnamed: 11  Unnamed: 12 Unnamed: 13 Unnamed: 14 Unnamed: 15          Unnamed: 16 Unnamed: 17 Unnamed: 18
count                             138                                                                                                                                                                                              137        137        137         0.0        147          146        146        146        146          18         146          0.0         141         140         140                  140           7         140
unique                            113                                                                                                                                                                                              136         40         31         NaN        113          136         40        136          6           2          11          NaN         113         136          31                    6           2          10
top                                12                                                                                                                                                                                      Thunderbird          2         45         NaN         32  Marshmallow          2        895     Creeps         yes   grassland          NaN          85   surf duck          45  Random dungeon boss         yes     dungeon
freq                                2                                                                                                                                                                                                2         12         31         NaN          3            2         13          2        102          17          49          NaN           3           2          32                   71           6          74
mean                              NaN                                                                                                                                                                                              NaN        NaN        NaN         NaN        NaN          NaN        NaN        NaN        NaN         NaN         NaN          NaN         NaN         NaN         NaN                  NaN         NaN         NaN
std                               NaN                                                                                                                                                                                              NaN        NaN        NaN         NaN        NaN          NaN        NaN        NaN        NaN         NaN         NaN          NaN         NaN         NaN         NaN                  NaN         NaN         NaN
min                               NaN                                                                                                                                                                                              NaN        NaN        NaN         NaN        NaN          NaN        NaN        NaN        NaN         NaN         NaN          NaN         NaN         NaN         NaN                  NaN         NaN         NaN
25%                               NaN                                                                                                                                                                                              NaN        NaN        NaN         NaN        NaN          NaN        NaN        NaN        NaN         NaN         NaN          NaN         NaN         NaN         NaN                  NaN         NaN         NaN
50%                               NaN                                                                                                                                                                                              NaN        NaN        NaN         NaN        NaN          NaN        NaN        NaN        NaN         NaN         NaN          NaN         NaN         NaN         NaN                  NaN         NaN         NaN
75%                               NaN                                                                                                                                                                                              NaN        NaN        NaN         NaN        NaN          NaN        NaN        NaN        NaN         NaN         NaN          NaN         NaN         NaN         NaN                  NaN         NaN         NaN
max                               NaN                                                                                                                                                                                              NaN        NaN        NaN         NaN        NaN          NaN        NaN        NaN        NaN         NaN         NaN          NaN         NaN         NaN         NaN                  NaN         NaN         NaN

Valeurs manquantes:

                                Total  Pourcentage
PS: This table only refresh...     11     7.382550
Unnamed: 1                         12     8.053691
Unnamed: 2                         12     8.053691
Unnamed: 3                         12     8.053691
Unnamed: 4                        149   100.000000
Unnamed: 5                          2     1.342282
Unnamed: 6                          3     2.013423
Unnamed: 7                          3     2.013423
Unnamed: 8                          3     2.013423
Unnamed: 9                          3     2.013423
Unnamed: 10                       131    87.919463
Unnamed: 11                         3     2.013423
Unnamed: 12                       149   100.000000
Unnamed: 13                         8     5.369128
Unnamed: 14                         9     6.040268
Unnamed: 15                         9     6.040268
Unnamed: 16                         9     6.040268
Unnamed: 17                       142    95.302013
Unnamed: 18                         9     6.040268

Nombre de lignes dupliqu√©es: 1

Analyse des colonnes cat√©gorielles:

PS: This table only refreshes the data and does not include all occurrences of Palu. For example, the level 10 Balrog Sheep and Mammoth fights that appear in Maple Leaf Forest are random events. pending upgrade:
  - 114 valeurs uniques
  - Top 5 des valeurs les plus fr√©quentes:
    ‚Ä¢ 12: 2 occurrences
    ‚Ä¢ 13: 2 occurrences
    ‚Ä¢ 32: 2 occurrences
    ‚Ä¢ 37: 2 occurrences
    ‚Ä¢ 40: 2 occurrences
  - Valeur la moins fr√©quente: 111 (1 occurrence(s))

Unnamed: 1:
  - 137 valeurs uniques
  - Top 5 des valeurs les plus fr√©quentes:
    ‚Ä¢ Thunderbird: 2 occurrences
    ‚Ä¢ name: 1 occurrences
    ‚Ä¢ Naughty cat: 1 occurrences
    ‚Ä¢ Mian Youyou: 1 occurrences
    ‚Ä¢ green leaf rat: 1 occurrences
  - Valeur la moins fr√©quente: Vortex Dragon (1 occurrence(s))

Unnamed: 2:
  - 41 valeurs uniques
  - Top 5 des valeurs les plus fr√©quentes:
    ‚Ä¢ 2: 12 occurrences
    ‚Ä¢ 40: 10 occurrences
    ‚Ä¢ 18: 8 occurrences
    ‚Ä¢ 3: 7 occurrences
    ‚Ä¢ 30: 7 occurrences
  - Valeur la moins fr√©quente: 49 (1 occurrence(s))

Unnamed: 3:
  - 32 valeurs uniques
  - Top 5 des valeurs les plus fr√©quentes:
    ‚Ä¢ 45: 31 occurrences
    ‚Ä¢ 40: 15 occurrences
    ‚Ä¢ 38: 14 occurrences
    ‚Ä¢ 13: 13 occurrences
    ‚Ä¢ 29: 11 occurrences
  - Valeur la moins fr√©quente: 48 (1 occurrence(s))

Unnamed: 5:
  - 114 valeurs uniques
  - Top 5 des valeurs les plus fr√©quentes:
    ‚Ä¢ 32: 3 occurrences
    ‚Ä¢ 88: 3 occurrences
    ‚Ä¢ 58: 3 occurrences
    ‚Ä¢ 13: 2 occurrences
    ‚Ä¢ 12: 2 occurrences
  - Valeur la moins fr√©quente: 111 (1 occurrence(s))

Unnamed: 6:
  - 137 valeurs uniques
  - Top 5 des valeurs les plus fr√©quentes:
    ‚Ä¢ Marshmallow: 2 occurrences
    ‚Ä¢ Pa Pa Pa Catfish: 2 occurrences
    ‚Ä¢ fire unicorn: 2 occurrences
    ‚Ä¢ knight bee: 2 occurrences
    ‚Ä¢ Hanging spirit: 2 occurrences
  - Valeur la moins fr√©quente: Vortex Dragon (1 occurrence(s))

Unnamed: 7:
  - 41 valeurs uniques
  - Top 5 des valeurs les plus fr√©quentes:
    ‚Ä¢ 2: 13 occurrences
    ‚Ä¢ 40: 10 occurrences
    ‚Ä¢ 3: 9 occurrences
    ‚Ä¢ 18: 8 occurrences
    ‚Ä¢ 30: 7 occurrences
  - Valeur la moins fr√©quente: 49 (1 occurrence(s))

Unnamed: 8:
  - 137 valeurs uniques
  - Top 5 des valeurs les plus fr√©quentes:
    ‚Ä¢ 895: 2 occurrences
    ‚Ä¢ 1070: 2 occurrences
    ‚Ä¢ 1420: 2 occurrences
    ‚Ä¢ 1190: 2 occurrences
    ‚Ä¢ 1390: 2 occurrences
  - Valeur la moins fr√©quente: 90 (1 occurrence(s))

Unnamed: 9:
  - 7 valeurs uniques
  - Valeurs: [nan 'Pallu refresh type' 'Creeps' 'Secret Domain BOSS' 'event'
 'Random dungeon boss' 'Wild BOSS']

Unnamed: 10:
  - 3 valeurs uniques
  - Valeurs: [nan 'Night only' 'yes']

Unnamed: 11:
  - 12 valeurs uniques
  - Top 10 des valeurs les plus fr√©quentes:
    ‚Ä¢ grassland: 49 occurrences
    ‚Ä¢ dungeon: 18 occurrences
    ‚Ä¢ islands: 16 occurrences
    ‚Ä¢ game reserve: 14 occurrences
    ‚Ä¢ volcano: 13 occurrences
    ‚Ä¢ Snow: 11 occurrences
    ‚Ä¢ forest: 9 occurrences
    ‚Ä¢ desert: 8 occurrences
    ‚Ä¢ Random events: 4 occurrences
    ‚Ä¢ forest snow: 3 occurrences

Unnamed: 13:
  - 114 valeurs uniques
  - Top 5 des valeurs les plus fr√©quentes:
    ‚Ä¢ 85: 3 occurrences
    ‚Ä¢ 12: 2 occurrences
    ‚Ä¢ 13: 2 occurrences
    ‚Ä¢ 37: 2 occurrences
    ‚Ä¢ 40: 2 occurrences
  - Valeur la moins fr√©quente: 111 (1 occurrence(s))

Unnamed: 14:
  - 137 valeurs uniques
  - Top 5 des valeurs les plus fr√©quentes:
    ‚Ä¢ surf duck: 2 occurrences
    ‚Ä¢ Thunderbird: 2 occurrences
    ‚Ä¢ Tianyulong: 2 occurrences
    ‚Ä¢ Pecorone: 2 occurrences
    ‚Ä¢ Pipi Chicken: 1 occurrences
  - Valeur la moins fr√©quente: Vortex Dragon (1 occurrence(s))

Unnamed: 15:
  - 32 valeurs uniques
  - Top 5 des valeurs les plus fr√©quentes:
    ‚Ä¢ 45: 32 occurrences
    ‚Ä¢ 40: 15 occurrences
    ‚Ä¢ 13: 14 occurrences
    ‚Ä¢ 38: 14 occurrences
    ‚Ä¢ 29: 11 occurrences
  - Valeur la moins fr√©quente: 48 (1 occurrence(s))

Unnamed: 16:
  - 7 valeurs uniques
  - Valeurs: [nan 'Pallu refresh type' 'Creeps' 'Random dungeon boss' 'Wild BOSS'
 'event' 'Secret Domain BOSS']

Unnamed: 17:
  - 3 valeurs uniques
  - Valeurs: [nan 'Night only' 'yes']

Unnamed: 18:
  - 11 valeurs uniques
  - Top 10 des valeurs les plus fr√©quentes:
    ‚Ä¢ dungeon: 74 occurrences
    ‚Ä¢ grassland: 19 occurrences
    ‚Ä¢ game reserve: 18 occurrences
    ‚Ä¢ Snow: 7 occurrences
    ‚Ä¢ forest: 6 occurrences
    ‚Ä¢ Random events: 4 occurrences
    ‚Ä¢ desert: 4 occurrences
    ‚Ä¢ forest snow: 4 occurrences
    ‚Ä¢ volcano: 3 occurrences
    ‚Ä¢ refresh area: 1 occurrences

Valeurs aberrantes (m√©thode IQR):

Valeurs aberrantes (m√©thode IQR):
Unnamed: 4: 0 valeurs aberrantes (0.0%)
Unnamed: 12: 0 valeurs aberrantes (0.0%)

======================================================================

In [216]:
explore_dataframe(ordinary_boss, 'Ordinary Boss')

===== Exploration de Ordinary Boss =====

--- Informations de base ---
Class: <class 'pandas.core.frame.DataFrame'>
Index: <class 'pandas.core.indexes.range.RangeIndex'> | RangeIndex(start=0, stop=117, step=1)
Entries: 117 | Columns: 8

                          Column  Non-Null Count    Dtype
0  The BOSS version of each P...              12   object
1                     Unnamed: 1              11   object
2                     Unnamed: 2               0  float64
3                     Unnamed: 3               7   object
4                     Unnamed: 4               7   object
5                     Unnamed: 5               0  float64
6                     Unnamed: 6             115   object
7                     Unnamed: 7             115   object

Memory usage: 32.91 KB

Dimensions: 117 lignes, 8 colonnes

Aper√ßu des premi√®res lignes:

  The BOSS version of each Palu only takes 20%~40% damage, has a capture rate of about 70%, has a riding sprint speed of 100 points, and is larger in size. Unnamed: 1  Unnamed: 2 Unnamed: 3     Unnamed: 4  Unnamed: 5 Unnamed: 6                     Unnamed: 7
0  In addition, a small numbe...                                                                                                                                   NaN         NaN        NaN            NaN         NaN        NaN                            NaN
1                            NaN                                                                                                                                   NaN         NaN        NaN            NaN         NaN        NaN                            NaN
2                           name                                                                                                                                    HP         NaN       name  Remote attack         NaN       name  Riding speed (BOSS is 100 ...

Types de donn√©es:

The BOSS version of each Palu only takes 20%~40% damage, has a capture rate of about 70%, has a riding sprint speed of 100 points, and is larger in size.     object
Unnamed: 1                                                                                                                                                    object
Unnamed: 2                                                                                                                                                   float64
Unnamed: 3                                                                                                                                                    object
Unnamed: 4                                                                                                                                                    object
Unnamed: 5                                                                                                                                                   float64
Unnamed: 6                                                                                                                                                    object
Unnamed: 7                                                                                                                                                    object
dtype: object

Statistiques descriptives:

       The BOSS version of each Palu only takes 20%~40% damage, has a capture rate of about 70%, has a riding sprint speed of 100 points, and is larger in size. Unnamed: 1  Unnamed: 2 Unnamed: 3 Unnamed: 4  Unnamed: 5   Unnamed: 6 Unnamed: 7
count                              12                                                                                                                                    11         0.0          7          7         0.0          115        115
unique                             12                                                                                                                                     7         NaN          7          5         NaN          113         20
top     In addition, a small numbe...                                                                                                                                   260         NaN       name         90         NaN  Thunderbird        800
freq                                1                                                                                                                                     2         NaN          1          2         NaN            2         21
mean                              NaN                                                                                                                                   NaN         NaN        NaN        NaN         NaN          NaN        NaN
std                               NaN                                                                                                                                   NaN         NaN        NaN        NaN         NaN          NaN        NaN
min                               NaN                                                                                                                                   NaN         NaN        NaN        NaN         NaN          NaN        NaN
25%                               NaN                                                                                                                                   NaN         NaN        NaN        NaN         NaN          NaN        NaN
50%                               NaN                                                                                                                                   NaN         NaN        NaN        NaN         NaN          NaN        NaN
75%                               NaN                                                                                                                                   NaN         NaN        NaN        NaN         NaN          NaN        NaN
max                               NaN                                                                                                                                   NaN         NaN        NaN        NaN         NaN          NaN        NaN

Valeurs manquantes:

                                Total  Pourcentage
The BOSS version of each Pa...    105    89.743590
Unnamed: 1                        106    90.598291
Unnamed: 2                        117   100.000000
Unnamed: 3                        110    94.017094
Unnamed: 4                        110    94.017094
Unnamed: 5                        117   100.000000
Unnamed: 6                          2     1.709402
Unnamed: 7                          2     1.709402

Nombre de lignes dupliqu√©es: 0

Analyse des colonnes cat√©gorielles:

The BOSS version of each Palu only takes 20%~40% damage, has a capture rate of about 70%, has a riding sprint speed of 100 points, and is larger in size.:
  - 13 valeurs uniques
  - Top 10 des valeurs les plus fr√©quentes:
    ‚Ä¢ In addition, a small number of BOSS have differences in HP and attack, see the table below. There is no difference in other attributes except those listed below: 1 occurrences
    ‚Ä¢ name: 1 occurrences
    ‚Ä¢ Chaos Knight BOSS: 1 occurrences
    ‚Ä¢ Chaos Knight: 1 occurrences
    ‚Ä¢ Winter Caller Beast BOSS: 1 occurrences
    ‚Ä¢ Winter Caller: 1 occurrences
    ‚Ä¢ Night Caller BOSS: 1 occurrences
    ‚Ä¢ Night Caller: 1 occurrences
    ‚Ä¢ Vortex Dragon BOSS: 1 occurrences
    ‚Ä¢ Vortex Dragon: 1 occurrences

Unnamed: 1:
  - 8 valeurs uniques
  - Valeurs: [nan 'HP' '260' '130' '420' '140' '330' '110']

Unnamed: 3:
  - 8 valeurs uniques
  - Valeurs: [nan 'name' 'Melupa BOSS' 'Melupa' 'Volt Meow BOSS' 'Volt Meow'
 'Snow Mammoth BOSS' 'snow mammoth']

Unnamed: 4:
  - 6 valeurs uniques
  - Valeurs: [nan 'Remote attack' '90' '75' '80' '85']

Unnamed: 6:
  - 114 valeurs uniques
  - Top 5 des valeurs les plus fr√©quentes:
    ‚Ä¢ Thunderbird: 2 occurrences
    ‚Ä¢ Thunderbird BOSS: 2 occurrences
    ‚Ä¢ Zixia Deer: 1 occurrences
    ‚Ä¢ Zixialu BOSS: 1 occurrences
    ‚Ä¢ Suzaku: 1 occurrences
  - Valeur la moins fr√©quente: White Velvet Snow Monster (1 occurrence(s))

Unnamed: 7:
  - 21 valeurs uniques
  - Top 5 des valeurs les plus fr√©quentes:
    ‚Ä¢ 800: 21 occurrences
    ‚Ä¢ 900: 17 occurrences
    ‚Ä¢ 700: 12 occurrences
    ‚Ä¢ 1200: 7 occurrences
    ‚Ä¢ 650: 7 occurrences
  - Valeur la moins fr√©quente: Riding speed (BOSS is 100 higher) (1 occurrence(s))

Valeurs aberrantes (m√©thode IQR):

Valeurs aberrantes (m√©thode IQR):
Unnamed: 2: 0 valeurs aberrantes (0.0%)
Unnamed: 5: 0 valeurs aberrantes (0.0%)

======================================================================

In [217]:
explore_dataframe(tower_boss, 'Tower Boss')

===== Exploration de Tower Boss =====

--- Informations de base ---
Class: <class 'pandas.core.frame.DataFrame'>
Index: <class 'pandas.core.indexes.range.RangeIndex'> | RangeIndex(start=0, stop=16, step=1)
Entries: 16 | Columns: 11

                           Column  Non-Null Count   Dtype
0                            name              16  object
1   Victor & Heterogeneous Gri...              16  object
2           Heterogeneous Griffin              16  object
3            Zoe & Lightning Bear              16  object
4                  Lightning Bear              16  object
5                  Marcus & Horus              16  object
6                           Horus              16  object
7               Lily & Lily Queen              16  object
8                      lily queen              16  object
9                   Axel & Pollux              16  object
10                         Pollux              16  object

Memory usage: 10.58 KB

Dimensions: 16 lignes, 11 colonnes

Aper√ßu des premi√®res lignes:

            name Victor & Heterogeneous Griffin Heterogeneous Griffin Zoe & Lightning Bear Lightning Bear Marcus & Horus Horus Lily & Lily Queen lily queen Axel & Pollux Pollux
0             HP                           8000                   120                 6000            105           6500   100              5500        110          6500    100
1   melee attack                            130                   130                  100            120            100   100               100        100           100    100
2  Remote attack                            200                   120                  100            100            120   105               110        110           140    130

Types de donn√©es:

name                              object
Victor & Heterogeneous Griffin    object
Heterogeneous Griffin             object
Zoe & Lightning Bear              object
Lightning Bear                    object
Marcus & Horus                    object
Horus                             object
Lily & Lily Queen                 object
lily queen                        object
Axel & Pollux                     object
Pollux                            object
dtype: object

Statistiques descriptives:

       name Victor & Heterogeneous Griffin Heterogeneous Griffin Zoe & Lightning Bear Lightning Bear Marcus & Horus Horus Lily & Lily Queen lily queen Axel & Pollux Pollux
count    16                             16                    16                   16             16             16    16                16         16            16     16
unique   16                             14                    13                   11             12             14    14                12         11            12     10
top      HP                           TRUE                   120                  100            100            100   100               100        100           100    100
freq      1                              2                     2                    5              4              2     2                 4          4             4      6

Valeurs manquantes:

Empty DataFrame
Columns: [Total, Pourcentage]
Index: []

Aucune valeur manquante d√©tect√©e

Nombre de lignes dupliqu√©es: 0

Analyse des colonnes cat√©gorielles:

name:
  - 16 valeurs uniques
  - Top 10 des valeurs les plus fr√©quentes:
    ‚Ä¢ HP: 1 occurrences
    ‚Ä¢ melee attack: 1 occurrences
    ‚Ä¢ Remote attack: 1 occurrences
    ‚Ä¢ defense: 1 occurrences
    ‚Ä¢ Support: 1 occurrences
    ‚Ä¢ experience ratio: 1 occurrences
    ‚Ä¢ slow walking speed: 1 occurrences
    ‚Ä¢ walking speed: 1 occurrences
    ‚Ä¢ running speed: 1 occurrences
    ‚Ä¢ riding speed: 1 occurrences

Victor & Heterogeneous Griffin:
  - 14 valeurs uniques
  - Top 10 des valeurs les plus fr√©quentes:
    ‚Ä¢ TRUE: 2 occurrences
    ‚Ä¢ 80: 2 occurrences
    ‚Ä¢ 200: 1 occurrences
    ‚Ä¢ 220: 1 occurrences
    ‚Ä¢ 8000: 1 occurrences
    ‚Ä¢ 130: 1 occurrences
    ‚Ä¢ 30: 1 occurrences
    ‚Ä¢ 90: 1 occurrences
    ‚Ä¢ 1100: 1 occurrences
    ‚Ä¢ 850: 1 occurrences

Heterogeneous Griffin:
  - 13 valeurs uniques
  - Top 10 des valeurs les plus fr√©quentes:
    ‚Ä¢ 120: 2 occurrences
    ‚Ä¢ FALSE: 2 occurrences
    ‚Ä¢ 80: 2 occurrences
    ‚Ä¢ 130: 1 occurrences
    ‚Ä¢ 140: 1 occurrences
    ‚Ä¢ 1: 1 occurrences
    ‚Ä¢ 90: 1 occurrences
    ‚Ä¢ 1200: 1 occurrences
    ‚Ä¢ 850: 1 occurrences
    ‚Ä¢ 465: 1 occurrences

Zoe & Lightning Bear:
  - 11 valeurs uniques
  - Top 10 des valeurs les plus fr√©quentes:
    ‚Ä¢ 100: 5 occurrences
    ‚Ä¢ TRUE: 2 occurrences
    ‚Ä¢ 6000: 1 occurrences
    ‚Ä¢ 30: 1 occurrences
    ‚Ä¢ 80: 1 occurrences
    ‚Ä¢ 470: 1 occurrences
    ‚Ä¢ 140: 1 occurrences
    ‚Ä¢ 650: 1 occurrences
    ‚Ä¢ 287: 1 occurrences
    ‚Ä¢ 9: 1 occurrences

Lightning Bear:
  - 12 valeurs uniques
  - Top 10 des valeurs les plus fr√©quentes:
    ‚Ä¢ 100: 4 occurrences
    ‚Ä¢ FALSE: 2 occurrences
    ‚Ä¢ 120: 1 occurrences
    ‚Ä¢ 105: 1 occurrences
    ‚Ä¢ 1: 1 occurrences
    ‚Ä¢ 80: 1 occurrences
    ‚Ä¢ 470: 1 occurrences
    ‚Ä¢ 140: 1 occurrences
    ‚Ä¢ 550: 1 occurrences
    ‚Ä¢ 210: 1 occurrences

Marcus & Horus:
  - 14 valeurs uniques
  - Top 10 des valeurs les plus fr√©quentes:
    ‚Ä¢ 100: 2 occurrences
    ‚Ä¢ TRUE: 2 occurrences
    ‚Ä¢ 120: 1 occurrences
    ‚Ä¢ 125: 1 occurrences
    ‚Ä¢ 90: 1 occurrences
    ‚Ä¢ 6500: 1 occurrences
    ‚Ä¢ 30: 1 occurrences
    ‚Ä¢ 150: 1 occurrences
    ‚Ä¢ 1000: 1 occurrences
    ‚Ä¢ 200: 1 occurrences

Horus:
  - 14 valeurs uniques
  - Top 10 des valeurs les plus fr√©quentes:
    ‚Ä¢ 100: 2 occurrences
    ‚Ä¢ FALSE: 2 occurrences
    ‚Ä¢ 110: 1 occurrences
    ‚Ä¢ 90: 1 occurrences
    ‚Ä¢ 1: 1 occurrences
    ‚Ä¢ 105: 1 occurrences
    ‚Ä¢ 150: 1 occurrences
    ‚Ä¢ 200: 1 occurrences
    ‚Ä¢ 1400: 1 occurrences
    ‚Ä¢ 1000: 1 occurrences

Lily & Lily Queen:
  - 12 valeurs uniques
  - Top 10 des valeurs les plus fr√©quentes:
    ‚Ä¢ 100: 4 occurrences
    ‚Ä¢ TRUE: 2 occurrences
    ‚Ä¢ 110: 1 occurrences
    ‚Ä¢ 5500: 1 occurrences
    ‚Ä¢ 105: 1 occurrences
    ‚Ä¢ 30: 1 occurrences
    ‚Ä¢ 450: 1 occurrences
    ‚Ä¢ 60: 1 occurrences
    ‚Ä¢ 650: 1 occurrences
    ‚Ä¢ 275: 1 occurrences

lily queen:
  - 11 valeurs uniques
  - Top 10 des valeurs les plus fr√©quentes:
    ‚Ä¢ 100: 4 occurrences
    ‚Ä¢ 110: 2 occurrences
    ‚Ä¢ FALSE: 2 occurrences
    ‚Ä¢ 105: 1 occurrences
    ‚Ä¢ 1: 1 occurrences
    ‚Ä¢ 450: 1 occurrences
    ‚Ä¢ 60: 1 occurrences
    ‚Ä¢ 550: 1 occurrences
    ‚Ä¢ 275: 1 occurrences
    ‚Ä¢ 5: 1 occurrences

Axel & Pollux:
  - 12 valeurs uniques
  - Top 10 des valeurs les plus fr√©quentes:
    ‚Ä¢ 100: 4 occurrences
    ‚Ä¢ TRUE: 2 occurrences
    ‚Ä¢ 140: 1 occurrences
    ‚Ä¢ 6500: 1 occurrences
    ‚Ä¢ 110: 1 occurrences
    ‚Ä¢ 30: 1 occurrences
    ‚Ä¢ 900: 1 occurrences
    ‚Ä¢ 185: 1 occurrences
    ‚Ä¢ 1300: 1 occurrences
    ‚Ä¢ 542: 1 occurrences

Pollux:
  - 10 valeurs uniques
  - Valeurs: ['100' '130' '1' '185' '900' '1200' '250' 'FALSE' '5' '140']

Valeurs aberrantes (m√©thode IQR):

Valeurs aberrantes (m√©thode IQR):

======================================================================

In [149]:
explore_dataframe(combat_attribute, 'Combat Attribut')

===== Exploration de Combat Attribut =====

--- Informations de base ---
Class: <class 'pandas.core.frame.DataFrame'>
Index: <class 'pandas.core.indexes.range.RangeIndex'> | RangeIndex(start=0, stop=139, step=1)
Entries: 139 | Columns: 50

                           Column  Non-Null Count   Dtype
0   Table of Contents Palu Job...             139  object
1                      Unnamed: 1             139  object
2                      Unnamed: 2             139  object
3                      Unnamed: 3             139  object
4                      Unnamed: 4               2  object
5                      Unnamed: 5               1  object
6                      Unnamed: 6               2  object
7                      Unnamed: 7             139  object
8                      Unnamed: 8             139  object
9                      Unnamed: 9             139  object
10                    Unnamed: 10              34  object
11                    Unnamed: 11             139  object
12                    Unnamed: 12             139  object
13                    Unnamed: 13             139  object
14                    Unnamed: 14              27  object
15                    Unnamed: 15             139  object
16                    Unnamed: 16             139  object
17                    Unnamed: 17             139  object
18                    Unnamed: 18             139  object
19                    Unnamed: 19              26  object
20                    Unnamed: 20             139  object
21                    Unnamed: 21             139  object
22                    Unnamed: 22             139  object
23                    Unnamed: 23             139  object
24                    Unnamed: 24             139  object
25                    Unnamed: 25             139  object
26                    Unnamed: 26             139  object
27  Non-bonus panel attack pow...             139  object
28                    Unnamed: 28             139  object
29                    Unnamed: 29             139  object
30                    Unnamed: 30             139  object
31                    Unnamed: 31               1  object
32                    Unnamed: 32             139  object
33                    Unnamed: 33             139  object
34                    Unnamed: 34             139  object
35                    Unnamed: 35             139  object
36                    Unnamed: 36              62  object
37                    Unnamed: 37             139  object
38                    Unnamed: 38             139  object
39                    Unnamed: 39             139  object
40                    Unnamed: 40             139  object
41                    Unnamed: 41              18  object
42                    Unnamed: 42               5  object
43                 Partner skills             139  object
44                    Unnamed: 44             139  object
45                    Unnamed: 45             139  object
46                    Unnamed: 46             139  object
47                    Unnamed: 47             139  object
48                    Unnamed: 48             139  object
49                    Unnamed: 49             139  object

Memory usage: 409.73 KB

Dimensions: 139 lignes, 50 colonnes

Aper√ßu des premi√®res lignes:

  Table of Contents Palu Job Skill Table Skill Learning Level Tower BOSS Attributes Comparison with Normal BOSS Attributes Comparison of Partner Skill Values Individual Value Calculator    Unnamed: 1 Unnamed: 2 Unnamed: 3          Unnamed: 4    Unnamed: 5                  Unnamed: 6 Unnamed: 7              Unnamed: 8 Unnamed: 9 Unnamed: 10  Unnamed: 11 Unnamed: 12 Unnamed: 13 Unnamed: 14                    Unnamed: 15                 Unnamed: 16           Unnamed: 17  Unnamed: 18 Unnamed: 19 Unnamed: 20 Unnamed: 21   Unnamed: 22    Unnamed: 23 Unnamed: 24 Unnamed: 25    Unnamed: 26 Non-bonus panel attack power range reference Unnamed: 28 Unnamed: 29       Unnamed: 30      Unnamed: 31 Unnamed: 32         Unnamed: 33    Unnamed: 34    Unnamed: 35          Unnamed: 36                Unnamed: 37 Unnamed: 38            Unnamed: 39 Unnamed: 40         Unnamed: 41         Unnamed: 42            Partner skills Unnamed: 44 Unnamed: 45 Unnamed: 46 Unnamed: 47 Unnamed: 48                    Unnamed: 49
0                             ID                                                                                                                                                           Chinese name       Name   CodeName  OverrideNameTextID  NamePrefixID  OverridePartnerSkillTextID      IsPal                   Tribe    BPClass     variant  Volume size      rarity   Element 1   Element 2                  GenusCategory                Organization                weapon  WeaponEquip   nocturnal    4D total          HP  melee attack  Remote attack     defense     support  Speed of work                        Level 1                  Level 20    Level 50       AIRResponse  AISightResponse   endurance  slow walking speed  walking speed  running speed  Riding sprint speed  (being) damage multiplier  catch rate  Experience multiplier       price  Must bring entry 1  Must bring entry 2     Numerical description         lv1         lv2         lv3         lv4         lv5              Skill description
1                              1                                                                                                                                                            Mian Youyou    Lamball  SheepBall                 NaN           NaN                         NaN       TRUE  EPalTribeID::SheepBall  SheepBall         NaN           XS           1   generally         NaN  EPalGenusCategoryType::Hum...  EPalOrganizationType::None  EPalWeaponType::None        FALSE         NaN         280          70            70             70          70         100            100                        105-106                   205-236     362-441          Friendly              NaN         100                  23             40            400                  NaN                       200%        150%                   100%        1000                 NaN                 NaN              Ranch skills           0           0           0           0           0  When activated, it will tr...
2                              2                                                                                                                                                            Naughty cat    Cattiva    PinkCat                 NaN           NaN                         NaN       TRUE    EPalTribeID::PinkCat    PinkCat         NaN           XS           1   generally         NaN  EPalGenusCategoryType::Hum...  EPalOrganizationType::None  EPalWeaponType::None        FALSE         NaN         280          70            70             70          70         100            100                        105-106                   205-236     362-441  Escape_to_Battle              NaN         100                  30             60            400                  NaN                       200%        150%                   100%        1000               timid                 NaN  Increased weight bearing          50          60          70          80          90  If PinkCat is in the team,...

Types de donn√©es:

Table of Contents Palu Job Skill Table Skill Learning Level Tower BOSS Attributes Comparison with Normal BOSS Attributes Comparison of Partner Skill Values Individual Value Calculator    object
Unnamed: 1                                                                                                                                                                                 object
Unnamed: 2                                                                                                                                                                                 object
Unnamed: 3                                                                                                                                                                                 object
Unnamed: 4                                                                                                                                                                                 object
Unnamed: 5                                                                                                                                                                                 object
Unnamed: 6                                                                                                                                                                                 object
Unnamed: 7                                                                                                                                                                                 object
Unnamed: 8                                                                                                                                                                                 object
Unnamed: 9                                                                                                                                                                                 object
Unnamed: 10                                                                                                                                                                                object
Unnamed: 11                                                                                                                                                                                object
Unnamed: 12                                                                                                                                                                                object
Unnamed: 13                                                                                                                                                                                object
Unnamed: 14                                                                                                                                                                                object
Unnamed: 15                                                                                                                                                                                object
Unnamed: 16                                                                                                                                                                                object
Unnamed: 17                                                                                                                                                                                object
Unnamed: 18                                                                                                                                                                                object
Unnamed: 19                                                                                                                                                                                object
Unnamed: 20                                                                                                                                                                                object
Unnamed: 21                                                                                                                                                                                object
Unnamed: 22                                                                                                                                                                                object
Unnamed: 23                                                                                                                                                                                object
Unnamed: 24                                                                                                                                                                                object
Unnamed: 25                                                                                                                                                                                object
Unnamed: 26                                                                                                                                                                                object
Non-bonus panel attack power range reference                                                                                                                                               object
Unnamed: 28                                                                                                                                                                                object
Unnamed: 29                                                                                                                                                                                object
Unnamed: 30                                                                                                                                                                                object
Unnamed: 31                                                                                                                                                                                object
Unnamed: 32                                                                                                                                                                                object
Unnamed: 33                                                                                                                                                                                object
Unnamed: 34                                                                                                                                                                                object
Unnamed: 35                                                                                                                                                                                object
Unnamed: 36                                                                                                                                                                                object
Unnamed: 37                                                                                                                                                                                object
Unnamed: 38                                                                                                                                                                                object
Unnamed: 39                                                                                                                                                                                object
Unnamed: 40                                                                                                                                                                                object
Unnamed: 41                                                                                                                                                                                object
Unnamed: 42                                                                                                                                                                                object
Partner skills                                                                                                                                                                             object
Unnamed: 44                                                                                                                                                                                object
Unnamed: 45                                                                                                                                                                                object
Unnamed: 46                                                                                                                                                                                object
Unnamed: 47                                                                                                                                                                                object
Unnamed: 48                                                                                                                                                                                object
Unnamed: 49                                                                                                                                                                                object
dtype: object

Statistiques descriptives:

       Table of Contents Palu Job Skill Table Skill Learning Level Tower BOSS Attributes Comparison with Normal BOSS Attributes Comparison of Partner Skill Values Individual Value Calculator   Unnamed: 1 Unnamed: 2 Unnamed: 3          Unnamed: 4    Unnamed: 5                  Unnamed: 6 Unnamed: 7               Unnamed: 8 Unnamed: 9 Unnamed: 10 Unnamed: 11 Unnamed: 12 Unnamed: 13 Unnamed: 14                    Unnamed: 15                 Unnamed: 16           Unnamed: 17 Unnamed: 18 Unnamed: 19 Unnamed: 20 Unnamed: 21 Unnamed: 22 Unnamed: 23 Unnamed: 24 Unnamed: 25 Unnamed: 26 Non-bonus panel attack power range reference Unnamed: 28 Unnamed: 29 Unnamed: 30      Unnamed: 31 Unnamed: 32 Unnamed: 33 Unnamed: 34 Unnamed: 35 Unnamed: 36 Unnamed: 37 Unnamed: 38 Unnamed: 39 Unnamed: 40 Unnamed: 41         Unnamed: 42       Partner skills Unnamed: 44 Unnamed: 45 Unnamed: 46 Unnamed: 47 Unnamed: 48                    Unnamed: 49
count                             139                                                                                                                                                                   139        139        139                   2             1                           2        139                      139        139          34         139         139         139          27                            139                         139                   139         139          26         139         139         139         139         139         139         139                            139                       139         139         139                1         139         139         139         139          62         139         139         139         139          18                   5                  139         139         139         139         139         139                            139
unique                            112                                                                                                                                                                   138        139        139                   2             1                           2          2                      138        139           2           6          12          10           9                              8                           2                     2           2           2          45          18          12          19          19          11           2                             16                        19          19           6                1          11          30          39          32          20           9           7           2         119          12                   5                   37          29          33          35          32          30                            121
top                                12                                                                                                                                                           Thunderbird       Name   CodeName  OverrideNameTextID  NamePrefixID  OverridePartnerSkillTextID       TRUE  EPalTribeID::PlantSlime    BPClass         yes           L           1        Wood        land  EPalGenusCategoryType::Hum...  EPalOrganizationType::None  EPalWeaponType::None       FALSE         yes         395          70         100          70          70         100         100                        107-109                   205-236     362-441     Warlike  AISightResponse         100         100         100         400         800        100%        100%        100%        1000      legend  Must bring entry 2  Attack power bonus%           0          55          65          80          20  Can be moved around on its...
freq                                2                                                                                                                                                                     2          1          1                   1             1                           1        138                        2          1          33          43          28          22           6                             54                         138                   138         138          25          10          20          68          21          28         116         138                             25                        21          21          67                1         123          32          24          20          11         118         118         138           6           5                   1                   25          25          20          20          21          28                              3

Valeurs manquantes:

             Total  Pourcentage
Unnamed: 4     137    98.561151
Unnamed: 5     138    99.280576
Unnamed: 6     137    98.561151
Unnamed: 10    105    75.539568
Unnamed: 14    112    80.575540
Unnamed: 19    113    81.294964
Unnamed: 31    138    99.280576
Unnamed: 36     77    55.395683
Unnamed: 41    121    87.050360
Unnamed: 42    134    96.402878

Nombre de lignes dupliqu√©es: 0

Analyse des colonnes cat√©gorielles:

Table of Contents Palu Job Skill Table Skill Learning Level Tower BOSS Attributes Comparison with Normal BOSS Attributes Comparison of Partner Skill Values Individual Value Calculator:
  - 112 valeurs uniques
  - Top 5 des valeurs les plus fr√©quentes:
    ‚Ä¢ 12: 2 occurrences
    ‚Ä¢ 13: 2 occurrences
    ‚Ä¢ 37: 2 occurrences
    ‚Ä¢ 40: 2 occurrences
    ‚Ä¢ 45: 2 occurrences
  - Valeur la moins fr√©quente: 111 (1 occurrence(s))

Unnamed: 1:
  - 138 valeurs uniques
  - Top 5 des valeurs les plus fr√©quentes:
    ‚Ä¢ Thunderbird: 2 occurrences
    ‚Ä¢ Chinese name: 1 occurrences
    ‚Ä¢ Naughty cat: 1 occurrences
    ‚Ä¢ Pipi Chicken: 1 occurrences
    ‚Ä¢ green leaf rat: 1 occurrences
  - Valeur la moins fr√©quente: Vortex Dragon (1 occurrence(s))

Unnamed: 2:
  - 139 valeurs uniques
  - Top 5 des valeurs les plus fr√©quentes:
    ‚Ä¢ Name: 1 occurrences
    ‚Ä¢ Lamball: 1 occurrences
    ‚Ä¢ Cattiva: 1 occurrences
    ‚Ä¢ Chikipi: 1 occurrences
    ‚Ä¢ Lifmunk: 1 occurrences
  - Valeur la moins fr√©quente: Jetragon (1 occurrence(s))

Unnamed: 3:
  - 139 valeurs uniques
  - Top 5 des valeurs les plus fr√©quentes:
    ‚Ä¢ CodeName: 1 occurrences
    ‚Ä¢ SheepBall: 1 occurrences
    ‚Ä¢ PinkCat: 1 occurrences
    ‚Ä¢ ChickenPal: 1 occurrences
    ‚Ä¢ Carbunclo: 1 occurrences
  - Valeur la moins fr√©quente: JetDragon (1 occurrence(s))

Unnamed: 4:
  - 3 valeurs uniques
  - Valeurs: ['OverrideNameTextID' nan 'PAL_NAME_PlantSlime']

Unnamed: 5:
  - 2 valeurs uniques
  - Valeurs: ['NamePrefixID' nan]

Unnamed: 6:
  - 3 valeurs uniques
  - Valeurs: ['OverridePartnerSkillTextID' nan 'PARTNERSKILL_PlantSlime']

Unnamed: 7:
  - 2 valeurs uniques
  - Valeurs: ['IsPal' 'TRUE']

Unnamed: 8:
  - 138 valeurs uniques
  - Top 5 des valeurs les plus fr√©quentes:
    ‚Ä¢ EPalTribeID::PlantSlime: 2 occurrences
    ‚Ä¢ Tribe: 1 occurrences
    ‚Ä¢ EPalTribeID::PinkCat: 1 occurrences
    ‚Ä¢ EPalTribeID::ChickenPal: 1 occurrences
    ‚Ä¢ EPalTribeID::Carbunclo: 1 occurrences
  - Valeur la moins fr√©quente: EPalTribeID::JetDragon (1 occurrence(s))

Unnamed: 9:
  - 139 valeurs uniques
  - Top 5 des valeurs les plus fr√©quentes:
    ‚Ä¢ BPClass: 1 occurrences
    ‚Ä¢ SheepBall: 1 occurrences
    ‚Ä¢ PinkCat: 1 occurrences
    ‚Ä¢ ChickenPal: 1 occurrences
    ‚Ä¢ Carbunclo: 1 occurrences
  - Valeur la moins fr√©quente: JetDragon (1 occurrence(s))

Unnamed: 10:
  - 3 valeurs uniques
  - Valeurs: ['variant' nan 'yes']

Unnamed: 11:
  - 6 valeurs uniques
  - Valeurs: ['Volume size' 'XS' 'S' 'L' 'M' 'XL']

Unnamed: 12:
  - 12 valeurs uniques
  - Top 10 des valeurs les plus fr√©quentes:
    ‚Ä¢ 1: 28 occurrences
    ‚Ä¢ 6: 17 occurrences
    ‚Ä¢ 8: 15 occurrences
    ‚Ä¢ 7: 15 occurrences
    ‚Ä¢ 2: 12 occurrences
    ‚Ä¢ 5: 11 occurrences
    ‚Ä¢ 9: 11 occurrences
    ‚Ä¢ 3: 10 occurrences
    ‚Ä¢ 4: 10 occurrences
    ‚Ä¢ 20: 5 occurrences

Unnamed: 13:
  - 10 valeurs uniques
  - Valeurs: ['Element 1' 'generally' 'Wood' 'fire' 'water' 'electricity' 'ice' 'dark'
 'land' 'dragon']

Unnamed: 14:
  - 10 valeurs uniques
  - Valeurs: ['Element 2' nan 'ice' 'land' 'dark' 'dragon' 'water' 'electricity' 'Wood'
 'fire']

Unnamed: 15:
  - 8 valeurs uniques
  - Valeurs: ['GenusCategory' 'EPalGenusCategoryType::Humanoid'
 'EPalGenusCategoryType::Bird' 'EPalGenusCategoryType::FourLegged'
 'EPalGenusCategoryType::Other' 'EPalGenusCategoryType::Fish'
 'EPalGenusCategoryType::Dragon' 'EPalGenusCategoryType::Monster']

Unnamed: 16:
  - 2 valeurs uniques
  - Valeurs: ['Organization' 'EPalOrganizationType::None']

Unnamed: 17:
  - 2 valeurs uniques
  - Valeurs: ['weapon' 'EPalWeaponType::None']

Unnamed: 18:
  - 2 valeurs uniques
  - Valeurs: ['WeaponEquip' 'FALSE']

Unnamed: 19:
  - 3 valeurs uniques
  - Valeurs: ['nocturnal' nan 'yes']

Unnamed: 20:
  - 45 valeurs uniques
  - Top 5 des valeurs les plus fr√©quentes:
    ‚Ä¢ 395: 10 occurrences
    ‚Ä¢ 330: 8 occurrences
    ‚Ä¢ 310: 8 occurrences
    ‚Ä¢ 280: 7 occurrences
    ‚Ä¢ 375: 7 occurrences
  - Valeur la moins fr√©quente: 460 (1 occurrence(s))

Unnamed: 21:
  - 18 valeurs uniques
  - Top 10 des valeurs les plus fr√©quentes:
    ‚Ä¢ 70: 20 occurrences
    ‚Ä¢ 100: 20 occurrences
    ‚Ä¢ 90: 19 occurrences
    ‚Ä¢ 80: 14 occurrences
    ‚Ä¢ 110: 14 occurrences
    ‚Ä¢ 120: 9 occurrences
    ‚Ä¢ 75: 8 occurrences
    ‚Ä¢ 95: 7 occurrences
    ‚Ä¢ 60: 7 occurrences
    ‚Ä¢ 105: 5 occurrences

Unnamed: 22:
  - 12 valeurs uniques
  - Top 10 des valeurs les plus fr√©quentes:
    ‚Ä¢ 100: 68 occurrences
    ‚Ä¢ 70: 27 occurrences
    ‚Ä¢ 80: 11 occurrences
    ‚Ä¢ 110: 10 occurrences
    ‚Ä¢ 90: 8 occurrences
    ‚Ä¢ 150: 5 occurrences
    ‚Ä¢ 130: 3 occurrences
    ‚Ä¢ 120: 2 occurrences
    ‚Ä¢ 50: 2 occurrences
    ‚Ä¢ melee attack: 1 occurrences

Unnamed: 23:
  - 19 valeurs uniques
  - Top 10 des valeurs les plus fr√©quentes:
    ‚Ä¢ 70: 21 occurrences
    ‚Ä¢ 80: 16 occurrences
    ‚Ä¢ 105: 14 occurrences
    ‚Ä¢ 100: 13 occurrences
    ‚Ä¢ 95: 12 occurrences
    ‚Ä¢ 90: 11 occurrences
    ‚Ä¢ 85: 8 occurrences
    ‚Ä¢ 75: 8 occurrences
    ‚Ä¢ 110: 6 occurrences
    ‚Ä¢ 115: 5 occurrences

Unnamed: 24:
  - 19 valeurs uniques
  - Top 10 des valeurs les plus fr√©quentes:
    ‚Ä¢ 70: 28 occurrences
    ‚Ä¢ 80: 25 occurrences
    ‚Ä¢ 90: 21 occurrences
    ‚Ä¢ 100: 17 occurrences
    ‚Ä¢ 120: 8 occurrences
    ‚Ä¢ 110: 6 occurrences
    ‚Ä¢ 75: 6 occurrences
    ‚Ä¢ 105: 5 occurrences
    ‚Ä¢ 60: 5 occurrences
    ‚Ä¢ 95: 5 occurrences

Unnamed: 25:
  - 11 valeurs uniques
  - Top 10 des valeurs les plus fr√©quentes:
    ‚Ä¢ 100: 116 occurrences
    ‚Ä¢ 70: 4 occurrences
    ‚Ä¢ 120: 4 occurrences
    ‚Ä¢ 90: 3 occurrences
    ‚Ä¢ 140: 3 occurrences
    ‚Ä¢ 30: 2 occurrences
    ‚Ä¢ 110: 2 occurrences
    ‚Ä¢ 150: 2 occurrences
    ‚Ä¢ support: 1 occurrences
    ‚Ä¢ 80: 1 occurrences

Unnamed: 26:
  - 2 valeurs uniques
  - Valeurs: ['Speed of work' '100']

Non-bonus panel attack power range reference:
  - 16 valeurs uniques
  - Top 10 des valeurs les plus fr√©quentes:
    ‚Ä¢ 107-109: 25 occurrences
    ‚Ä¢ 105-106: 21 occurrences
    ‚Ä¢ 106-108: 19 occurrences
    ‚Ä¢ 106-107: 16 occurrences
    ‚Ä¢ 107-110: 14 occurrences
    ‚Ä¢ 105-107: 8 occurrences
    ‚Ä¢ 109-112: 7 occurrences
    ‚Ä¢ 108-110: 6 occurrences
    ‚Ä¢ 104-105: 5 occurrences
    ‚Ä¢ 108-111: 5 occurrences

Unnamed: 28:
  - 19 valeurs uniques
  - Top 10 des valeurs les plus fr√©quentes:
    ‚Ä¢ 205-236: 21 occurrences
    ‚Ä¢ 220-256: 16 occurrences
    ‚Ä¢ 257-304: 14 occurrences
    ‚Ä¢ 250-295: 13 occurrences
    ‚Ä¢ 242-285: 12 occurrences
    ‚Ä¢ 235-275: 11 occurrences
    ‚Ä¢ 227-265: 8 occurrences
    ‚Ä¢ 212-246: 8 occurrences
    ‚Ä¢ 265-314: 6 occurrences
    ‚Ä¢ 272-324: 5 occurrences

Unnamed: 29:
  - 19 valeurs uniques
  - Top 10 des valeurs les plus fr√©quentes:
    ‚Ä¢ 362-441: 21 occurrences
    ‚Ä¢ 400-490: 16 occurrences
    ‚Ä¢ 493-611: 14 occurrences
    ‚Ä¢ 475-587: 13 occurrences
    ‚Ä¢ 456-563: 12 occurrences
    ‚Ä¢ 437-538: 11 occurrences
    ‚Ä¢ 418-514: 8 occurrences
    ‚Ä¢ 381-465: 8 occurrences
    ‚Ä¢ 512-636: 6 occurrences
    ‚Ä¢ 531-660: 5 occurrences

Unnamed: 30:
  - 6 valeurs uniques
  - Valeurs: ['AIRResponse' 'Friendly' 'Escape_to_Battle' 'Escape' 'Warlike'
 'NotInterested']

Unnamed: 31:
  - 2 valeurs uniques
  - Valeurs: ['AISightResponse' nan]

Unnamed: 32:
  - 11 valeurs uniques
  - Top 10 des valeurs les plus fr√©quentes:
    ‚Ä¢ 100: 123 occurrences
    ‚Ä¢ 150: 3 occurrences
    ‚Ä¢ 300: 3 occurrences
    ‚Ä¢ 280: 2 occurrences
    ‚Ä¢ 130: 2 occurrences
    ‚Ä¢ endurance: 1 occurrences
    ‚Ä¢ 160: 1 occurrences
    ‚Ä¢ 170: 1 occurrences
    ‚Ä¢ 220: 1 occurrences
    ‚Ä¢ 230: 1 occurrences

Unnamed: 33:
  - 30 valeurs uniques
  - Top 5 des valeurs les plus fr√©quentes:
    ‚Ä¢ 100: 32 occurrences
    ‚Ä¢ 50: 22 occurrences
    ‚Ä¢ 80: 14 occurrences
    ‚Ä¢ 70: 11 occurrences
    ‚Ä¢ 30: 11 occurrences
  - Valeur la moins fr√©quente: 600 (1 occurrence(s))

Unnamed: 34:
  - 39 valeurs uniques
  - Top 5 des valeurs les plus fr√©quentes:
    ‚Ä¢ 100: 24 occurrences
    ‚Ä¢ 150: 12 occurrences
    ‚Ä¢ 60: 11 occurrences
    ‚Ä¢ 200: 10 occurrences
    ‚Ä¢ 120: 9 occurrences
  - Valeur la moins fr√©quente: 800 (1 occurrence(s))

Unnamed: 35:
  - 32 valeurs uniques
  - Top 5 des valeurs les plus fr√©quentes:
    ‚Ä¢ 400: 20 occurrences
    ‚Ä¢ 300: 14 occurrences
    ‚Ä¢ 600: 14 occurrences
    ‚Ä¢ 700: 12 occurrences
    ‚Ä¢ 500: 10 occurrences
  - Valeur la moins fr√©quente: 1700 (1 occurrence(s))

Unnamed: 36:
  - 21 valeurs uniques
  - Top 5 des valeurs les plus fr√©quentes:
    ‚Ä¢ 800: 11 occurrences
    ‚Ä¢ 700: 10 occurrences
    ‚Ä¢ 900: 6 occurrences
    ‚Ä¢ 550: 5 occurrences
    ‚Ä¢ 1100: 4 occurrences
  - Valeur la moins fr√©quente: 3300 (1 occurrence(s))

Unnamed: 37:
  - 9 valeurs uniques
  - Valeurs: ['(being) damage multiplier' '200%' '100%' '130%' '120%' '180%' '170%'
 '160%' '110%']

Unnamed: 38:
  - 7 valeurs uniques
  - Valeurs: ['catch rate' '150%' '90%' '110%' '100%' '120%' '130%']

Unnamed: 39:
  - 2 valeurs uniques
  - Valeurs: ['Experience multiplier' '100%']

Unnamed: 40:
  - 119 valeurs uniques
  - Top 5 des valeurs les plus fr√©quentes:
    ‚Ä¢ 1000: 6 occurrences
    ‚Ä¢ 6830: 3 occurrences
    ‚Ä¢ 6720: 3 occurrences
    ‚Ä¢ 1310: 2 occurrences
    ‚Ä¢ 1020: 2 occurrences
  - Valeur la moins fr√©quente: 8680 (1 occurrence(s))

Unnamed: 41:
  - 13 valeurs uniques
  - Top 10 des valeurs les plus fr√©quentes:
    ‚Ä¢ legend: 5 occurrences
    ‚Ä¢ hard skin: 3 occurrences
    ‚Ä¢ timid: 1 occurrences
    ‚Ä¢ Must bring entry 1: 1 occurrences
    ‚Ä¢ rough: 1 occurrences
    ‚Ä¢ Uncharacteristically: 1 occurrences
    ‚Ä¢ Emperor Yan: 1 occurrences
    ‚Ä¢ Greedy: 1 occurrences
    ‚Ä¢ Yandi: 1 occurrences
    ‚Ä¢ Neptune: 1 occurrences

Unnamed: 42:
  - 6 valeurs uniques
  - Valeurs: ['Must bring entry 2' nan 'holy day' 'Hades' 'ice King' 'Shenlong']

Partner skills:
  - 37 valeurs uniques
  - Top 5 des valeurs les plus fr√©quentes:
    ‚Ä¢ Attack power bonus%: 25 occurrences
    ‚Ä¢ Skill power: 13 occurrences
    ‚Ä¢ Skill power multiplier: 13 occurrences
    ‚Ä¢ Moving speed%: 13 occurrences
    ‚Ä¢ Ranch skills: 10 occurrences
  - Valeur la moins fr√©quente: Elemental power bonus%_Ice (1 occurrence(s))

Unnamed: 44:
  - 29 valeurs uniques
  - Top 5 des valeurs les plus fr√©quentes:
    ‚Ä¢ 0: 25 occurrences
    ‚Ä¢ 50: 22 occurrences
    ‚Ä¢ 10: 16 occurrences
    ‚Ä¢ 40: 11 occurrences
    ‚Ä¢ 1.1: 10 occurrences
  - Valeur la moins fr√©quente: 13 (1 occurrence(s))

Unnamed: 45:
  - 33 valeurs uniques
  - Top 5 des valeurs les plus fr√©quentes:
    ‚Ä¢ 55: 20 occurrences
    ‚Ä¢ 11: 16 occurrences
    ‚Ä¢ 10: 12 occurrences
    ‚Ä¢ 0: 11 occurrences
    ‚Ä¢ 50: 11 occurrences
  - Valeur la moins fr√©quente: 14.3 (1 occurrence(s))

Unnamed: 46:
  - 35 valeurs uniques
  - Top 5 des valeurs les plus fr√©quentes:
    ‚Ä¢ 65: 20 occurrences
    ‚Ä¢ 13: 16 occurrences
    ‚Ä¢ 12: 12 occurrences
    ‚Ä¢ 0: 11 occurrences
    ‚Ä¢ 60: 11 occurrences
  - Valeur la moins fr√©quente: 16.9 (1 occurrence(s))

Unnamed: 47:
  - 32 valeurs uniques
  - Top 5 des valeurs les plus fr√©quentes:
    ‚Ä¢ 80: 21 occurrences
    ‚Ä¢ 16: 16 occurrences
    ‚Ä¢ 15: 12 occurrences
    ‚Ä¢ 0: 11 occurrences
    ‚Ä¢ 70: 11 occurrences
  - Valeur la moins fr√©quente: 20.9 (1 occurrence(s))

Unnamed: 48:
  - 30 valeurs uniques
  - Top 5 des valeurs les plus fr√©quentes:
    ‚Ä¢ 20: 28 occurrences
    ‚Ä¢ 100: 20 occurrences
    ‚Ä¢ 80: 11 occurrences
    ‚Ä¢ 0: 11 occurrences
    ‚Ä¢ 2.5: 10 occurrences
  - Valeur la moins fr√©quente: 26 (1 occurrence(s))

Unnamed: 49:
  - 121 valeurs uniques
  - Top 5 des valeurs les plus fr√©quentes:
    ‚Ä¢ Can be moved around on its back. Two jumps are possible during the ride.: 3 occurrences
    ‚Ä¢ If it is in the party, players will be able to deal more damage when harvesting.: 2 occurrences
    ‚Ä¢ Can be moved around on its back. It can also continuously attack with a grenade launcher while riding.: 2 occurrences
    ‚Ä¢ After activation, the sixth sense can be activated to detect the location of nearby dungeons.: 2 occurrences
    ‚Ä¢ When fighting alongside it, players will be able to deal more damage to enemy weak points.: 2 occurrences
  - Valeur la moins fr√©quente: You can ride on its back and fly in the air. It can also continuously attack with its missile launcher while riding. (1 occurrence(s))

Valeurs aberrantes (m√©thode IQR):

Valeurs aberrantes (m√©thode IQR):

======================================================================

In [218]:
explore_dataframe(hidden_attribute, 'Hidden Attribute')

===== Exploration de Hidden Attribute =====

--- Informations de base ---
Class: <class 'pandas.core.frame.DataFrame'>
Index: <class 'pandas.core.indexes.range.RangeIndex'> | RangeIndex(start=0, stop=177, step=1)
Entries: 177 | Columns: 71

                        Column  Non-Null Count    Dtype
0                 Chinese name             177   object
1                    code name             177   object
2           OverrideNameTextID             160   object
3                 NamePrefixID             160   object
4   OverridePartnerSkillTextID             160   object
..                         ...             ...      ...
66                     pasture             177    int64
67             Passive skill 1              17   object
68             Passive skill 2               4   object
69             Passive skill 3               0  float64
70             Passive skill 4               0  float64

[71 rows x 3 columns]

Memory usage: 279.95 KB

Dimensions: 177 lignes, 71 colonnes

Aper√ßu des premi√®res lignes:

                    Chinese name         code name    OverrideNameTextID     NamePrefixID OverridePartnerSkillTextID  IsPal                      Tribe           BPClass  Pictorial ID  ZukanIndexSuffix Size  rarity    Element 1 Element 2                  GenusCategory                Organization                weapon  WeaponEquip    HP  melee attack  Remote attack  defense  support  CraftSpeed (being) damage multiplier Capture probability  Experience multiplier  price AIRResponse  AISightResponse  slow walking speed  walking speed  running speed  Riding sprint speed  Handling speed  IsBoss  IsTowerBoss                     BattleBGM  IgnoreLeanBack  IgnoreBlowAway  MaxFullStomach  FullStomachDecreaseRate  FoodAmount  ViewingDistance  ViewingAngle  HearingRate  NooseTrap  Nocturnal  BiologicalGrade  Predator  Edible  endurance  Male probability  fecundity  Breathing fire  watering  planting  generate electricity  manual  collection  logging  Mining  OilExtraction (not shown in game)  pharmaceutical  cool down  carry  pasture Passive skill 1 Passive skill 2  Passive skill 3  Passive skill 4
0  Victor & Heterogeneous Gri...  GYM_BlackGriffon     PAL_NAME_SnowBoss    GYM_NAME_Snow   PARTNERSKILL_lackGriffon   True  EPalTribeID::BlackGriffon  GYM_BlackGriffon            -2               NaN   XL      10         Dark       NaN  EPalGenusCategoryType::Fou...  EPalOrganizationType::None  EPalWeaponType::None        False  8000           130            200      220       90         100                      100%                100%                     30   9060     Warlike              NaN                  80             80            850                 1100             465    True         True  EPalBattleBGMType::TowerBoss            True            True             525                        1           8               25            90            1      False       True                9     False    True        100               100       9999               0         0         0                     0       0           1        0       0                              0                   0          0      0        0             NaN             NaN              NaN              NaN
1           Zoe & Lightning Bear     GYM_ElecPanda    PAL_NAME_GrassBoss  GYM_NAME_Meadow      PARTNERSKILL_lecPanda   True     EPalTribeID::ElecPanda     GYM_ElecPanda            -2               NaN   XL       8  Electricity       NaN  EPalGenusCategoryType::Hum...  EPalOrganizationType::None  EPalWeaponType::None        False  6000           100            100      100      100         100                      100%                100%                     30   6610     Warlike              NaN                  80            140            470                  650             287    True         True  EPalBattleBGMType::TowerBoss            True            True             475                        1           6               25            90            1      False      False                9      True    True        100                 0       9999               0         0         0                     3       2           0        2       0                              0                   0          0      3        0             NaN             NaN              NaN              NaN
2                 Marcus & Horus         GYM_Horus  PAL_NAME_DessertBoss  GYM_NAME_Desert          PARTNERSKILL_orus   True         EPalTribeID::Horus         GYM_Horus            -2               NaN   XL       9         Fire       NaN    EPalGenusCategoryType::Bird  EPalOrganizationType::None  EPalWeaponType::None        False  6500           100            120      125       90         100                      100%                100%                     30   6720     Warlike              NaN                 150            200           1000                 1300             500    True         True  EPalBattleBGMType::TowerBoss            True            True             525                        1           8               25            90            1      False      False                9     False    True        100               100       9999               3         0         0                     0       0           0        0       0                              0                   0          0      3        0             NaN             NaN              NaN              NaN

Types de donn√©es:

Chinese name                   object
code name                      object
OverrideNameTextID             object
NamePrefixID                   object
OverridePartnerSkillTextID     object
                               ...
pasture                         int64
Passive skill 1                object
Passive skill 2                object
Passive skill 3               float64
Passive skill 4               float64
Length: 71, dtype: object

Statistiques descriptives:

                       Chinese name         code name   OverrideNameTextID          NamePrefixID OverridePartnerSkillTextID IsPal                      Tribe        BPClass  Pictorial ID  ZukanIndexSuffix Size      rarity Element 1 Element 2                  GenusCategory                Organization                weapon WeaponEquip           HP  melee attack  Remote attack     defense     support  CraftSpeed (being) damage multiplier Capture probability  Experience multiplier         price AIRResponse  AISightResponse  slow walking speed  walking speed  running speed  Riding sprint speed  Handling speed IsBoss IsTowerBoss                     BattleBGM IgnoreLeanBack IgnoreBlowAway  MaxFullStomach  FullStomachDecreaseRate  FoodAmount  ViewingDistance  ViewingAngle  HearingRate NooseTrap Nocturnal  BiologicalGrade Predator Edible   endurance  Male probability    fecundity  Breathing fire    watering    planting  generate electricity      manual  collection     logging      Mining  OilExtraction (not shown in game)  pharmaceutical   cool down       carry     pasture Passive skill 1          Passive skill 2  Passive skill 3  Passive skill 4
count                           177               177                  160                   160                        160   177                        177            177    177.000000               0.0  177  177.000000       177        31                            177                         177                   177         177   177.000000    177.000000     177.000000  177.000000  177.000000       177.0                       177                 177             177.000000    177.000000         177              0.0          177.000000     177.000000     177.000000           177.000000      177.000000    177         177                           177            177            177      177.000000                    177.0  177.000000            177.0         177.0        177.0       177       177       177.000000      177    177  177.000000        177.000000   177.000000      177.000000  177.000000  177.000000            177.000000  177.000000  177.000000  177.000000  177.000000                     177.000000          177.000000  177.000000  177.000000  177.000000              17                        4              0.0              0.0
unique                          143               177                  159                   159                        159     1                        154            174           NaN               NaN    4         NaN         9         8                              7                           1                     1           1          NaN           NaN            NaN         NaN         NaN         NaN                         4                   7                    NaN           NaN           5              NaN                 NaN            NaN            NaN                  NaN             NaN      2           2                             6              2              2             NaN                      NaN         NaN              NaN           NaN          NaN         1         2              NaN        2      1         NaN               NaN          NaN             NaN         NaN         NaN                   NaN         NaN         NaN         NaN         NaN                            NaN                 NaN         NaN         NaN         NaN              11                        4              NaN              NaN
top     does not appear in the game  GYM_BlackGriffon  PAL_NAME_PlantSlime  BOSS_NAME_PlantSlime    PARTNERSKILL_PlantSlime  True  EPalTribeID::BlackGriffon  BeardedDragon           NaN               NaN   XL         NaN      Dark      Dark  EPalGenusCategoryType::Hum...  EPalOrganizationType::None  EPalWeaponType::None       False          NaN           NaN            NaN         NaN         NaN         NaN                       20%                 70%                    NaN           NaN        Boss              NaN                 NaN            NaN            NaN                  NaN             NaN   True       False  EPalBattleBGMType::FieldBoss          False          False             NaN                      NaN         NaN              NaN           NaN          NaN     False     False              NaN    False   True         NaN               NaN          NaN             NaN         NaN         NaN                   NaN         NaN         NaN         NaN         NaN                            NaN                 NaN         NaN         NaN         NaN          Legend  ElementBoost_Dark_2_PAL              NaN              NaN
freq                             34                 1                    2                     2                          2   177                          2              2           NaN               NaN  133         NaN        29         8                             79                         177                   177         177          NaN           NaN            NaN         NaN         NaN         NaN                       111                 135                    NaN           NaN          98              NaN                 NaN            NaN            NaN                  NaN             NaN    160         172                           150            172            172             NaN                      NaN         NaN              NaN           NaN          NaN       177       143              NaN      132    177         NaN               NaN          NaN             NaN         NaN         NaN                   NaN         NaN         NaN         NaN         NaN                            NaN                 NaN         NaN         NaN         NaN               5                        1              NaN              NaN
mean                            NaN               NaN                  NaN                   NaN                        NaN   NaN                        NaN            NaN     -1.028249               NaN  NaN    4.508475       NaN       NaN                            NaN                         NaN                   NaN         NaN   282.005650     95.819209      94.858757   91.016949   99.661017       100.0                       NaN                 NaN               9.700565   4521.468927         NaN              NaN           64.751412     110.406780     469.446328           675.689266      271.847458    NaN         NaN                           NaN            NaN            NaN      334.180791                      1.0    4.774011             25.0          90.0          1.0       NaN       NaN         9.152542      NaN    NaN  110.225989         49.802260   905.943503        0.299435    0.169492    0.242938              0.163842    0.627119    0.564972    0.446328    0.322034                       0.107345            0.288136    0.197740    0.830508    0.073446             NaN                      NaN              NaN              NaN
std                             NaN               NaN                  NaN                   NaN                        NaN   NaN                        NaN            NaN      0.166152               NaN  NaN    4.195667       NaN       NaN                            NaN                         NaN                   NaN         NaN  1073.466171     17.662591      20.480238   20.242416   12.698349         0.0                       NaN                 NaN               4.370049   2894.269041         NaN              NaN           55.808880      90.900755     280.973285           435.756552      172.845222    NaN         NaN                           NaN            NaN            NaN      139.131972                      0.0    2.221998              0.0           0.0          0.0       NaN       NaN         9.992293      NaN    NaN   41.216650         11.460922  1633.349983        0.808794    0.625751    0.684876              0.631775    0.939626    0.857795    0.851937    0.827936                       0.505428            0.762416    0.648771    1.140463    0.261608             NaN                      NaN              NaN              NaN
min                             NaN               NaN                  NaN                   NaN                        NaN   NaN                        NaN            NaN     -2.000000               NaN  NaN    0.000000       NaN       NaN                            NaN                         NaN                   NaN         NaN    60.000000     50.000000      50.000000   50.000000   30.000000       100.0                       NaN                 NaN               1.000000   1000.000000         NaN              NaN           -1.000000      -1.000000      -1.000000            -1.000000       -1.000000    NaN         NaN                           NaN            NaN            NaN      100.000000                      1.0    1.000000             25.0          90.0          1.0       NaN       NaN         0.000000      NaN    NaN   70.000000          0.000000     0.000000        0.000000    0.000000    0.000000              0.000000    0.000000    0.000000    0.000000    0.000000                       0.000000            0.000000    0.000000    0.000000    0.000000             NaN                      NaN              NaN              NaN
25%                             NaN               NaN                  NaN                   NaN                        NaN   NaN                        NaN            NaN     -1.000000               NaN  NaN    1.000000       NaN       NaN                            NaN                         NaN                   NaN         NaN    80.000000     80.000000      80.000000   80.000000  100.000000       100.0                       NaN                 NaN              10.000000   1840.000000         NaN              NaN           32.000000      60.000000     300.000000           500.000000      174.000000    NaN         NaN                           NaN            NaN            NaN      225.000000                      1.0    3.000000             25.0          90.0          1.0       NaN       NaN         9.000000      NaN    NaN  100.000000         50.000000   140.000000        0.000000    0.000000    0.000000              0.000000    0.000000    0.000000    0.000000    0.000000                       0.000000            0.000000    0.000000    0.000000    0.000000             NaN                      NaN              NaN              NaN
50%                             NaN               NaN                  NaN                   NaN                        NaN   NaN                        NaN            NaN     -1.000000               NaN  NaN    4.000000       NaN       NaN                            NaN                         NaN                   NaN         NaN   100.000000    100.000000      95.000000   90.000000  100.000000       100.0                       NaN                 NaN              10.000000   4040.000000         NaN              NaN           65.000000     100.000000     470.000000           650.000000      275.000000    NaN         NaN                           NaN            NaN            NaN      350.000000                      1.0    5.000000             25.0          90.0          1.0       NaN       NaN         9.000000      NaN    NaN  100.000000         50.000000   640.000000        0.000000    0.000000    0.000000              0.000000    0.000000    0.000000    0.000000    0.000000                       0.000000            0.000000    0.000000    0.000000    0.000000             NaN                      NaN              NaN              NaN
75%                             NaN               NaN                  NaN                   NaN                        NaN   NaN                        NaN            NaN     -1.000000               NaN  NaN    7.000000       NaN       NaN                            NaN                         NaN                   NaN         NaN   105.000000    100.000000     105.000000  100.000000  100.000000       100.0                       NaN                 NaN              10.000000   6830.000000         NaN              NaN          100.000000     150.000000     630.000000           900.000000      375.000000    NaN         NaN                           NaN            NaN            NaN      475.000000                      1.0    7.000000             25.0          90.0          1.0       NaN       NaN         9.000000      NaN    NaN  100.000000         50.000000  1140.000000        0.000000    0.000000    0.000000              0.000000    1.000000    1.000000    0.000000    0.000000                       0.000000            0.000000    0.000000    2.000000    0.000000             NaN                      NaN              NaN              NaN
max                             NaN               NaN                  NaN                   NaN                        NaN   NaN                        NaN            NaN     -1.000000               NaN  NaN   20.000000       NaN       NaN                            NaN                         NaN                   NaN         NaN  8000.000000    150.000000     200.000000  220.000000  150.000000       100.0                       NaN                 NaN              30.000000  10520.000000         NaN              NaN          600.000000     800.000000    1700.000000          3300.000000     1250.000000    NaN         NaN                           NaN            NaN            NaN      600.000000                      1.0    9.000000             25.0          90.0          1.0       NaN       NaN        99.000000      NaN    NaN  350.000000        100.000000  9999.000000        4.000000    4.000000    4.000000              4.000000    4.000000    4.000000    3.000000    4.000000                       3.000000            3.000000    4.000000    4.000000    1.000000             NaN                      NaN              NaN              NaN

Valeurs manquantes:

                            Total  Pourcentage
OverrideNameTextID             17     9.604520
NamePrefixID                   17     9.604520
OverridePartnerSkillTextID     17     9.604520
ZukanIndexSuffix              177   100.000000
Element 2                     146    82.485876
AISightResponse               177   100.000000
Passive skill 1               160    90.395480
Passive skill 2               173    97.740113
Passive skill 3               177   100.000000
Passive skill 4               177   100.000000

Nombre de lignes dupliqu√©es: 0

Analyse des colonnes cat√©gorielles:

Chinese name:
  - 143 valeurs uniques
  - Top 5 des valeurs les plus fr√©quentes:
    ‚Ä¢ does not appear in the game: 34 occurrences
    ‚Ä¢ Ye NiNi: 2 occurrences
    ‚Ä¢ Zoe & Lightning Bear: 1 occurrences
    ‚Ä¢ Marcus & Horus: 1 occurrences
    ‚Ä¢ Lily & Lily Queen: 1 occurrences
  - Valeur la moins fr√©quente: ÁªøËãîÁªíÊÄ™ (1 occurrence(s))

code name:
  - 177 valeurs uniques
  - Top 5 des valeurs les plus fr√©quentes:
    ‚Ä¢ GYM_BlackGriffon: 1 occurrences
    ‚Ä¢ GYM_ElecPanda: 1 occurrences
    ‚Ä¢ GYM_Horus: 1 occurrences
    ‚Ä¢ GYM_LilyQueen: 1 occurrences
    ‚Ä¢ GYM_ThunderDragonMan: 1 occurrences
  - Valeur la moins fr√©quente: DarkMutant (1 occurrence(s))

OverrideNameTextID:
  - 160 valeurs uniques
  - Top 5 des valeurs les plus fr√©quentes:
    ‚Ä¢ PAL_NAME_PlantSlime: 2 occurrences
    ‚Ä¢ PAL_NAME_GrassBoss: 1 occurrences
    ‚Ä¢ PAL_NAME_SnowBoss: 1 occurrences
    ‚Ä¢ PAL_NAME_ForestBoss: 1 occurrences
    ‚Ä¢ PAL_NAME_VolcanoBoss: 1 occurrences
  - Valeur la moins fr√©quente: PAL_NAME_Yeti_Grass (1 occurrence(s))

NamePrefixID:
  - 160 valeurs uniques
  - Top 5 des valeurs les plus fr√©quentes:
    ‚Ä¢ BOSS_NAME_PlantSlime: 2 occurrences
    ‚Ä¢ GYM_NAME_Meadow: 1 occurrences
    ‚Ä¢ GYM_NAME_Snow: 1 occurrences
    ‚Ä¢ GYM_NAME_Forest: 1 occurrences
    ‚Ä¢ GYM_NAME_Volcano: 1 occurrences
  - Valeur la moins fr√©quente: BOSS_NAME_Yeti_Grass (1 occurrence(s))

OverridePartnerSkillTextID:
  - 160 valeurs uniques
  - Top 5 des valeurs les plus fr√©quentes:
    ‚Ä¢ PARTNERSKILL_PlantSlime: 2 occurrences
    ‚Ä¢ PARTNERSKILL_lecPanda: 1 occurrences
    ‚Ä¢ PARTNERSKILL_lackGriffon: 1 occurrences
    ‚Ä¢ PARTNERSKILL_ilyQueen: 1 occurrences
    ‚Ä¢ PARTNERSKILL_hunderDragonMan: 1 occurrences
  - Valeur la moins fr√©quente: PARTNERSKILL_Yeti_Grass (1 occurrence(s))

Tribe:
  - 154 valeurs uniques
  - Top 5 des valeurs les plus fr√©quentes:
    ‚Ä¢ EPalTribeID::BlackGriffon: 2 occurrences
    ‚Ä¢ EPalTribeID::ElecPanda: 2 occurrences
    ‚Ä¢ EPalTribeID::Horus: 2 occurrences
    ‚Ä¢ EPalTribeID::LilyQueen: 2 occurrences
    ‚Ä¢ EPalTribeID::ThunderDragonMan: 2 occurrences
  - Valeur la moins fr√©quente: EPalTribeID::Yeti_Grass (1 occurrence(s))

BPClass:
  - 174 valeurs uniques
  - Top 5 des valeurs les plus fr√©quentes:
    ‚Ä¢ BeardedDragon: 2 occurrences
    ‚Ä¢ GuardianDog: 2 occurrences
    ‚Ä¢ GrassDragon: 2 occurrences
    ‚Ä¢ GYM_LilyQueen: 1 occurrences
    ‚Ä¢ GYM_Horus: 1 occurrences
  - Valeur la moins fr√©quente: DarkMutant (1 occurrence(s))

Size:
  - 4 valeurs uniques
  - Valeurs: ['XL' 'S' 'M' 'L']

Element 1:
  - 9 valeurs uniques
  - Valeurs: ['Dark' 'Electricity' 'Fire' 'Leaf' 'Dragon' 'Normal' 'Earth' 'Ice'
 'Water']

Element 2:
  - 9 valeurs uniques
  - Valeurs: [nan 'Electricity' 'Dark' 'Dragon' 'Ice' 'Earth' 'Water' 'Leaf' 'Fire']

GenusCategory:
  - 7 valeurs uniques
  - Valeurs: ['EPalGenusCategoryType::FourLegged' 'EPalGenusCategoryType::Humanoid'
 'EPalGenusCategoryType::Bird' 'EPalGenusCategoryType::Dragon'
 'EPalGenusCategoryType::Monster' 'EPalGenusCategoryType::Fish'
 'EPalGenusCategoryType::Other']

Organization:
  - 1 valeurs uniques
  - Valeurs: ['EPalOrganizationType::None']

weapon:
  - 1 valeurs uniques
  - Valeurs: ['EPalWeaponType::None']

(being) damage multiplier:
  - 4 valeurs uniques
  - Valeurs: ['100%' '40%' '20%' '10%']

Capture probability:
  - 7 valeurs uniques
  - Valeurs: ['100%' '70%' '77%' '63%' '105%' '91%' '84%']

AIRResponse:
  - 5 valeurs uniques
  - Valeurs: ['Warlike' 'Escape_to_Battle' 'NotInterested' 'Boss' 'Escape']

BattleBGM:
  - 6 valeurs uniques
  - Valeurs: ['EPalBattleBGMType::TowerBoss' 'EPalBattleBGMType::Cute'
 'EPalBattleBGMType::FieldBoss' 'EPalBattleBGMType::Legend'
 'EPalBattleBGMType::Cool' 'EPalBattleBGMType::Strong']

Passive skill 1:
  - 12 valeurs uniques
  - Top 10 des valeurs les plus fr√©quentes:
    ‚Ä¢ Legend: 5 occurrences
    ‚Ä¢ Deffence_up1: 3 occurrences
    ‚Ä¢ ElementBoost_Earth_2_PAL: 1 occurrences
    ‚Ä¢ PAL_rude: 1 occurrences
    ‚Ä¢ ElementBoost_Fire_2_PAL: 1 occurrences
    ‚Ä¢ PAL_FullStomach_Up_1: 1 occurrences
    ‚Ä¢ ElementBoost_Leaf_2_PAL: 1 occurrences
    ‚Ä¢ PAL_ALLAttack_down1: 1 occurrences
    ‚Ä¢ ElementResist_Normal_1_PAL: 1 occurrences
    ‚Ä¢ ElementBoost_Thunder_2_PAL: 1 occurrences

Passive skill 2:
  - 5 valeurs uniques
  - Valeurs: [nan 'ElementBoost_Dark_2_PAL' 'ElementBoost_Ice_2_PAL'
 'ElementBoost_Dragon_2_PAL' 'ElementBoost_Normal_2_PAL']

Valeurs aberrantes (m√©thode IQR):

Valeurs aberrantes (m√©thode IQR):
Pictorial ID: 5 valeurs aberrantes (2.8%)
  Valeurs: [-2, -2, -2, -2, -2]
ZukanIndexSuffix: 0 valeurs aberrantes (0.0%)
rarity: 5 valeurs aberrantes (2.8%)
  Valeurs: [20, 20, 20, 20, 20]
HP: 12 valeurs aberrantes (6.8%)
  Premi√®res 10: [150, 150, 260, 260, 330, 420, 420, 5500, 6000, 6500]
melee attack: 6 valeurs aberrantes (3.4%)
  Valeurs: [140, 150, 150, 150, 150, 150]
Remote attack: 2 valeurs aberrantes (1.1%)
  Valeurs: [145, 200]
defense: 4 valeurs aberrantes (2.3%)
  Valeurs: [135, 140, 145, 220]
support: 28 valeurs aberrantes (15.8%)
  Premi√®res 10: [30, 30, 50, 70, 70, 80, 80, 80, 80, 80]
CraftSpeed: 0 valeurs aberrantes (0.0%)
Experience multiplier: 22 valeurs aberrantes (12.4%)
  Premi√®res 10: [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
price: 0 valeurs aberrantes (0.0%)
AISightResponse: 0 valeurs aberrantes (0.0%)
slow walking speed: 1 valeurs aberrantes (0.6%)
  Valeurs: [600]
walking speed: 5 valeurs aberrantes (2.8%)
  Valeurs: [350, 350, 350, 400, 800]
running speed: 1 valeurs aberrantes (0.6%)
  Valeurs: [1700]
Riding sprint speed: 4 valeurs aberrantes (2.3%)
  Valeurs: [1600, 1600, 1600, 3300]
Handling speed: 1 valeurs aberrantes (0.6%)
  Valeurs: [1250]
MaxFullStomach: 0 valeurs aberrantes (0.0%)
FullStomachDecreaseRate: 0 valeurs aberrantes (0.0%)
FoodAmount: 0 valeurs aberrantes (0.0%)
ViewingDistance: 0 valeurs aberrantes (0.0%)
ViewingAngle: 0 valeurs aberrantes (0.0%)
HearingRate: 0 valeurs aberrantes (0.0%)
BiologicalGrade: 19 valeurs aberrantes (10.7%)
  Premi√®res 10: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
endurance: 16 valeurs aberrantes (9.0%)
  Premi√®res 10: [70, 130, 130, 150, 150, 150, 160, 170, 220, 230]
Male probability: 15 valeurs aberrantes (8.5%)
  Premi√®res 10: [0, 0, 10, 10, 20, 20, 30, 30, 30, 85]
fecundity: 5 valeurs aberrantes (2.8%)
  Valeurs: [9999, 9999, 9999, 9999, 9999]
Breathing fire: 25 valeurs aberrantes (14.1%)
  Premi√®res 10: [1, 1, 1, 1, 1, 1, 1, 2, 2, 2]
watering: 15 valeurs aberrantes (8.5%)
  Premi√®res 10: [1, 1, 1, 1, 1, 1, 2, 2, 2, 2]
planting: 24 valeurs aberrantes (13.6%)
  Premi√®res 10: [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
generate electricity: 13 valeurs aberrantes (7.3%)
  Premi√®res 10: [1, 1, 1, 2, 2, 2, 2, 2, 3, 3]
manual: 10 valeurs aberrantes (5.6%)
  Valeurs: [3, 3, 3, 3, 3, 3, 3, 3, 3, 4]
collection: 5 valeurs aberrantes (2.8%)
  Valeurs: [3, 3, 3, 3, 4]
logging: 43 valeurs aberrantes (24.3%)
  Premi√®res 10: [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
Mining: 29 valeurs aberrantes (16.4%)
  Premi√®res 10: [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
OilExtraction (not shown in game): 9 valeurs aberrantes (5.1%)
  Valeurs: [1, 1, 1, 2, 2, 3, 3, 3, 3]
pharmaceutical: 27 valeurs aberrantes (15.3%)
  Premi√®res 10: [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
cool down: 18 valeurs aberrantes (10.2%)
  Premi√®res 10: [1, 1, 1, 1, 1, 1, 2, 2, 2, 2]
carry: 0 valeurs aberrantes (0.0%)
pasture: 13 valeurs aberrantes (7.3%)
  Premi√®res 10: [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
Passive skill 3: 0 valeurs aberrantes (0.0%)
Passive skill 4: 0 valeurs aberrantes (0.0%)

======================================================================

## Cr√©ation de la fonction d'analyse exploratoires des donn√©es propres

In [3]:
# D√©finition du chemin vers les fichiers propres
data_path = "../data/"

# V√©rification de l'existence du repertoire , if not utiliser le repertoire courrant
if not os.path.exists(data_path):
    data_path = "./"

# Affichage des fichiers dispo pour la v√©rif
files = [f for f in os.listdir(data_path) if f.endswith('.csv')] # ici on liste tous les fichiers ou dossiers + on it√®re chaque √©l√©ment + Filtre pour garder que les fichier .csv
print("Fichiers dispo:")
for file in files: 
    print(f"-{file}")

# Chargement des donn√©es brutes & gestion d'erreurs gr√¢ce √† pd.read_csv en d√©finissant le chemin vers les fichiers.csv 
try:
    combat_attribute = pd.read_csv(f'{data_path}Clean_Data--Palu-combat-attribute.csv')
    refresh_area = pd.read_csv(f'{data_path}Clean_Data-Palu-refresh-level.csv')
    ordinary_boss = pd.read_csv(f'{data_path}Clean_Data-comparison-of-ordinary-BOSS-attributes.csv')
    tower_boss = pd.read_csv(f'{data_path}Clean_Data-Tower-BOSS-attribute-comparison.csv') 
    job_skill = pd.read_csv(f'{data_path}Clean_Data-Palu-Job-Skills.csv')
    hidden_attribute = pd.read_csv(f'{data_path}Clean_Data-hide-pallu-attributes.csv')
    print("\nDonn√©es brutes charg√©es")
except FileNotFoundError as e : 
  print(f"Erreur: {e}. V√©rifier les noms des fichiers et le chemin.")

Fichiers dispo:
-Clean_Data--Palu-combat-attribute.csv
-Clean_Data-comparison-of-ordinary-BOSS-attributes.csv
-Clean_Data-hide-pallu-attributes.csv
-Clean_Data-Palu-Job-Skills.csv
-Clean_Data-Palu-refresh-level.csv
-Clean_Data-Tower-BOSS-attribute-comparison.csv

Donn√©es brutes charg√©es

In [223]:
explore_dataframe(job_skill, 'Job Skills')

===== Exploration de Job Skills =====

--- Informations de base ---
Class: <class 'pandas.core.frame.DataFrame'>
Index: <class 'pandas.core.indexes.range.RangeIndex'> | RangeIndex(start=0, stop=138, step=1)
Entries: 138 | Columns: 22

                    Column  Non-Null Count    Dtype
0             English name             138   object
1             Chinese name             138   object
2              Volume size             138   object
3              Food intake             138    int64
4              night shift             138     bool
5             Total skills             138    int64
6              Make a fire             138     bool
7                 watering             138     bool
8                 planting             138     bool
9     generate electricity             138     bool
10                  manual             138     bool
11              collection             138     bool
12                 logging             138     bool
13                  Mining             138     bool
14          pharmaceutical             138     bool
15               cool down             138     bool
16                 pasture             138     bool
17                   carry             138     bool
18          Handling speed              56  float64
19             ranch items              13   object
20  pasture minimum output              12  float64
21       The largest ranch              12   object

Memory usage: 42.15 KB

Dimensions: 138 lignes, 22 colonnes

Aper√ßu des premi√®res lignes:

  English name    Chinese name Volume size  Food intake  night shift  Total skills  Make a fire  watering  planting  generate electricity  manual  collection  logging  Mining  pharmaceutical  cool down  pasture  carry  Handling speed ranch items  pasture minimum output The largest ranch
0      Lifmunk  green leaf rat    smallest            1        False             5        False     False      True                 False    True        True     True   False            True      False    False  False             NaN         NaN                     NaN               NaN
1     Foxparks      tinder fox    smallest            2        False             1         True     False     False                 False   False       False    False   False           False      False    False  False             NaN         NaN                     NaN               NaN
2        Rooby       Fire Deer       Small            3        False             1         True     False     False                 False   False       False    False   False           False      False    False  False             NaN         NaN                     NaN               NaN

Types de donn√©es:

English name               object
Chinese name               object
Volume size                object
Food intake                 int64
night shift                  bool
Total skills                int64
Make a fire                  bool
watering                     bool
planting                     bool
generate electricity         bool
manual                       bool
collection                   bool
logging                      bool
Mining                       bool
pharmaceutical               bool
cool down                    bool
pasture                      bool
carry                        bool
Handling speed            float64
ranch items                object
pasture minimum output    float64
The largest ranch          object
dtype: object

Statistiques descriptives:

       English name Chinese name Volume size  Food intake night shift  Total skills Make a fire watering planting generate electricity manual collection logging Mining pharmaceutical cool down pasture  carry  Handling speed ranch items  pasture minimum output The largest ranch
count           138          138         138   138.000000         138    138.000000         138      138      138                  138    138        138     138    138            138       138     138    138       56.000000          13               12.000000                12
unique          138          137           5          NaN           2           NaN           2        2        2                    2      2          2       2      2              2         2       2      2             NaN          10                     NaN                 1
top         Lifmunk  Thunderbird         big          NaN       False           NaN       False    False    False                False  False      False   False  False          False     False   False  False             NaN        wool                     NaN              Rank
freq              1            2          43          NaN         113           NaN         116      123      117                  127     87         92     102    115            122       120     125     82             NaN           3                     NaN                12
mean            NaN          NaN         NaN     4.550725         NaN      4.188406         NaN      NaN      NaN                  NaN    NaN        NaN     NaN    NaN            NaN       NaN     NaN    NaN      278.250000         NaN                2.583333               NaN
std             NaN          NaN         NaN     2.263878         NaN      2.703204         NaN      NaN      NaN                  NaN    NaN        NaN     NaN    NaN            NaN       NaN     NaN    NaN      104.833244         NaN                3.476109               NaN
min             NaN          NaN         NaN     1.000000         NaN      1.000000         NaN      NaN      NaN                  NaN    NaN        NaN     NaN    NaN            NaN       NaN     NaN    NaN      100.000000         NaN                1.000000               NaN
25%             NaN          NaN         NaN     3.000000         NaN      2.000000         NaN      NaN      NaN                  NaN    NaN        NaN     NaN    NaN            NaN       NaN     NaN    NaN      208.000000         NaN                1.000000               NaN
50%             NaN          NaN         NaN     5.000000         NaN      4.000000         NaN      NaN      NaN                  NaN    NaN        NaN     NaN    NaN            NaN       NaN     NaN    NaN      270.000000         NaN                1.000000               NaN
75%             NaN          NaN         NaN     7.000000         NaN      6.000000         NaN      NaN      NaN                  NaN    NaN        NaN     NaN    NaN            NaN       NaN     NaN    NaN      327.500000         NaN                1.250000               NaN
max             NaN          NaN         NaN     9.000000         NaN     12.000000         NaN      NaN      NaN                  NaN    NaN        NaN     NaN    NaN            NaN       NaN     NaN    NaN      500.000000         NaN               10.000000               NaN

Valeurs manquantes:

                        Total  Pourcentage
Handling speed             82    59.420290
ranch items               125    90.579710
pasture minimum output    126    91.304348
The largest ranch         126    91.304348

Nombre de lignes dupliqu√©es: 0

Analyse des colonnes cat√©gorielles:

English name:
  - 138 valeurs uniques
  - Top 5 des valeurs les plus fr√©quentes:
    ‚Ä¢ Lifmunk: 1 occurrences
    ‚Ä¢ Foxparks: 1 occurrences
    ‚Ä¢ Rooby: 1 occurrences
    ‚Ä¢ Jolthog Cryst: 1 occurrences
    ‚Ä¢ Gumoss: 1 occurrences
  - Valeur la moins fr√©quente: Orserk (1 occurrence(s))

Chinese name:
  - 137 valeurs uniques
  - Top 5 des valeurs les plus fr√©quentes:
    ‚Ä¢ Thunderbird: 2 occurrences
    ‚Ä¢ tinder fox: 1 occurrences
    ‚Ä¢ Fire Deer: 1 occurrences
    ‚Ä¢ ice agouti: 1 occurrences
    ‚Ä¢ Ye NiNi: 1 occurrences
  - Valeur la moins fr√©quente: Pollux (1 occurrence(s))

Volume size:
  - 5 valeurs uniques
  - Valeurs: ['smallest' 'Small' 'medium' 'big' 'maximum']

ranch items:
  - 11 valeurs uniques
  - Top 10 des valeurs les plus fr√©quentes:
    ‚Ä¢ wool: 3 occurrences
    ‚Ä¢ gold: 2 occurrences
    ‚Ä¢ Palu Ball Advanced Palu Ball Arrow Gold Coin: 1 occurrences
    ‚Ä¢ Egg: 1 occurrences
    ‚Ä¢ milk: 1 occurrences
    ‚Ä¢ Marshmallow: 1 occurrences
    ‚Ä¢ red wild berries: 1 occurrences
    ‚Ä¢ high quality cloth: 1 occurrences
    ‚Ä¢ Honey: 1 occurrences
    ‚Ä¢ fire breathing organ: 1 occurrences

The largest ranch:
  - 2 valeurs uniques
  - Valeurs: [nan 'Rank']

Valeurs aberrantes (m√©thode IQR):

Valeurs aberrantes (m√©thode IQR):
Food intake: 0 valeurs aberrantes (0.0%)
Total skills: 0 valeurs aberrantes (0.0%)
Handling speed: 0 valeurs aberrantes (0.0%)
pasture minimum output: 3 valeurs aberrantes (2.2%)
  Valeurs: [2.0, 10.0, 10.0]

======================================================================

In [224]:
explore_dataframe(refresh_area, 'Refresh area')

===== Exploration de Refresh area =====

--- Informations de base ---
Class: <class 'pandas.core.frame.DataFrame'>
Index: <class 'pandas.core.indexes.range.RangeIndex'> | RangeIndex(start=0, stop=136, step=1)
Entries: 136 | Columns: 7

               Column  Non-Null Count   Dtype
0                name             136  object
1       minimum level             136   int64
2       maximum level             136   int64
3           fecondity             136   int64
4  pallu refresh type             136  object
5          night only             136    bool
6        refresh area             136  object

Memory usage: 29.85 KB

Dimensions: 136 lignes, 7 colonnes

Aper√ßu des premi√®res lignes:

           name  minimum level  maximum level  fecondity pallu refresh type  night only refresh area
0   Mian Youyou              1             14       1470             Creeps       False    grassland
1   Naughty cat              1             13       1460             Creeps       False    grassland
2  Pipi Chicken              1             13       1500             Creeps       False    grassland

Types de donn√©es:

name                  object
minimum level          int64
maximum level          int64
fecondity              int64
pallu refresh type    object
night only              bool
refresh area          object
dtype: object

Statistiques descriptives:

               name  minimum level  maximum level    fecondity pallu refresh type night only refresh area
count           136     136.000000     136.000000   136.000000                136        136          136
unique          135            NaN            NaN          NaN                  5          2           10
top     Thunderbird            NaN            NaN          NaN             Creeps      False    grassland
freq              2            NaN            NaN          NaN                 98        119           49
mean            NaN      20.823529      33.036765   865.639706                NaN        NaN          NaN
std             NaN      14.480067      12.140784   420.953005                NaN        NaN          NaN
min             NaN       1.000000      10.000000    10.000000                NaN        NaN          NaN
25%             NaN       9.000000      22.000000   487.500000                NaN        NaN          NaN
50%             NaN      18.000000      38.000000   897.500000                NaN        NaN          NaN
75%             NaN      32.250000      45.000000  1240.000000                NaN        NaN          NaN
max             NaN      50.000000      50.000000  1500.000000                NaN        NaN          NaN

Valeurs manquantes:

Empty DataFrame
Columns: [Total, Pourcentage]
Index: []

Aucune valeur manquante d√©tect√©e

Nombre de lignes dupliqu√©es: 0

Analyse des colonnes cat√©gorielles:

name:
  - 135 valeurs uniques
  - Top 5 des valeurs les plus fr√©quentes:
    ‚Ä¢ Thunderbird: 2 occurrences
    ‚Ä¢ Naughty cat: 1 occurrences
    ‚Ä¢ Mian Youyou: 1 occurrences
    ‚Ä¢ green leaf rat: 1 occurrences
    ‚Ä¢ tinder fox: 1 occurrences
  - Valeur la moins fr√©quente: Winter Caller (1 occurrence(s))

pallu refresh type:
  - 5 valeurs uniques
  - Valeurs: ['Creeps' 'Secret Domain BOSS' 'event' 'Random dungeon boss' 'Wild BOSS']

refresh area:
  - 10 valeurs uniques
  - Valeurs: ['grassland' 'islands' 'dungeon' 'Snow' 'forest' 'volcano' 'game reserve'
 'desert' 'forest snow' 'Random events']

Valeurs aberrantes (m√©thode IQR):

Valeurs aberrantes (m√©thode IQR):
minimum level: 0 valeurs aberrantes (0.0%)
maximum level: 0 valeurs aberrantes (0.0%)
fecondity: 0 valeurs aberrantes (0.0%)

======================================================================

In [225]:
explore_dataframe(ordinary_boss, 'Ordinary Boss')

===== Exploration de Ordinary Boss =====

--- Informations de base ---
Class: <class 'pandas.core.frame.DataFrame'>
Index: <class 'pandas.core.indexes.range.RangeIndex'> | RangeIndex(start=0, stop=129, step=1)
Entries: 129 | Columns: 4

                          Column  Non-Null Count    Dtype
0                           name             129   object
1                             HP              26  float64
2                  Remote attack              18  float64
3  Riding speed (BOSS is 100 ...             129    int64

Memory usage: 12.18 KB

Dimensions: 129 lignes, 4 colonnes

Aper√ßu des premi√®res lignes:

                         name  HP  Remote attack  Riding speed (BOSS is 100 higher)
0  Heterogeneous Griffin BOSS NaN            NaN                           1300
1       Heterogeneous Griffin NaN            NaN                           1200
2               Ye Panda BOSS NaN            NaN                            800

Types de donn√©es:

name                                  object
HP                                   float64
Remote attack                        float64
Riding speed (BOSS is 100 higher)      int64
dtype: object

Statistiques descriptives:

                     name          HP  Remote attack  Riding speed (BOSS is 100 higher)
count                 129   26.000000       18.00000                     129.000000
unique                119         NaN            NaN                            NaN
top     Snow Mammoth BOSS         NaN            NaN                            NaN
freq                    2         NaN            NaN                            NaN
mean                  NaN  238.076923       82.50000                     922.480620
std                   NaN  121.128666        6.47393                     248.665284
min                   NaN  110.000000       75.00000                     500.000000
25%                   NaN  132.500000       75.00000                     750.000000
50%                   NaN  200.000000       82.50000                     900.000000
75%                   NaN  330.000000       90.00000                    1100.000000
max                   NaN  420.000000       90.00000                    1600.000000

Valeurs manquantes:

               Total  Pourcentage
HP               103    79.844961
Remote attack    111    86.046512

Nombre de lignes dupliqu√©es: 0

Analyse des colonnes cat√©gorielles:

name:
  - 119 valeurs uniques
  - Top 5 des valeurs les plus fr√©quentes:
    ‚Ä¢ Snow Mammoth BOSS: 2 occurrences
    ‚Ä¢ Thunderbird: 2 occurrences
    ‚Ä¢ Thunderbird BOSS: 2 occurrences
    ‚Ä¢ snow mammoth: 2 occurrences
    ‚Ä¢ Melupa BOSS: 2 occurrences
  - Valeur la moins fr√©quente: Cloud sea deer (1 occurrence(s))

Valeurs aberrantes (m√©thode IQR):

Valeurs aberrantes (m√©thode IQR):
HP: 0 valeurs aberrantes (0.0%)
Remote attack: 0 valeurs aberrantes (0.0%)
Riding speed (BOSS is 100 higher): 0 valeurs aberrantes (0.0%)

======================================================================

In [226]:
explore_dataframe(tower_boss, 'Tower Boss')

===== Exploration de Tower Boss =====

--- Informations de base ---
Class: <class 'pandas.core.frame.DataFrame'>
Index: <class 'pandas.core.indexes.range.RangeIndex'> | RangeIndex(start=0, stop=10, step=1)
Entries: 10 | Columns: 17

                  Column  Non-Null Count   Dtype
0                   name              10  object
1                     HP              10   int64
2           melee attack              10   int64
3          remote attack              10   int64
4                defense              10   int64
5                Support              10   int64
6       experience ratio              10   int64
7     slow walking speed              10   int64
8          walking speed              10   int64
9          running speed              10   int64
10          riding speed              10   int64
11        Handling speed              10   int64
12  ignore the bluntness              10    bool
13   ignore displacement              10    bool
14       BiologicalGrade              10   int64
15             endurance              10   int64
16             fecundity              10   int64

Memory usage: 1.94 KB

Dimensions: 10 lignes, 17 colonnes

Aper√ßu des premi√®res lignes:

                            name    HP  melee attack  remote attack  defense  Support  experience ratio  slow walking speed  walking speed  running speed  riding speed  Handling speed  ignore the bluntness  ignore displacement  BiologicalGrade  endurance  fecundity
0  Victor & Heterogeneous Gri...  8000           130            200      220       90                30                  80             80            850          1100             465                  True                 True                9        100       9999
1          Heterogeneous Griffin   120           130            120      140       90                 1                  80             80            850          1200             465                 False                False                5        250         60
2           Zoe & Lightning Bear  6000           100            100      100      100                30                  80            140            470           650             287                  True                 True                9        100       9999

Types de donn√©es:

name                    object
HP                       int64
melee attack             int64
remote attack            int64
defense                  int64
Support                  int64
experience ratio         int64
slow walking speed       int64
walking speed            int64
running speed            int64
riding speed             int64
Handling speed           int64
ignore the bluntness      bool
ignore displacement       bool
BiologicalGrade          int64
endurance                int64
fecundity                int64
dtype: object

Statistiques descriptives:

                                 name           HP  melee attack  remote attack     defense     Support  experience ratio  slow walking speed  walking speed  running speed  riding speed  Handling speed ignore the bluntness ignore displacement  BiologicalGrade   endurance    fecundity
count                              10    10.000000     10.000000      10.000000   10.000000   10.000000         10.000000           10.000000      10.000000      10.000000     10.000000       10.000000                   10                  10        10.000000   10.000000    10.000000
unique                             10          NaN           NaN            NaN         NaN         NaN               NaN                 NaN            NaN            NaN           NaN             NaN                    2                   2              NaN         NaN          NaN
top     Victor & Heterogeneous Gri...          NaN           NaN            NaN         NaN         NaN               NaN                 NaN            NaN            NaN           NaN             NaN                 True                True              NaN         NaN          NaN
freq                                1          NaN           NaN            NaN         NaN         NaN               NaN                 NaN            NaN            NaN           NaN             NaN                    5                   5              NaN         NaN          NaN
mean                              NaN  3303.500000    108.000000     123.500000  121.500000   96.000000         15.500000           94.000000     141.000000     734.000000    990.000000      376.900000                  NaN                 NaN         7.000000  128.000000  5101.500000
std                               NaN  3426.634282     13.165612      29.818898   36.897004    5.163978         15.284342           32.386554      49.035135     241.348066    346.249749      127.321509                  NaN                 NaN         2.108185   59.217115  5163.004966
min                               NaN   100.000000    100.000000     100.000000  100.000000   90.000000          1.000000           60.000000      80.000000     450.000000    550.000000      210.000000                  NaN                 NaN         5.000000  100.000000    60.000000
25%                               NaN   106.250000    100.000000     106.250000  101.250000   90.000000          1.000000           80.000000     100.000000     470.000000    650.000000      275.000000                  NaN                 NaN         5.000000  100.000000   212.500000
50%                               NaN  2810.000000    100.000000     115.000000  107.500000  100.000000         15.500000           80.000000     140.000000     850.000000   1150.000000      376.000000                  NaN                 NaN         7.000000  100.000000  5184.500000
75%                               NaN  6375.000000    115.000000     127.500000  121.250000  100.000000         30.000000          100.000000     185.000000     900.000000   1275.000000      491.250000                  NaN                 NaN         9.000000  100.000000  9999.000000
max                               NaN  8000.000000    130.000000     200.000000  220.000000  100.000000         30.000000          150.000000     200.000000    1000.000000   1400.000000      542.000000                  NaN                 NaN         9.000000  250.000000  9999.000000

Valeurs manquantes:

Empty DataFrame
Columns: [Total, Pourcentage]
Index: []

Aucune valeur manquante d√©tect√©e

Nombre de lignes dupliqu√©es: 0

Analyse des colonnes cat√©gorielles:

name:
  - 10 valeurs uniques
  - Valeurs: ['Victor & Heterogeneous Griffin' 'Heterogeneous Griffin'
 'Zoe & Lightning Bear' 'Lightning Bear' 'Marcus & Horus' 'Horus'
 'Lily & Lily Queen' 'lily queen' 'Axel & Pollux' 'Pollux']

Valeurs aberrantes (m√©thode IQR):

Valeurs aberrantes (m√©thode IQR):
HP: 0 valeurs aberrantes (0.0%)
melee attack: 0 valeurs aberrantes (0.0%)
remote attack: 1 valeurs aberrantes (10.0%)
  Valeurs: [200]
defense: 1 valeurs aberrantes (10.0%)
  Valeurs: [220]
Support: 0 valeurs aberrantes (0.0%)
experience ratio: 0 valeurs aberrantes (0.0%)
slow walking speed: 2 valeurs aberrantes (20.0%)
  Valeurs: [150, 150]
walking speed: 0 valeurs aberrantes (0.0%)
running speed: 0 valeurs aberrantes (0.0%)
riding speed: 0 valeurs aberrantes (0.0%)
Handling speed: 0 valeurs aberrantes (0.0%)
BiologicalGrade: 0 valeurs aberrantes (0.0%)
endurance: 2 valeurs aberrantes (20.0%)
  Valeurs: [230, 250]
fecundity: 0 valeurs aberrantes (0.0%)

======================================================================

In [92]:
explore_dataframe(combat_attribute, 'Combat Attribut')

===== Exploration de Combat Attribut =====

--- Informations de base ---
Class: <class 'pandas.core.frame.DataFrame'>
Index: <class 'pandas.core.indexes.range.RangeIndex'> | RangeIndex(start=0, stop=138, step=1)
Entries: 138 | Columns: 49

                        Column  Non-Null Count    Dtype
0                 Chinese name             138   object
1                         Name             138   object
2                     CodeName             138   object
3           OverrideNameTextID               1   object
4                 NamePrefixID               0  float64
5   OverridePartnerSkillTextID               1   object
6                        IsPal             138     bool
7                        Tribe             138   object
8                      BPClass             138   object
9                      variant              33   object
10                 Volume size             138   object
11                      rarity             138    int64
12                   Element 1             138   object
13                   Element 2              26   object
14               GenusCategory             138   object
15                Organization               0  float64
16                      weapon               0  float64
17                 WeaponEquip             138     bool
18                   nocturnal              25   object
19                    4D total             138    int64
20                          HP             138    int64
21                melee attack             138    int64
22               Remote attack             138    int64
23                     defense             138    int64
24                     support             138    int64
25               Speed of work             138    int64
26                     Level 1             138   object
27                    Level 20             138   object
28                    Level 50             138   object
29                 AIRResponse             138   object
30             AISightResponse               0  float64
31                   endurance             138    int64
32          slow walking speed             138    int64
33               walking speed             138    int64
34               running speed             138    int64
35         Riding sprint speed              61  float64
36           damage multiplier             138   object
37                  catch rate             138   object
38       Experience multiplier             138    int64
39                       price             138    int64
40          Must bring entry 1              17   object
41          Must bring entry 2               4   object
42       Numerical description             138   object
43                         lv1             138   object
44                         lv2             138   object
45                         lv3             138   object
46                         lv4             138   object
47                         lv5             138   object
48           Skill description             138   object

Memory usage: 248.11 KB

Dimensions: 138 lignes, 49 colonnes

Aper√ßu des premi√®res lignes:

     Chinese name     Name    CodeName OverrideNameTextID  NamePrefixID OverridePartnerSkillTextID  IsPal       Tribe     BPClass variant Volume size  rarity  Element 1 Element 2 GenusCategory  Organization  weapon  WeaponEquip nocturnal  4D total  HP  melee attack  Remote attack  defense  support  Speed of work  Level 1 Level 20 Level 50 AIRResponse  AISightResponse  endurance  slow walking speed  walking speed  running speed  Riding sprint speed damage multiplier catch rate  Experience multiplier  price Must bring entry 1 Must bring entry 2 Numerical description lv1 lv2 lv3 lv4 lv5              Skill description
0     Mian Youyou  Lamball   SheepBall                NaN           NaN                        NaN   True   SheepBall   SheepBall     NaN          XS       1  generally       NaN      Humanoid           NaN     NaN        False       NaN       280  70            70             70       70      100            100  105-106  205-236  362-441    Friendly              NaN        100                  23             40            400                  NaN                 2        1,5                      1   1000                NaN                NaN          Ranch skills   0   0   0   0   0  When activated, it will tr...
1    Pipi Chicken  Chikipi  ChickenPal                NaN           NaN                        NaN   True  ChickenPal  ChickenPal     NaN          XS       1  generally       NaN          Bird           NaN     NaN        False       NaN       250  60            70             60       60       70            100  104-105  190-217  325-392    Friendly              NaN        100                  50             50            375                  NaN                 2        1,5                      1   1000                NaN                NaN          Ranch skills   0   0   0   0   0  Assign it to Palu Ranch an...
2  green leaf rat  Lifmunk   Carbunclo                NaN           NaN                        NaN   True   Carbunclo   Carbunclo     NaN          XS       1       Wood       NaN      Humanoid           NaN     NaN        False       NaN       285  75            70             70       70      100            100  105-106  205-236  362-441      Escape              NaN        100                  20             40            400                  NaN                 1        0,9                      1   1010                NaN                NaN           Skill power  10  11  13  16  20  After being activated, it ...

Types de donn√©es:

Chinese name                   object
Name                           object
CodeName                       object
OverrideNameTextID             object
NamePrefixID                  float64
OverridePartnerSkillTextID     object
IsPal                            bool
Tribe                          object
BPClass                        object
variant                        object
Volume size                    object
rarity                          int64
Element 1                      object
Element 2                      object
GenusCategory                  object
Organization                  float64
weapon                        float64
WeaponEquip                      bool
nocturnal                      object
4D total                        int64
HP                              int64
melee attack                    int64
Remote attack                   int64
defense                         int64
support                         int64
Speed of work                   int64
Level 1                        object
Level 20                       object
Level 50                       object
AIRResponse                    object
AISightResponse               float64
endurance                       int64
slow walking speed              int64
walking speed                   int64
running speed                   int64
Riding sprint speed           float64
damage multiplier              object
catch rate                     object
Experience multiplier           int64
price                           int64
Must bring entry 1             object
Must bring entry 2             object
Numerical description          object
lv1                            object
lv2                            object
lv3                            object
lv4                            object
lv5                            object
Skill description              object
dtype: object

Statistiques descriptives:

       Chinese name     Name   CodeName   OverrideNameTextID  NamePrefixID OverridePartnerSkillTextID IsPal       Tribe    BPClass variant Volume size      rarity Element 1 Element 2 GenusCategory  Organization  weapon WeaponEquip nocturnal    4D total          HP  melee attack  Remote attack     defense     support  Speed of work  Level 1 Level 20 Level 50 AIRResponse  AISightResponse   endurance  slow walking speed  walking speed  running speed  Riding sprint speed damage multiplier catch rate  Experience multiplier         price Must bring entry 1 Must bring entry 2 Numerical description  lv1  lv2  lv3  lv4  lv5              Skill description
count           138      138        138                    1           0.0                          1   138         138        138      33         138  138.000000       138        26           138           0.0     0.0         138        25  138.000000  138.000000    138.000000     138.000000  138.000000  138.000000          138.0      138      138      138         138              0.0  138.000000          138.000000     138.000000     138.000000            61.000000               138        138                  138.0    138.000000                 17                  4                   138  138  138  138  138  138                            138
unique          137      138        138                    1           NaN                          1     1         137        138       1           5         NaN         9         8             7           NaN     NaN           1         1         NaN         NaN           NaN            NaN         NaN         NaN            NaN       15       18       18           5              NaN         NaN                 NaN            NaN            NaN                  NaN                 8          6                    NaN           NaN                 11                  4                    36   28   32   34   31   29                            120
top     Thunderbird  Lamball  SheepBall  PAL_NAME_PlantSlime           NaN    PARTNERSKILL_PlantSlime  True  PlantSlime  SheepBall     yes           L         NaN      Wood      land      Humanoid           NaN     NaN       False       yes         NaN         NaN           NaN            NaN         NaN         NaN            NaN  107-109  205-236  362-441     Warlike              NaN         NaN                 NaN            NaN            NaN                  NaN                 1          1                    NaN           NaN             legend           holy day   Attack power bonus%    0   55   65   80   20  Can be moved around on its...
freq              2        1          1                    1           NaN                          1   138           2          1      33          43         NaN        22         6            54           NaN     NaN         138        25         NaN         NaN           NaN            NaN         NaN         NaN            NaN       25       21       21          67              NaN         NaN                 NaN            NaN            NaN                  NaN               118        118                    NaN           NaN                  5                  1                    25   25   20   20   21   28                              3
mean            NaN      NaN        NaN                  NaN           NaN                        NaN   NaN         NaN        NaN     NaN         NaN    5.384058       NaN       NaN           NaN           NaN     NaN         NaN       NaN  367.898551   93.442029     94.710145      91.630435   88.115942   99.710145          100.0      NaN      NaN      NaN         NaN              NaN  112.318841           76.369565     131.702899     548.043478           918.032787               NaN        NaN                    1.0   4109.855072                NaN                NaN                   NaN  NaN  NaN  NaN  NaN  NaN                            NaN
std             NaN      NaN        NaN                  NaN           NaN                        NaN   NaN         NaN        NaN     NaN         NaN    4.006058       NaN       NaN           NaN           NaN     NaN         NaN       NaN   62.329509   20.855785     19.263521      19.799755   18.923616   14.344155            0.0      NaN      NaN      NaN         NaN              NaN   41.456861           53.763754      86.465251     209.013528           414.631642               NaN        NaN                    0.0   2843.870598                NaN                NaN                   NaN  NaN  NaN  NaN  NaN  NaN                            NaN
min             NaN      NaN        NaN                  NaN           NaN                        NaN   NaN         NaN        NaN     NaN         NaN    1.000000       NaN       NaN           NaN           NaN     NaN         NaN       NaN  250.000000   60.000000     50.000000      50.000000   50.000000   30.000000          100.0      NaN      NaN      NaN         NaN              NaN  100.000000           10.000000      10.000000     245.000000           500.000000               NaN        NaN                    1.0   1000.000000                NaN                NaN                   NaN  NaN  NaN  NaN  NaN  NaN                            NaN
25%             NaN      NaN        NaN                  NaN           NaN                        NaN   NaN         NaN        NaN     NaN         NaN    2.000000       NaN       NaN           NaN           NaN     NaN         NaN       NaN  311.250000   75.000000     80.000000      75.000000   70.000000  100.000000          100.0      NaN      NaN      NaN         NaN              NaN  100.000000           50.000000      80.000000     400.000000           700.000000               NaN        NaN                    1.0   1495.000000                NaN                NaN                   NaN  NaN  NaN  NaN  NaN  NaN                            NaN
50%             NaN      NaN        NaN                  NaN           NaN                        NaN   NaN         NaN        NaN     NaN         NaN    5.000000       NaN       NaN           NaN           NaN     NaN         NaN       NaN  375.000000   90.000000    100.000000      90.000000   87.500000  100.000000          100.0      NaN      NaN      NaN         NaN              NaN  100.000000           70.000000     110.000000     500.000000           800.000000               NaN        NaN                    1.0   3205.000000                NaN                NaN                   NaN  NaN  NaN  NaN  NaN  NaN                            NaN
75%             NaN      NaN        NaN                  NaN           NaN                        NaN   NaN         NaN        NaN     NaN         NaN    7.750000       NaN       NaN           NaN           NaN     NaN         NaN       NaN  405.000000  108.750000    100.000000     105.000000  100.000000  100.000000          100.0      NaN      NaN      NaN         NaN              NaN  100.000000          100.000000     150.000000     700.000000          1100.000000               NaN        NaN                    1.0   6375.000000                NaN                NaN                   NaN  NaN  NaN  NaN  NaN  NaN                            NaN
max             NaN      NaN        NaN                  NaN           NaN                        NaN   NaN         NaN        NaN     NaN         NaN   20.000000       NaN       NaN           NaN           NaN     NaN         NaN       NaN  515.000000  150.000000    150.000000     145.000000  145.000000  150.000000          100.0      NaN      NaN      NaN         NaN              NaN  300.000000          600.000000     800.000000    1700.000000          3300.000000               NaN        NaN                    1.0  10520.000000                NaN                NaN                   NaN  NaN  NaN  NaN  NaN  NaN                            NaN

Valeurs manquantes:

                            Total  Pourcentage
OverrideNameTextID            137    99.275362
NamePrefixID                  138   100.000000
OverridePartnerSkillTextID    137    99.275362
variant                       105    76.086957
Element 2                     112    81.159420
Organization                  138   100.000000
weapon                        138   100.000000
nocturnal                     113    81.884058
AISightResponse               138   100.000000
Riding sprint speed            77    55.797101
Must bring entry 1            121    87.681159
Must bring entry 2            134    97.101449

Nombre de lignes dupliqu√©es: 0

Analyse des colonnes cat√©gorielles:

Chinese name:
  - 137 valeurs uniques
  - Top 5 des valeurs les plus fr√©quentes:
    ‚Ä¢ Thunderbird: 2 occurrences
    ‚Ä¢ Pipi Chicken: 1 occurrences
    ‚Ä¢ green leaf rat: 1 occurrences
    ‚Ä¢ tinder fox: 1 occurrences
    ‚Ä¢ surf duck: 1 occurrences
  - Valeur la moins fr√©quente: Vortex Dragon (1 occurrence(s))

Name:
  - 138 valeurs uniques
  - Top 5 des valeurs les plus fr√©quentes:
    ‚Ä¢ Lamball: 1 occurrences
    ‚Ä¢ Chikipi: 1 occurrences
    ‚Ä¢ Lifmunk: 1 occurrences
    ‚Ä¢ Foxparks: 1 occurrences
    ‚Ä¢ Fuack: 1 occurrences
  - Valeur la moins fr√©quente: Jetragon (1 occurrence(s))

CodeName:
  - 138 valeurs uniques
  - Top 5 des valeurs les plus fr√©quentes:
    ‚Ä¢ SheepBall: 1 occurrences
    ‚Ä¢ ChickenPal: 1 occurrences
    ‚Ä¢ Carbunclo: 1 occurrences
    ‚Ä¢ Kitsunebi: 1 occurrences
    ‚Ä¢ BluePlatypus: 1 occurrences
  - Valeur la moins fr√©quente: JetDragon (1 occurrence(s))

OverrideNameTextID:
  - 2 valeurs uniques
  - Valeurs: [nan 'PAL_NAME_PlantSlime']

OverridePartnerSkillTextID:
  - 2 valeurs uniques
  - Valeurs: [nan 'PARTNERSKILL_PlantSlime']

Tribe:
  - 137 valeurs uniques
  - Top 5 des valeurs les plus fr√©quentes:
    ‚Ä¢ PlantSlime: 2 occurrences
    ‚Ä¢ ChickenPal: 1 occurrences
    ‚Ä¢ Carbunclo: 1 occurrences
    ‚Ä¢ Kitsunebi: 1 occurrences
    ‚Ä¢ Blueplatypus: 1 occurrences
  - Valeur la moins fr√©quente: JetDragon (1 occurrence(s))

BPClass:
  - 138 valeurs uniques
  - Top 5 des valeurs les plus fr√©quentes:
    ‚Ä¢ SheepBall: 1 occurrences
    ‚Ä¢ ChickenPal: 1 occurrences
    ‚Ä¢ Carbunclo: 1 occurrences
    ‚Ä¢ Kitsunebi: 1 occurrences
    ‚Ä¢ BluePlatypus: 1 occurrences
  - Valeur la moins fr√©quente: JetDragon (1 occurrence(s))

variant:
  - 2 valeurs uniques
  - Valeurs: [nan 'yes']

Volume size:
  - 5 valeurs uniques
  - Valeurs: ['XS' 'S' 'L' 'M' 'XL']

Element 1:
  - 9 valeurs uniques
  - Valeurs: ['generally' 'Wood' 'fire' 'water' 'electricity' 'ice' 'dark' 'land'
 'dragon']

Element 2:
  - 9 valeurs uniques
  - Valeurs: [nan 'ice' 'land' 'dark' 'Wood' 'electricity' 'dragon' 'water' 'fire']

GenusCategory:
  - 7 valeurs uniques
  - Valeurs: ['Humanoid' 'Bird' 'FourLegged' 'Other' 'Fish' 'Dragon' 'Monster']

nocturnal:
  - 2 valeurs uniques
  - Valeurs: [nan 'yes']

Level 1:
  - 15 valeurs uniques
  - Top 10 des valeurs les plus fr√©quentes:
    ‚Ä¢ 107-109: 25 occurrences
    ‚Ä¢ 105-106: 21 occurrences
    ‚Ä¢ 106-108: 19 occurrences
    ‚Ä¢ 106-107: 16 occurrences
    ‚Ä¢ 107-110: 14 occurrences
    ‚Ä¢ 105-107: 8 occurrences
    ‚Ä¢ 109-112: 7 occurrences
    ‚Ä¢ 108-110: 6 occurrences
    ‚Ä¢ 104-105: 5 occurrences
    ‚Ä¢ 108-111: 5 occurrences

Level 20:
  - 18 valeurs uniques
  - Top 10 des valeurs les plus fr√©quentes:
    ‚Ä¢ 205-236: 21 occurrences
    ‚Ä¢ 220-256: 16 occurrences
    ‚Ä¢ 257-304: 14 occurrences
    ‚Ä¢ 250-295: 13 occurrences
    ‚Ä¢ 242-285: 12 occurrences
    ‚Ä¢ 235-275: 11 occurrences
    ‚Ä¢ 212-246: 8 occurrences
    ‚Ä¢ 227-265: 8 occurrences
    ‚Ä¢ 265-314: 6 occurrences
    ‚Ä¢ 190-217: 5 occurrences

Level 50:
  - 18 valeurs uniques
  - Top 10 des valeurs les plus fr√©quentes:
    ‚Ä¢ 362-441: 21 occurrences
    ‚Ä¢ 400-490: 16 occurrences
    ‚Ä¢ 493-611: 14 occurrences
    ‚Ä¢ 475-587: 13 occurrences
    ‚Ä¢ 456-563: 12 occurrences
    ‚Ä¢ 437-538: 11 occurrences
    ‚Ä¢ 381-465: 8 occurrences
    ‚Ä¢ 418-514: 8 occurrences
    ‚Ä¢ 512-636: 6 occurrences
    ‚Ä¢ 325-392: 5 occurrences

AIRResponse:
  - 5 valeurs uniques
  - Valeurs: ['Friendly' 'Escape' 'Escape_to_Battle' 'Warlike' 'NotInterested']

damage multiplier:
  - 8 valeurs uniques
  - Valeurs: ['2' '1' '1,3' '1,2' '1,8' '1,7' '1,6' '1,1']

catch rate:
  - 6 valeurs uniques
  - Valeurs: ['1,5' '0,9' '1,1' '1' '1,2' '1,3']

Must bring entry 1:
  - 12 valeurs uniques
  - Top 10 des valeurs les plus fr√©quentes:
    ‚Ä¢ legend: 5 occurrences
    ‚Ä¢ hard skin: 3 occurrences
    ‚Ä¢ timid: 1 occurrences
    ‚Ä¢ rough: 1 occurrences
    ‚Ä¢ Uncharacteristically: 1 occurrences
    ‚Ä¢ Elf King: 1 occurrences
    ‚Ä¢ Yandi: 1 occurrences
    ‚Ä¢ Thunder Emperor: 1 occurrences
    ‚Ä¢ Greedy: 1 occurrences
    ‚Ä¢ Emperor Yan: 1 occurrences

Must bring entry 2:
  - 5 valeurs uniques
  - Valeurs: [nan 'holy day' 'Hades' 'ice King' 'Shenlong']

Numerical description:
  - 36 valeurs uniques
  - Top 5 des valeurs les plus fr√©quentes:
    ‚Ä¢ Attack power bonus%: 25 occurrences
    ‚Ä¢ Skill power: 13 occurrences
    ‚Ä¢ Skill power multiplier: 13 occurrences
    ‚Ä¢ Moving speed%: 13 occurrences
    ‚Ä¢ Ranch skills: 10 occurrences
  - Valeur la moins fr√©quente: Elemental power bonus%_Ice (1 occurrence(s))

lv1:
  - 28 valeurs uniques
  - Top 5 des valeurs les plus fr√©quentes:
    ‚Ä¢ 0: 25 occurrences
    ‚Ä¢ 50: 22 occurrences
    ‚Ä¢ 10: 16 occurrences
    ‚Ä¢ 40: 11 occurrences
    ‚Ä¢ 1.1: 10 occurrences
  - Valeur la moins fr√©quente: 13 (1 occurrence(s))

lv2:
  - 32 valeurs uniques
  - Top 5 des valeurs les plus fr√©quentes:
    ‚Ä¢ 55: 20 occurrences
    ‚Ä¢ 11: 16 occurrences
    ‚Ä¢ 10: 12 occurrences
    ‚Ä¢ 0: 11 occurrences
    ‚Ä¢ 50: 11 occurrences
  - Valeur la moins fr√©quente: 14.3 (1 occurrence(s))

lv3:
  - 34 valeurs uniques
  - Top 5 des valeurs les plus fr√©quentes:
    ‚Ä¢ 65: 20 occurrences
    ‚Ä¢ 13: 16 occurrences
    ‚Ä¢ 12: 12 occurrences
    ‚Ä¢ 0: 11 occurrences
    ‚Ä¢ 60: 11 occurrences
  - Valeur la moins fr√©quente: 16.9 (1 occurrence(s))

lv4:
  - 31 valeurs uniques
  - Top 5 des valeurs les plus fr√©quentes:
    ‚Ä¢ 80: 21 occurrences
    ‚Ä¢ 16: 16 occurrences
    ‚Ä¢ 15: 12 occurrences
    ‚Ä¢ 0: 11 occurrences
    ‚Ä¢ 70: 11 occurrences
  - Valeur la moins fr√©quente: 20.9 (1 occurrence(s))

lv5:
  - 29 valeurs uniques
  - Top 5 des valeurs les plus fr√©quentes:
    ‚Ä¢ 20: 28 occurrences
    ‚Ä¢ 100: 20 occurrences
    ‚Ä¢ 0: 11 occurrences
    ‚Ä¢ 80: 11 occurrences
    ‚Ä¢ 2.5: 10 occurrences
  - Valeur la moins fr√©quente: 26 (1 occurrence(s))

Skill description:
  - 120 valeurs uniques
  - Top 5 des valeurs les plus fr√©quentes:
    ‚Ä¢ Can be moved around on its back. Two jumps are possible during the ride.: 3 occurrences
    ‚Ä¢ If it is in the team, the elemental Fire Palu's attack power will be increased.: 2 occurrences
    ‚Ä¢ Assign it to Palu Ranch and it will have a chance to dig Money out of the ground.: 2 occurrences
    ‚Ä¢ If it is in the party, players will be able to deal more damage when harvesting.: 2 occurrences
    ‚Ä¢ After activation, the sixth sense can be activated to detect the location of nearby dungeons.: 2 occurrences
  - Valeur la moins fr√©quente: You can ride on its back and fly in the air. It can also continuously attack with its missile launcher while riding. (1 occurrence(s))

Valeurs aberrantes (m√©thode IQR):

Valeurs aberrantes (m√©thode IQR):
NamePrefixID: 0 valeurs aberrantes (0.0%)
rarity: 5 valeurs aberrantes (3.6%)
  Valeurs: [20, 20, 20, 20, 20]
Organization: 0 valeurs aberrantes (0.0%)
weapon: 0 valeurs aberrantes (0.0%)
4D total: 0 valeurs aberrantes (0.0%)
HP: 0 valeurs aberrantes (0.0%)
melee attack: 6 valeurs aberrantes (4.3%)
  Valeurs: [140, 150, 150, 150, 150, 150]
Remote attack: 0 valeurs aberrantes (0.0%)
defense: 0 valeurs aberrantes (0.0%)
support: 22 valeurs aberrantes (15.9%)
  Premi√®res 10: [30, 30, 50, 70, 70, 70, 70, 80, 90, 90]
Speed of work: 0 valeurs aberrantes (0.0%)
AISightResponse: 0 valeurs aberrantes (0.0%)
endurance: 15 valeurs aberrantes (10.9%)
  Premi√®res 10: [130, 130, 150, 150, 150, 160, 170, 220, 230, 250]
slow walking speed: 1 valeurs aberrantes (0.7%)
  Valeurs: [600]
walking speed: 6 valeurs aberrantes (4.3%)
  Valeurs: [280, 350, 350, 350, 400, 800]
running speed: 1 valeurs aberrantes (0.7%)
  Valeurs: [1700]
Riding sprint speed: 1 valeurs aberrantes (0.7%)
  Valeurs: [3300.0]
Experience multiplier: 0 valeurs aberrantes (0.0%)
price: 0 valeurs aberrantes (0.0%)

======================================================================

In [246]:
explore_dataframe(hidden_attribute, 'Hidden Attribute')

===== Exploration de Hidden Attribute =====

--- Informations de base ---
Class: <class 'pandas.core.frame.DataFrame'>
Index: <class 'pandas.core.indexes.range.RangeIndex'> | RangeIndex(start=0, stop=144, step=1)
Entries: 144 | Columns: 67

                        Column  Non-Null Count    Dtype
0           OverrideNameTextID             144   object
1   OverridePartnerSkillTextID             144   object
2                        IsPal             144    int64
3                        Tribe             144   object
4                      BPClass             144   object
..                         ...             ...      ...
62                     pasture             144    int64
63             Passive skill 1              17   object
64             Passive skill 2               4   object
65             Passive skill 3               0  float64
66             Passive skill 4               0  float64

[67 rows x 3 columns]

Memory usage: 176.62 KB

Dimensions: 144 lignes, 67 colonnes

Aper√ßu des premi√®res lignes:

   OverrideNameTextID     OverridePartnerSkillTextID  IsPal               Tribe                  BPClass  Pictorial ID  ZukanIndexSuffix Size  rarity Element 1 Element 2 GenusCategory  Organization  weapon  WeaponEquip   HP  melee attack  Remote attack  defense  support  CraftSpeed damageMultiplier CaptureProbability  ExperienceMultiplier  price    AIRResponse  AISightResponse  slow walking speed  walking speed  running speed  Riding sprint speed  Handling speed  IsBoss  IsTowerBoss  BattleBGM  IgnoreLeanBack  IgnoreBlowAway  MaxFullStomach  FullStomachDecreaseRate  FoodAmount  ViewingDistance  ViewingAngle  HearingRate  NooseTrap  Nocturnal  BiologicalGrade  Predator  Edible  endurance  Male probability  fecundity  Breathing fire  watering  planting  generate electricity  manual  collection  logging  Mining  pharmaceutical  cool down  carry  pasture Passive skill 1 Passive skill 2  Passive skill 3  Passive skill 4
0  SakuraSaurus_Water  PARTNERSKILL_SakuraSaurus_...      1  SakuraSaurus_Water  BOSS_SakuraSaurus_Water            -1               NaN   XL       8      Leaf     Water    FourLegged           NaN     NaN            0  120            80             95      100      120         100              0,2                0,7                    10   3110  NotInterested              NaN                  50             75            350                  600             200       1            0  FieldBoss               0               0             475                        1           7               25            90            1          0          0                9         0       1        100                50        840               0         1         0                     0       0           0        0       0               0          0      0        0             NaN             NaN              NaN              NaN
1       AmaterasuWolf     PARTNERSKILL_AmaterasuWolf      1       AmaterasuWolf       BOSS_AmaterasuWolf            -1               NaN   XL       6      Fire       NaN    FourLegged           NaN     NaN            0  100            70            115      100      110         100              0,2                0,7                    10   3170           Boss              NaN                  80            130            700                 1000             415       1            0  FieldBoss               0               0             300                        1           4               25            90            1          0          0                9         1       1        100                50        830               1         0         0                     0       0           0        0       0               0          0      0        0             NaN             NaN              NaN              NaN
2           RobinHood         PARTNERSKILL_RobinHood      1           RobinHood           BOSS_RobinHood            -1               NaN   XL       0      Leaf       NaN      Humanoid           NaN     NaN            0   90           100            105       80      100         100              0,2                0,7                    10   2050           Boss              NaN                 100            100            600                  750             400       1            0  FieldBoss               0               0             225                        1           3               25            90            1          0          0                9         0       1        100                50       1020               0         0         1                     0       1           1        1       0               1          0      1        0             NaN             NaN              NaN              NaN

Types de donn√©es:

OverrideNameTextID             object
OverridePartnerSkillTextID     object
IsPal                           int64
Tribe                          object
BPClass                        object
                               ...
pasture                         int64
Passive skill 1                object
Passive skill 2                object
Passive skill 3               float64
Passive skill 4               float64
Length: 67, dtype: object

Statistiques descriptives:

       OverrideNameTextID OverridePartnerSkillTextID  IsPal         Tribe                  BPClass  Pictorial ID  ZukanIndexSuffix Size      rarity Element 1 Element 2 GenusCategory  Organization  weapon  WeaponEquip           HP  melee attack  Remote attack     defense     support  CraftSpeed damageMultiplier CaptureProbability  ExperienceMultiplier         price AIRResponse  AISightResponse  slow walking speed  walking speed  running speed  Riding sprint speed  Handling speed  IsBoss  IsTowerBoss  BattleBGM  IgnoreLeanBack  IgnoreBlowAway  MaxFullStomach  FullStomachDecreaseRate  FoodAmount  ViewingDistance  ViewingAngle  HearingRate  NooseTrap   Nocturnal  BiologicalGrade    Predator  Edible   endurance  Male probability    fecundity  Breathing fire    watering    planting  generate electricity      manual  collection     logging      Mining  pharmaceutical   cool down       carry     pasture Passive skill 1            Passive skill 2  Passive skill 3  Passive skill 4
count                 144                        144  144.0           144                      144    144.000000               0.0  144  144.000000       144        27           144           0.0     0.0        144.0   144.000000    144.000000     144.000000  144.000000  144.000000       144.0              144                144            144.000000    144.000000         144              0.0          144.000000     144.000000     144.000000           144.000000      144.000000   144.0   144.000000        144      144.000000      144.000000      144.000000                    144.0  144.000000            144.0         144.0        144.0      144.0  144.000000         144.0000  144.000000   144.0  144.000000        144.000000   144.000000      144.000000  144.000000  144.000000            144.000000  144.000000  144.000000  144.000000  144.000000      144.000000  144.000000  144.000000  144.000000              17                          4              0.0              0.0
unique                143                        143    NaN           138                      144           NaN               NaN    4         NaN         9         8             7           NaN     NaN          NaN          NaN           NaN            NaN         NaN         NaN         NaN                4                  7                   NaN           NaN           3              NaN                 NaN            NaN            NaN                  NaN             NaN     NaN          NaN          3             NaN             NaN             NaN                      NaN         NaN              NaN           NaN          NaN        NaN         NaN              NaN         NaN     NaN         NaN               NaN          NaN             NaN         NaN         NaN                   NaN         NaN         NaN         NaN         NaN             NaN         NaN         NaN         NaN              11                          4              NaN              NaN
top            PlantSlime    PARTNERSKILL_PlantSlime    NaN  BlackGriffon  BOSS_SakuraSaurus_Water           NaN               NaN   XL         NaN      Fire      Dark      Humanoid           NaN     NaN          NaN          NaN           NaN            NaN         NaN         NaN         NaN              0,2                0,7                   NaN           NaN        Boss              NaN                 NaN            NaN            NaN                  NaN             NaN     NaN          NaN  FieldBoss             NaN             NaN             NaN                      NaN         NaN              NaN           NaN          NaN        NaN         NaN              NaN         NaN     NaN         NaN               NaN          NaN             NaN         NaN         NaN                   NaN         NaN         NaN         NaN         NaN             NaN         NaN         NaN         NaN          Legend  ElementBoost_Normal_2_PAL              NaN              NaN
freq                    2                          2    NaN             2                        1           NaN               NaN  113         NaN        22         6            57           NaN     NaN          NaN          NaN           NaN            NaN         NaN         NaN         NaN               95                119                   NaN           NaN          82              NaN                 NaN            NaN            NaN                  NaN             NaN     NaN          NaN        134             NaN             NaN             NaN                      NaN         NaN              NaN           NaN          NaN        NaN         NaN              NaN         NaN     NaN         NaN               NaN          NaN             NaN         NaN         NaN                   NaN         NaN         NaN         NaN         NaN             NaN         NaN         NaN         NaN               5                          1              NaN              NaN
mean                  NaN                        NaN    1.0           NaN                      NaN     -1.034722               NaN  NaN    5.333333       NaN       NaN           NaN           NaN     NaN          0.0   323.159722     95.138889      93.402778   89.513889  100.000000       100.0              NaN                NaN             10.694444   4263.194444         NaN              NaN           77.041667     131.701389     556.250000           802.951389      321.756944     1.0     0.034722        NaN        0.034722        0.034722      325.000000                      1.0    4.638889             25.0          90.0          1.0        0.0    0.180556           8.9375    0.284722     1.0  112.569444         49.756944  1113.555556        0.166667    0.104167    0.152778              0.090278    0.375000    0.333333    0.256944    0.159722        0.118056    0.125000    0.409722    0.090278             NaN                        NaN              NaN              NaN
std                   NaN                        NaN    0.0           NaN                      NaN      0.183714               NaN  NaN    4.053834       NaN       NaN           NaN           NaN     NaN          0.0  1187.045717     19.105380      21.875784   21.928997   13.638694         0.0              NaN                NaN              3.674287   2874.814352         NaN              NaN           53.039618      85.185038     212.771834           356.053255      139.071861     0.0     0.183714        NaN        0.183714        0.183714      142.560256                      0.0    2.267469              0.0           0.0          0.0        0.0    0.385992           0.7500    0.452857     0.0   45.400264         12.714315  1746.620020        0.373979    0.306543    0.361029              0.287580    0.485813    0.473050    0.438474    0.367627        0.323800    0.331873    0.493499    0.287580             NaN                        NaN              NaN              NaN
min                   NaN                        NaN    1.0           NaN                      NaN     -2.000000               NaN  NaN    0.000000       NaN       NaN           NaN           NaN     NaN          0.0    60.000000     50.000000      50.000000   50.000000   30.000000       100.0              NaN                NaN             10.000000   1000.000000         NaN              NaN           10.000000      10.000000     245.000000           350.000000       -1.000000     1.0     0.000000        NaN        0.000000        0.000000      100.000000                      1.0    1.000000             25.0          90.0          1.0        0.0    0.000000           0.0000    0.000000     1.0   70.000000          0.000000     0.000000        0.000000    0.000000    0.000000              0.000000    0.000000    0.000000    0.000000    0.000000        0.000000    0.000000    0.000000    0.000000             NaN                        NaN              NaN              NaN
25%                   NaN                        NaN    1.0           NaN                      NaN     -1.000000               NaN  NaN    2.000000       NaN       NaN           NaN           NaN     NaN          0.0    75.000000     80.000000      78.750000   70.000000  100.000000       100.0              NaN                NaN             10.000000   1600.000000         NaN              NaN           50.000000      80.000000     400.000000           550.000000      235.000000     1.0     0.000000        NaN        0.000000        0.000000      225.000000                      1.0    3.000000             25.0          90.0          1.0        0.0    0.000000           9.0000    0.000000     1.0  100.000000         50.000000   417.500000        0.000000    0.000000    0.000000              0.000000    0.000000    0.000000    0.000000    0.000000        0.000000    0.000000    0.000000    0.000000             NaN                        NaN              NaN              NaN
50%                   NaN                        NaN    1.0           NaN                      NaN     -1.000000               NaN  NaN    5.000000       NaN       NaN           NaN           NaN     NaN          0.0    95.000000    100.000000      90.000000   90.000000  100.000000       100.0              NaN                NaN             10.000000   3450.000000         NaN              NaN           72.500000     110.000000     500.000000           710.000000      305.000000     1.0     0.000000        NaN        0.000000        0.000000      350.000000                      1.0    5.000000             25.0          90.0          1.0        0.0    0.000000           9.0000    0.000000     1.0  100.000000         50.000000   855.000000        0.000000    0.000000    0.000000              0.000000    0.000000    0.000000    0.000000    0.000000        0.000000    0.000000    0.000000    0.000000             NaN                        NaN              NaN              NaN
75%                   NaN                        NaN    1.0           NaN                      NaN     -1.000000               NaN  NaN    8.000000       NaN       NaN           NaN           NaN     NaN          0.0   110.000000    100.000000     105.000000  100.000000  100.000000       100.0              NaN                NaN             10.000000   6720.000000         NaN              NaN          100.000000     152.500000     700.000000           950.000000      400.000000     1.0     0.000000        NaN        0.000000        0.000000      475.000000                      1.0    7.000000             25.0          90.0          1.0        0.0    0.000000           9.0000    1.000000     1.0  100.000000         50.000000  1232.500000        0.000000    0.000000    0.000000              0.000000    1.000000    1.000000    1.000000    0.000000        0.000000    0.000000    1.000000    0.000000             NaN                        NaN              NaN              NaN
max                   NaN                        NaN    1.0           NaN                      NaN     -1.000000               NaN  NaN   20.000000       NaN       NaN           NaN           NaN     NaN          0.0  8000.000000    150.000000     200.000000  220.000000  150.000000       100.0              NaN                NaN             30.000000  10520.000000         NaN              NaN          600.000000     800.000000    1700.000000          3300.000000     1250.000000     1.0     1.000000        NaN        1.000000        1.000000      600.000000                      1.0    9.000000             25.0          90.0          1.0        0.0    1.000000           9.0000    1.000000     1.0  350.000000        100.000000  9999.000000        1.000000    1.000000    1.000000              1.000000    1.000000    1.000000    1.000000    1.000000        1.000000    1.000000    1.000000    1.000000             NaN                        NaN              NaN              NaN

Valeurs manquantes:

                  Total  Pourcentage
ZukanIndexSuffix    144   100.000000
Element 2           117    81.250000
Organization        144   100.000000
weapon              144   100.000000
AISightResponse     144   100.000000
Passive skill 1     127    88.194444
Passive skill 2     140    97.222222
Passive skill 3     144   100.000000
Passive skill 4     144   100.000000

Nombre de lignes dupliqu√©es: 0

Analyse des colonnes cat√©gorielles:

OverrideNameTextID:
  - 143 valeurs uniques
  - Top 5 des valeurs les plus fr√©quentes:
    ‚Ä¢ PlantSlime: 2 occurrences
    ‚Ä¢ AmaterasuWolf: 1 occurrences
    ‚Ä¢ SakuraSaurus_Water: 1 occurrences
    ‚Ä¢ RedArmorBird: 1 occurrences
    ‚Ä¢ ColorfulBird: 1 occurrences
  - Valeur la moins fr√©quente: LilyQueen_Dark (1 occurrence(s))

OverridePartnerSkillTextID:
  - 143 valeurs uniques
  - Top 5 des valeurs les plus fr√©quentes:
    ‚Ä¢ PARTNERSKILL_PlantSlime: 2 occurrences
    ‚Ä¢ PARTNERSKILL_AmaterasuWolf: 1 occurrences
    ‚Ä¢ PARTNERSKILL_SakuraSaurus_Water: 1 occurrences
    ‚Ä¢ PARTNERSKILL_RedArmorBird: 1 occurrences
    ‚Ä¢ PARTNERSKILL_ColorfulBird: 1 occurrences
  - Valeur la moins fr√©quente: PARTNERSKILL_LilyQueen_Dark (1 occurrence(s))

Tribe:
  - 138 valeurs uniques
  - Top 5 des valeurs les plus fr√©quentes:
    ‚Ä¢ BlackGriffon: 2 occurrences
    ‚Ä¢ PlantSlime: 2 occurrences
    ‚Ä¢ Horus: 2 occurrences
    ‚Ä¢ ElecPanda: 2 occurrences
    ‚Ä¢ LilyQueen: 2 occurrences
  - Valeur la moins fr√©quente: LilyQueen_Dark (1 occurrence(s))

BPClass:
  - 144 valeurs uniques
  - Top 5 des valeurs les plus fr√©quentes:
    ‚Ä¢ BOSS_SakuraSaurus_Water: 1 occurrences
    ‚Ä¢ BOSS_AmaterasuWolf: 1 occurrences
    ‚Ä¢ BOSS_RobinHood: 1 occurrences
    ‚Ä¢ BOSS_RedArmorBird: 1 occurrences
    ‚Ä¢ BOSS_ColorfulBird: 1 occurrences
  - Valeur la moins fr√©quente: BOSS_LilyQueen_Dark (1 occurrence(s))

Size:
  - 4 valeurs uniques
  - Valeurs: ['XL' 'L' 'S' 'M']

Element 1:
  - 9 valeurs uniques
  - Valeurs: ['Leaf' 'Fire' 'Normal' 'Dark' 'Water' 'Earth' 'Ice' 'Electricity'
 'Dragon']

Element 2:
  - 9 valeurs uniques
  - Valeurs: ['Water' nan 'Leaf' 'Earth' 'Ice' 'Electricity' 'Dark' 'Dragon' 'Fire']

GenusCategory:
  - 7 valeurs uniques
  - Valeurs: ['FourLegged' 'Humanoid' 'Bird' 'Dragon' 'Other' 'Monster' 'Fish']

damageMultiplier:
  - 4 valeurs uniques
  - Valeurs: ['0,2' '0,4' '0,1' '1']

CaptureProbability:
  - 7 valeurs uniques
  - Valeurs: ['0,7' '1,05' '0,91' '0,63' '0,77' '0,84' '1']

AIRResponse:
  - 3 valeurs uniques
  - Valeurs: ['NotInterested' 'Boss' 'Warlike']

BattleBGM:
  - 3 valeurs uniques
  - Valeurs: ['FieldBoss' 'Legend' 'TowerBoss']

Passive skill 1:
  - 12 valeurs uniques
  - Top 10 des valeurs les plus fr√©quentes:
    ‚Ä¢ Legend: 5 occurrences
    ‚Ä¢ Deffence_up1: 3 occurrences
    ‚Ä¢ ElementBoost_Earth_2_PAL: 1 occurrences
    ‚Ä¢ PAL_FullStomach_Up_1: 1 occurrences
    ‚Ä¢ PAL_ALLAttack_down1: 1 occurrences
    ‚Ä¢ ElementBoost_Thunder_2_PAL: 1 occurrences
    ‚Ä¢ ElementBoost_Fire_2_PAL: 1 occurrences
    ‚Ä¢ ElementBoost_Aqua_2_PAL: 1 occurrences
    ‚Ä¢ PAL_rude: 1 occurrences
    ‚Ä¢ ElementResist_Normal_1_PAL: 1 occurrences

Passive skill 2:
  - 5 valeurs uniques
  - Valeurs: [nan 'ElementBoost_Normal_2_PAL' 'ElementBoost_Dragon_2_PAL'
 'ElementBoost_Ice_2_PAL' 'ElementBoost_Dark_2_PAL']

Valeurs aberrantes (m√©thode IQR):

Valeurs aberrantes (m√©thode IQR):
IsPal: 0 valeurs aberrantes (0.0%)
Pictorial ID: 5 valeurs aberrantes (3.5%)
  Valeurs: [-2, -2, -2, -2, -2]
ZukanIndexSuffix: 0 valeurs aberrantes (0.0%)
rarity: 5 valeurs aberrantes (3.5%)
  Valeurs: [20, 20, 20, 20, 20]
Organization: 0 valeurs aberrantes (0.0%)
weapon: 0 valeurs aberrantes (0.0%)
WeaponEquip: 0 valeurs aberrantes (0.0%)
HP: 10 valeurs aberrantes (6.9%)
  Valeurs: [260, 260, 330, 420, 420, 5500, 6000, 6500, 6500, 8000]
melee attack: 6 valeurs aberrantes (4.2%)
  Valeurs: [140, 150, 150, 150, 150, 150]
Remote attack: 2 valeurs aberrantes (1.4%)
  Valeurs: [145, 200]
defense: 1 valeurs aberrantes (0.7%)
  Valeurs: [220]
support: 22 valeurs aberrantes (15.3%)
  Premi√®res 10: [30, 30, 50, 70, 70, 80, 90, 90, 90, 90]
CraftSpeed: 0 valeurs aberrantes (0.0%)
ExperienceMultiplier: 5 valeurs aberrantes (3.5%)
  Valeurs: [30, 30, 30, 30, 30]
price: 0 valeurs aberrantes (0.0%)
AISightResponse: 0 valeurs aberrantes (0.0%)
slow walking speed: 1 valeurs aberrantes (0.7%)
  Valeurs: [600]
walking speed: 6 valeurs aberrantes (4.2%)
  Valeurs: [280, 350, 350, 350, 400, 800]
running speed: 1 valeurs aberrantes (0.7%)
  Valeurs: [1700]
Riding sprint speed: 4 valeurs aberrantes (2.8%)
  Valeurs: [1600, 1600, 1600, 3300]
Handling speed: 1 valeurs aberrantes (0.7%)
  Valeurs: [1250]
IsBoss: 0 valeurs aberrantes (0.0%)
IsTowerBoss: 5 valeurs aberrantes (3.5%)
  Valeurs: [1, 1, 1, 1, 1]
IgnoreLeanBack: 5 valeurs aberrantes (3.5%)
  Valeurs: [1, 1, 1, 1, 1]
IgnoreBlowAway: 5 valeurs aberrantes (3.5%)
  Valeurs: [1, 1, 1, 1, 1]
MaxFullStomach: 0 valeurs aberrantes (0.0%)
FullStomachDecreaseRate: 0 valeurs aberrantes (0.0%)
FoodAmount: 0 valeurs aberrantes (0.0%)
ViewingDistance: 0 valeurs aberrantes (0.0%)
ViewingAngle: 0 valeurs aberrantes (0.0%)
HearingRate: 0 valeurs aberrantes (0.0%)
NooseTrap: 0 valeurs aberrantes (0.0%)
Nocturnal: 26 valeurs aberrantes (18.1%)
  Premi√®res 10: [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
BiologicalGrade: 1 valeurs aberrantes (0.7%)
  Valeurs: [0]
Predator: 0 valeurs aberrantes (0.0%)
Edible: 0 valeurs aberrantes (0.0%)
endurance: 16 valeurs aberrantes (11.1%)
  Premi√®res 10: [70, 130, 130, 150, 150, 150, 160, 170, 220, 230]
Male probability: 15 valeurs aberrantes (10.4%)
  Premi√®res 10: [0, 0, 10, 10, 20, 20, 30, 30, 30, 85]
fecundity: 5 valeurs aberrantes (3.5%)
  Valeurs: [9999, 9999, 9999, 9999, 9999]
Breathing fire: 24 valeurs aberrantes (16.7%)
  Premi√®res 10: [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
watering: 15 valeurs aberrantes (10.4%)
  Premi√®res 10: [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
planting: 22 valeurs aberrantes (15.3%)
  Premi√®res 10: [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
generate electricity: 13 valeurs aberrantes (9.0%)
  Premi√®res 10: [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
manual: 0 valeurs aberrantes (0.0%)
collection: 0 valeurs aberrantes (0.0%)
logging: 0 valeurs aberrantes (0.0%)
Mining: 23 valeurs aberrantes (16.0%)
  Premi√®res 10: [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
pharmaceutical: 17 valeurs aberrantes (11.8%)
  Premi√®res 10: [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
cool down: 18 valeurs aberrantes (12.5%)
  Premi√®res 10: [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
carry: 0 valeurs aberrantes (0.0%)
pasture: 13 valeurs aberrantes (9.0%)
  Premi√®res 10: [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
Passive skill 3: 0 valeurs aberrantes (0.0%)
Passive skill 4: 0 valeurs aberrantes (0.0%)

======================================================================

## Cr√©ation de la base de donn√©es et de ses tables

### Cr√©ation de la base de donn√©es

In [115]:
try:
    # Connexion sans sp√©cifier de base de donn√©es pour pouvoir la cr√©er
    conn = mariadb.connect(
        user='root',
        password='cN06+#P34',
        host='localhost',
        port=3307
    )
    cursor = conn.cursor()

    # Cr√©ation de la base de donn√©es
    cursor.execute("CREATE DATABASE IF NOT EXISTS palworld_database")
    print("Base de donn√©es 'palworld_database' cr√©√©e ou d√©j√† existante.")

except mariadb.Error as e:
    print(f"Erreur : {e}")
    exit()

finally:
    if conn:
        conn.close()

Base de donn√©es 'palworld_database' cr√©√©e ou d√©j√† existante.

### Cr√©ation des tables, insertion des donn√©es et validations

In [118]:
# Cr√©ation table job_skills & Insertion des donn√©es dans les tables

# === Config base de donn√©es ===
config = {
    'user': 'root',
    'password': 'cN06+#P34',
    'host': 'localhost',
    'port': 3307,
    'database': 'palworld_database'
}

# === Connexion ===
try:
    conn = mariadb.connect(**config)
    cursor = conn.cursor()
    print("Connexion r√©ussie √† MariaDB !")
except mariadb.Error as e:
    print(f"Erreur de connexion : {e}")
    exit(1)

# === Cr√©ation de la table job_skills ===
create_table_query = """
CREATE TABLE IF NOT EXISTS job_skills (
    id INT AUTO_INCREMENT PRIMARY KEY,
    `English name` VARCHAR(255),
    `Chinese name` VARCHAR(255),
    `Volume size` VARCHAR(50),
    `Food intake` INT,
    `night shift` BOOLEAN,
    `Total skills` INT,
    `Make a fire` BOOLEAN,
    `watering` BOOLEAN,
    `planting` BOOLEAN,
    `generate electricity` BOOLEAN,
    `manual` BOOLEAN,
    `collection` BOOLEAN,
    `logging` BOOLEAN,
    `Mining` BOOLEAN,
    `pharmaceutical` BOOLEAN,
    `cool down` BOOLEAN,
    `pasture` BOOLEAN,
    `carry` BOOLEAN,
    `Handling speed` BOOLEAN,
    `ranch items` VARCHAR(255),
    `pasture minimum output` VARCHAR(255),
    `The largest ranch` VARCHAR(255)
);
"""

try:
    cursor.execute(create_table_query)
    conn.commit()
    print("Table 'job_skills' pr√™te.")
except mariadb.Error as e:
    print(f"Erreur cr√©ation table : {e}")
    conn.close()
    exit(1)

# === Lecture CSV avec Pandas ===
csv_file_path = r'C:\Users\Windows\Desktop\projets\1a\MariaDB\pals-analysis\data\Clean_Data-Palu-Job-Skills.csv'

try:
    df = pd.read_csv(csv_file_path)
    print(f"\nLe fichier CSV contient {df.shape[0]} lignes et {df.shape[1]} colonnes.")
except FileNotFoundError:
    print(f"Fichier non trouv√© : {csv_file_path}")
    conn.close()
    exit(1)

# === Nombre de colonnes dans la table job_skills ===
cursor.execute("SELECT COUNT(*) FROM information_schema.columns WHERE table_name = 'job_skills' AND table_schema = 'palworld_database'")
column_count = cursor.fetchone()[0]
print(f"La table 'job_skills' contient maintenant {column_count} colonnes.")

# === Fonction de conversion ===
def convert(value, col_name):
    if value == '' or str(value).lower() == 'none':
        return None
    if col_name.lower() in ['night shift', 'make a fire', 'watering', 'planting', 'generate electricity', 'manual', 'collection', 'logging', 'mining', 'pharmaceutical', 'cool down', 'pasture', 'carry', 'handling speed']:
        return str(value).strip().lower() == 'true'
    value = value.replace(',', '.')
    try:
        if '.' in value:
            return float(value)
        return int(value)
    except ValueError:
        return value

# === Insertion des donn√©es dans job_skills ===
try:
    with open(csv_file_path, mode='r', encoding='utf-8') as file:
        reader = csv.DictReader(file)
        headers = reader.fieldnames

        sql_headers = [h for h in headers]  # on conserve les noms initiaux
        placeholders = ', '.join(['%s'] * len(sql_headers))
        field_names = ', '.join(f'`{col}`' for col in sql_headers)
        insert_query = f"INSERT INTO job_skills ({field_names}) VALUES ({placeholders})"

        count = 0
        for row in reader:
            values = [convert(row[h], h) for h in headers]
            try:
                cursor.execute(insert_query, values)
                count += 1
            except mariadb.Error as e:
                print(f"Erreur insertion ligne {count + 1}: {e} ‚Äî valeurs: {values}")

        conn.commit()
        print(f"\n{count} lignes ins√©r√©es dans la table 'job_skills'.")
except FileNotFoundError:
    print(f"Fichier non trouv√© : {csv_file_path}")

# === Renommage des colonnes de mani√®re uniforme ===
rename_queries = [
    "ALTER TABLE job_skills CHANGE `English name` english_name VARCHAR(255);",
    "ALTER TABLE job_skills CHANGE `Chinese name` chinese_name VARCHAR(255);",
    "ALTER TABLE job_skills CHANGE `Volume size` volume_size VARCHAR(50);",
    "ALTER TABLE job_skills CHANGE `Food intake` food_intake INT;",
    "ALTER TABLE job_skills CHANGE `night shift` night_shift BOOLEAN;",
    "ALTER TABLE job_skills CHANGE `Total skills` total_skills INT;",
    "ALTER TABLE job_skills CHANGE `Make a fire` make_a_fire BOOLEAN;",
    "ALTER TABLE job_skills CHANGE `watering` watering BOOLEAN;",
    "ALTER TABLE job_skills CHANGE `planting` planting BOOLEAN;",
    "ALTER TABLE job_skills CHANGE `generate electricity` generate_electricity BOOLEAN;",
    "ALTER TABLE job_skills CHANGE `manual` manual BOOLEAN;",
    "ALTER TABLE job_skills CHANGE `collection` collection BOOLEAN;",
    "ALTER TABLE job_skills CHANGE `logging` logging BOOLEAN;",
    "ALTER TABLE job_skills CHANGE `Mining` mining BOOLEAN;",
    "ALTER TABLE job_skills CHANGE `pharmaceutical` pharmaceutical BOOLEAN;",
    "ALTER TABLE job_skills CHANGE `cool down` cool_down BOOLEAN;",
    "ALTER TABLE job_skills CHANGE `pasture` pasture BOOLEAN;",
    "ALTER TABLE job_skills CHANGE `carry` carry BOOLEAN;",
    "ALTER TABLE job_skills CHANGE `Handling speed` handling_speed BOOLEAN;",
    "ALTER TABLE job_skills CHANGE `ranch items` ranch_items VARCHAR(255);",
    "ALTER TABLE job_skills CHANGE `pasture minimum output` pasture_minimum_output VARCHAR(255);",
    "ALTER TABLE job_skills CHANGE `The largest ranch` the_largest_ranch VARCHAR(255);"
]

print("\nRenommage des colonnes...")
for query in rename_queries:
    try:
        cursor.execute(query)
    except mariadb.Error as e:
        print(f"Erreur lors du renommage : {e}")

conn.commit()
print("Renommage termin√©.")

# === Fermeture ===
cursor.close()
conn.close()
print("Connexion ferm√©e.")

Connexion r√©ussie √† MariaDB !
Table 'job_skills' pr√™te.

Le fichier CSV contient 138 lignes et 22 colonnes.
La table 'job_skills' contient maintenant 23 colonnes.

138 lignes ins√©r√©es dans la table 'job_skills'.

Renommage des colonnes...
Renommage termin√©.
Connexion ferm√©e.

In [116]:
# Cr√©ation de la table palu_combat_attribute et insertion des donn√©es du csv

# === Configuration de la base de donn√©es ===
config = {
    'user': 'root',
    'password': 'cN06+#P34',
    'host': 'localhost',
    'port': 3307,
    'database': 'palworld_database'
}

# === Connexion √† MariaDB ===
try:
    conn = mariadb.connect(**config)
    cursor = conn.cursor()
    print("Connexion r√©ussie √† MariaDB !")
except mariadb.Error as e:
    print(f"Erreur de connexion : {e}")
    exit(1)

# === Cr√©ation de la table  ===
create_table_query = """
CREATE TABLE IF NOT EXISTS palu_combat_attribute (
    id INT AUTO_INCREMENT PRIMARY KEY,
    `Chinese name` VARCHAR(255),
    `Name` VARCHAR(255),
    `CodeName` VARCHAR(255),
    `OverrideNameTextID` VARCHAR(255),
    `NamePrefixID` VARCHAR(255),
    `OverridePartnerSkillTextID` VARCHAR(255),
    `IsPal` BOOLEAN,
    `Tribe` VARCHAR(255),
    `BPClass` VARCHAR(255),
    `variant` VARCHAR(255),
    `Volume size` VARCHAR(255),
    `rarity` INT,
    `Element 1` VARCHAR(255),
    `Element 2` VARCHAR(255),
    `GenusCategory` VARCHAR(255),
    `Organization` VARCHAR(255),
    `weapon` VARCHAR(255),
    `WeaponEquip` VARCHAR(255),
    `nocturnal` BOOLEAN,
    `total_4D` INT,
    `HP` INT,
    `melee attack` INT,
    `Remote attack` INT,
    `defense` INT,
    `support` INT,
    `Speed of work` INT,
    `Level1Min` INT,
    `Level1Max` INT,
    `Level20Min` INT,
    `Level20Max` INT,
    `Level50Min` INT,
    `Level50Max` INT,
    `AIRResponse` VARCHAR(255),
    `AISightResponse` INT,
    `endurance` INT,
    `slow walking speed` INT,
    `walking speed` INT,
    `running speed` INT,
    `Riding sprint speed` INT,
    `damage multiplier` FLOAT,
    `catch rate` INT,
    `Experience multiplier` FLOAT,
    `price` INT,
    `Must bring entry 1` VARCHAR(255),
    `Must bring entry 2` VARCHAR(255),
    `Numerical description` VARCHAR(255),
    `Skill description` TEXT,
    `lv1.1` INT,
    `lv2.1` INT,
    `lv3.1` INT,
    `lv4.1` INT,
    `lv5.1` INT
);
"""

try:
    cursor.execute(create_table_query)
    conn.commit()
    print("Table 'palu_combat_attribute' pr√™te.")
except mariadb.Error as e:
    print(f"Erreur cr√©ation table : {e}")
    conn.close()
    exit(1)

# === Lecture CSV avec Pandas ===
csv_file_path = r'C:\Users\Windows\Desktop\projets\1a\MariaDB\pals-analysis\data\Clean_Data--Palu-combat-attribute.csv'

try:
    df = pd.read_csv(csv_file_path)
    print(f"\nLe fichier CSV contient {df.shape[0]} lignes et {df.shape[1]} colonnes.")
except FileNotFoundError:
    print(f"Fichier non trouv√© : {csv_file_path}")
    conn.close()
    exit(1)

# === Nombre de colonnes dans la table ===
cursor.execute("SELECT COUNT(*) FROM information_schema.columns WHERE table_name = 'palu_combat_attribute' AND table_schema = 'palworld_database'")
column_count = cursor.fetchone()[0]
print(f"La table 'palu_combat_attribute' contient maintenant {column_count} colonnes.")

# === Fonction pour convertir les valeurs ===
def convert(value, col_name):
    if value == '' or str(value).lower() == 'none':
        return None
    if col_name.lower() in ['ispal', 'nocturnal']:
        return str(value).strip().lower() == 'true'
    value = value.replace(',', '.')
    try:
        if '.' in value:
            return float(value)
        return int(value)
    except ValueError:
        return value

# === Insertion des donn√©es ===
try:
    with open(csv_file_path, mode='r', encoding='utf-8') as file:
        reader = csv.DictReader(file)
        headers = reader.fieldnames

        sql_headers = [h for h in headers]  # on conserve les noms initiaux
        placeholders = ', '.join(['%s'] * len(sql_headers))
        field_names = ', '.join(f'`{col}`' for col in sql_headers)
        insert_query = f"INSERT INTO palu_combat_attribute ({field_names}) VALUES ({placeholders})"

        count = 0
        for row in reader:
            values = [convert(row[h], h) for h in headers]
            try:
                cursor.execute(insert_query, values)
                count += 1
            except mariadb.Error as e:
                print(f"Erreur insertion ligne {count + 1}: {e} ‚Äî valeurs: {values}")

        conn.commit()
        print(f"\n{count} lignes ins√©r√©es dans la table 'palu_combat_attribute'.")
except FileNotFoundError:
    print(f"Fichier non trouv√© : {csv_file_path}")

# === Renommage des colonnes  ===
rename_queries = [
    "ALTER TABLE palu_combat_attribute CHANGE `Chinese name` chinese_name VARCHAR(255);",
    "ALTER TABLE palu_combat_attribute CHANGE `Name` name VARCHAR(255);",
    "ALTER TABLE palu_combat_attribute CHANGE `CodeName` code_name VARCHAR(255);",
    "ALTER TABLE palu_combat_attribute CHANGE `OverrideNameTextID` override_name_text_id VARCHAR(255);",
    "ALTER TABLE palu_combat_attribute CHANGE `NamePrefixID` name_prefix_id VARCHAR(255);",
    "ALTER TABLE palu_combat_attribute CHANGE `OverridePartnerSkillTextID` override_partner_skill_text_id VARCHAR(255);",
    "ALTER TABLE palu_combat_attribute CHANGE `IsPal` is_pal BOOLEAN;",
    "ALTER TABLE palu_combat_attribute CHANGE `Tribe` tribe VARCHAR(255);",
    "ALTER TABLE palu_combat_attribute CHANGE `BPClass` bp_class VARCHAR(255);",
    "ALTER TABLE palu_combat_attribute CHANGE `Volume size` volume_size VARCHAR(255);",
    "ALTER TABLE palu_combat_attribute CHANGE `Element 1` element_1 VARCHAR(255);",
    "ALTER TABLE palu_combat_attribute CHANGE `Element 2` element_2 VARCHAR(255);",
    "ALTER TABLE palu_combat_attribute CHANGE `GenusCategory` genus_category VARCHAR(255);",
    "ALTER TABLE palu_combat_attribute CHANGE `Organization` organization VARCHAR(255);",
    "ALTER TABLE palu_combat_attribute CHANGE `weapon` weapon VARCHAR(255);",
    "ALTER TABLE palu_combat_attribute CHANGE `WeaponEquip` weapon_equip VARCHAR(255);",
    "ALTER TABLE palu_combat_attribute CHANGE `nocturnal` nocturnal BOOLEAN;",
    "ALTER TABLE palu_combat_attribute CHANGE `total_4D` total_4d INT;",
    "ALTER TABLE palu_combat_attribute CHANGE `melee attack` melee_attack INT;",
    "ALTER TABLE palu_combat_attribute CHANGE `Remote attack` remote_attack INT;",
    "ALTER TABLE palu_combat_attribute CHANGE `Speed of work` speed_of_work INT;",
    "ALTER TABLE palu_combat_attribute CHANGE `Level1Min` level1_min INT;",
    "ALTER TABLE palu_combat_attribute CHANGE `Level1Max` level1_max INT;",
    "ALTER TABLE palu_combat_attribute CHANGE `Level20Min` level20_min INT;",
    "ALTER TABLE palu_combat_attribute CHANGE `Level20Max` level20_max INT;",
    "ALTER TABLE palu_combat_attribute CHANGE `Level50Min` level50_min INT;",
    "ALTER TABLE palu_combat_attribute CHANGE `Level50Max` level50_max INT;",
    "ALTER TABLE palu_combat_attribute CHANGE `AIRResponse` air_response VARCHAR(255);",
    "ALTER TABLE palu_combat_attribute CHANGE `AISightResponse` ai_sight_response INT;",
    "ALTER TABLE palu_combat_attribute CHANGE `slow walking speed` slow_walking_speed INT;",
    "ALTER TABLE palu_combat_attribute CHANGE `walking speed` walking_speed INT;",
    "ALTER TABLE palu_combat_attribute CHANGE `running speed` running_speed INT;",
    "ALTER TABLE palu_combat_attribute CHANGE `Riding sprint speed` riding_sprint_speed INT;",
    "ALTER TABLE palu_combat_attribute CHANGE `damage multiplier` damage_multiplier FLOAT;",
    "ALTER TABLE palu_combat_attribute CHANGE `catch rate` catch_rate INT;",
    "ALTER TABLE palu_combat_attribute CHANGE `Experience multiplier` experience_multiplier FLOAT;",
    "ALTER TABLE palu_combat_attribute CHANGE `Must bring entry 1` must_bring_entry_1 VARCHAR(255);",
    "ALTER TABLE palu_combat_attribute CHANGE `Must bring entry 2` must_bring_entry_2 VARCHAR(255);",
    "ALTER TABLE palu_combat_attribute CHANGE `Numerical description` numerical_description VARCHAR(255);",
    "ALTER TABLE palu_combat_attribute CHANGE `Skill description` skill_description TEXT;",
    "ALTER TABLE palu_combat_attribute CHANGE `lv1.1` lv1_1 INT;",
    "ALTER TABLE palu_combat_attribute CHANGE `lv2.1` lv2_1 INT;",
    "ALTER TABLE palu_combat_attribute CHANGE `lv3.1` lv3_1 INT;",
    "ALTER TABLE palu_combat_attribute CHANGE `lv4.1` lv4_1 INT;",
    "ALTER TABLE palu_combat_attribute CHANGE `lv5.1` lv5_1 INT;"
]

print("\nRenommage des colonnes...")
for query in rename_queries:
    try:
        cursor.execute(query)
    except mariadb.Error as e:
        print(f"Erreur lors du renommage : {e}")

conn.commit()
print("Renommage termin√©.")

# === Fermeture connexion ===
cursor.close()
conn.close()
print("Connexion ferm√©e.")

Connexion r√©ussie √† MariaDB !
Table 'palu_combat_attribute' pr√™te.

Le fichier CSV contient 138 lignes et 52 colonnes.
La table 'palu_combat_attribute' contient maintenant 53 colonnes.

138 lignes ins√©r√©es dans la table 'palu_combat_attribute'.

Renommage des colonnes...
Renommage termin√©.
Connexion ferm√©e.

In [120]:
# Cr√©ation table refres et insertion des donn√©es du csv

# === Configuration de la base de donn√©es ===
config = {
    'user': 'root',
    'password': 'cN06+#P34',
    'host': 'localhost',
    'port': 3307,
    'database': 'palworld_database'
}

# === Connexion √† MariaDB ===
try:
    conn = mariadb.connect(**config)
    cursor = conn.cursor()
    print("Connexion r√©ussie √† MariaDB !")
except mariadb.Error as e:
    print(f"Erreur de connexion : {e}")
    exit(1)

# === Cr√©ation de la table avec tous les champs ===
create_table_query = """
CREATE TABLE IF NOT EXISTS palu_refresh_level (
    id INT AUTO_INCREMENT PRIMARY KEY,
    `name` VARCHAR(255),
    `minimum_level` INT,
    `maximum_level` INT,
    `fecondity` INT,
    `pallu_refresh_type` VARCHAR(255),
    `night_only` BOOLEAN,
    `refresh_area` VARCHAR(255)
);
"""

try:
    cursor.execute(create_table_query)
    conn.commit()
    print("Table 'palu_refresh_level' pr√™te.")
except mariadb.Error as e:
    print(f"Erreur cr√©ation table : {e}")
    conn.close()
    exit(1)

# === Lecture rapide CSV avec pandas pour afficher nombre lignes/colonnes ===
csv_file_path = r'C:\Users\Windows\Desktop\projets\1a\MariaDB\pals-analysis\data\Clean_Data-Palu-refresh-level.csv'

try:
    df = pd.read_csv(csv_file_path)
    print(f"\nLe fichier CSV contient {df.shape[0]} lignes et {df.shape[1]} colonnes.")
except FileNotFoundError:
    print(f"Fichier non trouv√© : {csv_file_path}")
    conn.close()
    exit(1)

# === Fonction pour convertir les valeurs ===
def convert(value, field=None):
    if value == '' or str(value).lower() == 'none':
        return None
    value = str(value).replace(',', '.')  # gestion des virgules d√©cimales
    if field == 'night_only':
        return 1 if str(value).lower() == 'true' else 0
    try:
        if '.' in value:
            return float(value)
        return int(value)
    except ValueError:
        return value  # retourner cha√Æne

# === Lecture CSV & insertion classique avec csv.DictReader ===
try:
    with open(csv_file_path, mode='r', encoding='utf-8') as file:
        reader = csv.DictReader(file)
        headers = reader.fieldnames

        # Transformation noms colonnes pour SQL
        sql_headers = [h.strip().replace(' ', '_').replace('.', '_').replace('-', '_') for h in headers]

        placeholders = ', '.join(['%s'] * len(headers))
        field_names = ', '.join(f'`{col}`' for col in sql_headers)
        insert_query = f"INSERT INTO palu_refresh_level ({field_names}) VALUES ({placeholders})"

        count = 0
        for row in reader:
            values = [convert(row[h], h.replace(' ', '_')) for h in headers]
            try:
                cursor.execute(insert_query, values)
                count += 1
            except mariadb.Error as e:
                print(f"Erreur insertion ligne {count + 1} : {e} ‚Äî valeurs: {values}")

        conn.commit()
        print(f"\n{count} lignes ins√©r√©es dans la table 'palu_refresh_level'.")
except FileNotFoundError:
    print(f"Fichier non trouv√© : {csv_file_path}")

# === Fermeture connexion ===
cursor.close()
conn.close()
print("Connexion ferm√©e.")

Connexion r√©ussie √† MariaDB !
Table 'palu_refresh_level' pr√™te.

Le fichier CSV contient 136 lignes et 7 colonnes.

136 lignes ins√©r√©es dans la table 'palu_refresh_level'.
Connexion ferm√©e.

In [124]:
# Cr√©ation table & Insertion des donn√©es CSV dans la table boss_comparison

# === Config base de donn√©es ===
config = {
    'user': 'root',
    'password': 'cN06+#P34',
    'host': 'localhost',
    'port': 3307,
    'database': 'palworld_database'
}

# === Connexion ===
try:
    conn = mariadb.connect(**config)
    cursor = conn.cursor()
    print("Connexion r√©ussie √† MariaDB !")
except mariadb.Error as e:
    print(f"Erreur de connexion : {e}")
    exit(1)

# === Cr√©ation de la table adapt√©e ===
create_table_query = """
CREATE TABLE IF NOT EXISTS ordinary_boss_comparison (
    id INT AUTO_INCREMENT PRIMARY KEY,
    `name` VARCHAR(255),
    `HP` INT,
    `Remote_attack` INT,
    `Riding_speed_BOSS_is_100_higher` INT
);
"""

try:
    cursor.execute(create_table_query)
    conn.commit()
    print("Table 'ordinary_boss_comparison' pr√™te.")
except mariadb.Error as e:
    print(f"Erreur cr√©ation table : {e}")
    conn.close()
    exit(1)

# === Affichage nombre colonnes et lignes dans la table avant insertion ===
try:
    cursor.execute("SELECT COUNT(*) FROM ordinary_boss_comparison")
    count_rows = cursor.fetchone()[0]
    count_columns = len([column[0] for column in cursor.description])
    print(f"\nAvant insertion : {count_rows} lignes, {count_columns} colonnes dans la table 'ordinary_boss_comparison'.")
except mariadb.Error as e:
    print(f"Erreur comptage lignes table : {e}")

# === Lecture rapide CSV avec pandas pour afficher nombre lignes/colonnes ===
csv_file_path = r'C:\Users\Windows\Desktop\projets\1a\MariaDB\pals-analysis\data\Clean_Data-comparison-of-ordinary-BOSS-attributes.csv'

try:
    df = pd.read_csv(csv_file_path)
    print(f"\nLe fichier CSV contient {df.shape[0]} lignes et {df.shape[1]} colonnes.")
except FileNotFoundError:
    print(f"Fichier non trouv√© : {csv_file_path}")
    conn.close()
    exit(1)

# === Fonction de conversion adapt√©e ===
def convert(value):
    if value == '' or str(value).lower() == 'none':
        return None
    value = str(value).replace(',', '.')  # gestion d√©cimales fran√ßaises
    try:
        if '.' in value:
            return float(value)
        return int(value)
    except ValueError:
        return value  # texte

# === Lecture CSV & insertion classique ===
try:
    with open(csv_file_path, mode='r', encoding='utf-8') as file:
        reader = csv.DictReader(file)
        headers = reader.fieldnames

        # Adaptation noms colonnes pour SQL (remplacement espaces et parenth√®ses)
        sql_headers = [h.replace(' ', '_').replace('(', '').replace(')', '') for h in headers]

        placeholders = ', '.join(['%s'] * len(headers))
        field_names = ', '.join(f'`{col}`' for col in sql_headers)
        insert_query = f"INSERT INTO ordinary_boss_comparison ({field_names}) VALUES ({placeholders})"

        count = 0
        for row in reader:
            values = [convert(row[h]) for h in headers]
            try:
                cursor.execute(insert_query, values)
                count += 1
            except mariadb.Error as e:
                print(f"Erreur insertion ligne {count + 1}: {e} ‚Äî valeurs: {values}")

        conn.commit()
        print(f"\n{count} lignes ins√©r√©es dans la table 'ordinary_boss_comparison'.")
except FileNotFoundError:
    print(f"Fichier non trouv√© : {csv_file_path}")

# === Fermeture connexion ===
cursor.close()
conn.close()
print("Connexion ferm√©e.")

Connexion r√©ussie √† MariaDB !
Table 'ordinary_boss_comparison' pr√™te.

Avant insertion : 258 lignes, 1 colonnes dans la table 'ordinary_boss_comparison'.

Le fichier CSV contient 129 lignes et 4 colonnes.

129 lignes ins√©r√©es dans la table 'ordinary_boss_comparison'.
Connexion ferm√©e.

In [129]:
# Cr√©ation de la table tower_bosses et insertion des donn√©es dans le csv

# === Config base de donn√©es ===
config = {
    'user': 'root',
    'password': 'cN06+#P34',
    'host': 'localhost',
    'port': 3307,
    'database': 'palworld_database'
}

# === Connexion ===
try:
    conn = mariadb.connect(**config)
    cursor = conn.cursor()
    print("Connexion r√©ussie √† MariaDB !")
except mariadb.Error as e:
    print(f"Erreur de connexion : {e}")
    exit(1)

# === Cr√©ation de la table ===
create_table_query = """
CREATE TABLE IF NOT EXISTS tower_bosses (
    id INT AUTO_INCREMENT PRIMARY KEY,
    `name` VARCHAR(255),
    `HP` INT,
    `melee attack` INT,
    `remote attack` INT,
    `defense` INT,
    `Support` INT,
    `experience ratio` INT,
    `slow walking speed` INT,
    `walking speed` INT,
    `running speed` INT,
    `riding speed` INT,
    `Handling speed` INT,
    `ignore the bluntness` BOOLEAN,
    `ignore displacement` BOOLEAN,
    `BiologicalGrade` INT,
    `endurance` INT,
    `fecundity` INT
);
"""

try:
    cursor.execute(create_table_query)
    conn.commit()
    print("Table 'tower_bosses' pr√™te.")
except mariadb.Error as e:
    print(f"Erreur cr√©ation table : {e}")
    conn.close()
    exit(1)

# === Fonction de conversion des valeurs ===
def convert(value):
    if value == '' or value == 'None':
        return None
    if value.lower() == 'true':
        return True
    if value.lower() == 'false':
        return False
    try:
        value = value.replace(',', '.')
        if '.' in value:
            return float(value)
        return int(value)
    except ValueError:
        return value

# === Chemin vers le fichier CSV ===
csv_file_path = r'C:\Users\Windows\Desktop\projets\1a\MariaDB\pals-analysis\data\Clean_Data-Tower-BOSS-attribute-comparison.csv'

# === Lecture du CSV et insertion ===
try:
    with open(csv_file_path, mode='r', encoding='utf-8') as file:
        reader = csv.DictReader(file)
        headers = reader.fieldnames

        placeholders = ', '.join(['%s'] * len(headers))
        field_names = ', '.join(f'`{h}`' for h in headers)
        insert_query = f"INSERT INTO tower_bosses ({field_names}) VALUES ({placeholders})"

        count = 0
        for row in reader:
            values = [convert(row[h]) for h in headers]
            try:
                cursor.execute(insert_query, values)
                count += 1
            except mariadb.Error as e:
                print(f"Erreur insertion ligne {count + 1}: {e} ‚Äî valeurs: {values}")

        conn.commit()
        print(f"{count} lignes ins√©r√©es dans la table 'tower_bosses'.")
except FileNotFoundError:
    print(f"Fichier non trouv√© : {csv_file_path}")

# === Renommage des colonnes ===
print("Renommage des colonnes en cours...")

rename_queries = [
    "ALTER TABLE tower_bosses CHANGE `melee attack` `melee_attack` INT",
    "ALTER TABLE tower_bosses CHANGE `remote attack` `remote_attack` INT",
    "ALTER TABLE tower_bosses CHANGE `slow walking speed` `slow_walking_speed` INT",
    "ALTER TABLE tower_bosses CHANGE `walking speed` `walking_speed` INT",
    "ALTER TABLE tower_bosses CHANGE `running speed` `running_speed` INT",
    "ALTER TABLE tower_bosses CHANGE `riding speed` `riding_speed` INT",
    "ALTER TABLE tower_bosses CHANGE `Handling speed` `Handling_speed` INT",
    "ALTER TABLE tower_bosses CHANGE `ignore the bluntness` `ignore_the_bluntness` BOOLEAN",
    "ALTER TABLE tower_bosses CHANGE `ignore displacement` `ignore_displacement` BOOLEAN",
    "ALTER TABLE tower_bosses CHANGE `experience ratio` `experience_ratio` INT"
]

try:
    for query in rename_queries:
        cursor.execute(query)

    conn.commit()
    print("Toutes les colonnes ont √©t√© renomm√©es avec succ√®s !")

except mariadb.Error as e:
    print(f"Erreur lors du renommage : {e}")

# === Comptage colonnes et lignes CSV ET table ===
try:
    # Comptage colonnes et lignes CSV
    with open(csv_file_path, mode='r', encoding='utf-8') as f:
        reader = csv.reader(f)
        csv_rows = list(reader)
        csv_col_count = len(csv_rows[0]) if csv_rows else 0
        csv_row_count = len(csv_rows) - 1 if len(csv_rows) > 0 else 0  # exclu header

    print(f"\nCSV : {csv_row_count} lignes, {csv_col_count} colonnes.")

    # Comptage colonnes table
    cursor.execute("SHOW COLUMNS FROM tower_bosses")
    db_columns = cursor.fetchall()
    db_col_count = len(db_columns)

    # Comptage lignes table
    cursor.execute("SELECT COUNT(*) FROM tower_bosses")
    db_row_count = cursor.fetchone()[0]

    print(f"Table 'tower_bosses' : {db_row_count} lignes, {db_col_count} colonnes.")

except Exception as e:
    print(f"Erreur lors du comptage des lignes/colonnes : {e}")

# === Fermeture ===
cursor.close()
conn.close()
print("\nConnexion ferm√©e.")

Connexion r√©ussie √† MariaDB !
Table 'tower_bosses' pr√™te.
10 lignes ins√©r√©es dans la table 'tower_bosses'.
Renommage des colonnes en cours...
Toutes les colonnes ont √©t√© renomm√©es avec succ√®s !

CSV : 10 lignes, 17 colonnes.
Table 'tower_bosses' : 10 lignes, 18 colonnes.

Connexion ferm√©e.

In [132]:
# Cr√©ation de la table monsters et insertion des donn√©es du csv
# === Config base de donn√©es ===
config = {
    'user': 'root',
    'password': 'cN06+#P34',
    'host': 'localhost',
    'port': 3307,
    'database': 'palworld_database'
}

# === Connexion ===
try:
    conn = mariadb.connect(**config)
    cursor = conn.cursor()
    print(" Connexion r√©ussie √† MariaDB !")
except mariadb.Error as e:
    print(f" Erreur de connexion : {e}")
    exit(1)

# === Cr√©ation de la table ===
create_table_query = """
CREATE TABLE IF NOT EXISTS monsters (
    id INT AUTO_INCREMENT PRIMARY KEY,
    `OverrideNameTextID` VARCHAR(255),
    `OverridePartnerSkillTextID` VARCHAR(255),
    `IsPal` INT,
    `Tribe` VARCHAR(255),
    `BPClass` VARCHAR(255),
    `Pictorial ID` INT,
    `ZukanIndexSuffix` FLOAT,
    `Size` VARCHAR(50),
    `rarity` INT,
    `Element 1` VARCHAR(50),
    `Element 2` VARCHAR(50),
    `GenusCategory` VARCHAR(50),
    `Organization` FLOAT,
    `weapon` FLOAT,
    `WeaponEquip` INT,
    `HP` INT,
    `melee attack` INT,
    `Remote attack` INT,
    `defense` INT,
    `support` INT,
    `CraftSpeed` INT,
    `damageMultiplier` VARCHAR(50),
    `CaptureProbability` VARCHAR(50),
    `ExperienceMultiplier` INT,
    `price` INT,
    `AIRResponse` VARCHAR(50),
    `AISightResponse` FLOAT,
    `slow walking speed` INT,
    `walking speed` INT,
    `running speed` INT,
    `Riding sprint speed` INT,
    `Handling speed` INT,
    `IsBoss` INT,
    `IsTowerBoss` INT,
    `BattleBGM` VARCHAR(255),
    `IgnoreLeanBack` INT,
    `IgnoreBlowAway` INT,
    `MaxFullStomach` INT,
    `FullStomachDecreaseRate` INT,
    `FoodAmount` INT,
    `ViewingDistance` INT,
    `ViewingAngle` INT,
    `HearingRate` INT,
    `NooseTrap` INT,
    `Nocturnal` INT,
    `BiologicalGrade` INT,
    `Predator` INT,
    `Edible` INT,
    `endurance` INT,
    `Male probability` INT,
    `fecundity` INT,
    `Breathing fire` INT,
    `watering` INT,
    `planting` INT,
    `generate electricity` INT,
    `manual` INT,
    `collection` INT,
    `logging` INT,
    `Mining` INT,
    `pharmaceutical` INT,
    `cool down` INT,
    `carry` INT,
    `pasture` INT,
    `Passive skill 1` VARCHAR(255),
    `Passive skill 2` VARCHAR(255),
    `Passive skill 3` FLOAT,
    `Passive skill 4` FLOAT
);
"""

try:
    cursor.execute(create_table_query)
    conn.commit()
    print(" Table 'monsters' pr√™te.")
except mariadb.Error as e:
    print(f" Erreur cr√©ation table : {e}")
    conn.close()
    exit(1)

# === Fonction de conversion des valeurs ===
def convert(value):
    if value == '' or value == 'None':
        return None
    try:
        value = value.replace(',', '.')
        if '.' in value:
            return float(value)
        return int(value)
    except ValueError:
        return value

# === Chemin vers le fichier CSV ===
csv_file_path = r'C:\Users\Windows\Desktop\projets\1a\MariaDB\pals-analysis\data\Clean_Data-hide-pallu-attributes.csv'

# === Lecture du CSV et insertion ===
try:
    with open(csv_file_path, mode='r', encoding='utf-8') as file:
        reader = csv.DictReader(file)
        headers = reader.fieldnames

        placeholders = ', '.join(['%s'] * len(headers))
        field_names = ', '.join(f'`{h}`' for h in headers)
        insert_query = f"INSERT INTO monsters ({field_names}) VALUES ({placeholders})"

        count = 0
        for row in reader:
            values = [convert(row[h]) for h in headers]
            try:
                cursor.execute(insert_query, values)
                count += 1
            except mariadb.Error as e:
                print(f" Erreur insertion ligne {count + 1}: {e} ‚Äî valeurs: {values}")

        conn.commit()
        print(f"{count} lignes ins√©r√©es dans la table 'monsters'.")
except FileNotFoundError:
    print(f" Fichier non trouv√© : {csv_file_path}")

# === Renommage des colonnes ===
print("Renommage des colonnes en cours...")

rename_queries = [
    "ALTER TABLE monsters CHANGE `Pictorial ID` `Pictorial_ID` INT",
    "ALTER TABLE monsters CHANGE `Element 1` `Element_1` VARCHAR(50)",
    "ALTER TABLE monsters CHANGE `Element 2` `Element_2` VARCHAR(50)",
    "ALTER TABLE monsters CHANGE `melee attack` `melee_attack` INT",
    "ALTER TABLE monsters CHANGE `Remote attack` `Remote_attack` INT",
    "ALTER TABLE monsters CHANGE `slow walking speed` `slow_walking_speed` INT",
    "ALTER TABLE monsters CHANGE `walking speed` `walking_speed` INT",
    "ALTER TABLE monsters CHANGE `running speed` `running_speed` INT",
    "ALTER TABLE monsters CHANGE `Riding sprint speed` `Riding_sprint_speed` INT",
    "ALTER TABLE monsters CHANGE `Handling speed` `Handling_speed` INT",
    "ALTER TABLE monsters CHANGE `Male probability` `Male_probability` INT",
    "ALTER TABLE monsters CHANGE `Breathing fire` `Breathing_fire` INT",
    "ALTER TABLE monsters CHANGE `generate electricity` `generate_electricity` INT",
    "ALTER TABLE monsters CHANGE `cool down` `cool_down` INT",
    "ALTER TABLE monsters CHANGE `Passive skill 1` `Passive_skill_1` VARCHAR(255)",
    "ALTER TABLE monsters CHANGE `Passive skill 2` `Passive_skill_2` VARCHAR(255)",
    "ALTER TABLE monsters CHANGE `Passive skill 3` `Passive_skill_3` FLOAT",
    "ALTER TABLE monsters CHANGE `Passive skill 4` `Passive_skill_4` FLOAT"
]

try:
    for query in rename_queries:
        cursor.execute(query)
    
    conn.commit()
    print("Toutes les colonnes ont √©t√© renomm√©es avec succ√®s !")
    
except mariadb.Error as e:
    print(f"Erreur lors du renommage : {e}")

# === Comptage colonnes et lignes CSV ET table ===
try:
    with open(csv_file_path, mode='r', encoding='utf-8') as f:
        reader = csv.reader(f)
        csv_rows = list(reader)
        csv_col_count = len(csv_rows[0]) if csv_rows else 0
        csv_row_count = len(csv_rows) - 1 if len(csv_rows) > 0 else 0

    print(f"\nCSV : {csv_row_count} lignes, {csv_col_count} colonnes.")

    cursor.execute("SHOW COLUMNS FROM monsters")
    db_columns = cursor.fetchall()
    db_col_count = len(db_columns)

    cursor.execute("SELECT COUNT(*) FROM monsters")
    db_row_count = cursor.fetchone()[0]

    print(f"Table 'monsters' : {db_row_count} lignes, {db_col_count} colonnes.")

except Exception as e:
    print(f"Erreur lors du comptage des lignes/colonnes : {e}")

# === Fermeture ===
cursor.close()
conn.close()
print("\nConnexion ferm√©e.")

 Connexion r√©ussie √† MariaDB !
 Table 'monsters' pr√™te.
144 lignes ins√©r√©es dans la table 'monsters'.
Renommage des colonnes en cours...
Toutes les colonnes ont √©t√© renomm√©es avec succ√®s !

CSV : 144 lignes, 67 colonnes.
Table 'monsters' : 144 lignes, 68 colonnes.

Connexion ferm√©e.

### Afficharges des informations des tables cr√©√©es

In [119]:
# === Affichage de la structure et des donn√©es de job_skills ===

# Reconnexion √† la base de donn√©es
try:
    conn = mariadb.connect(**config)
    cursor = conn.cursor()
    print("Connexion r√©ussie √† MariaDB !")
except mariadb.Error as e:
    print(f"Erreur de connexion : {e}")
    exit(1)

# 1. Affichage de la structure de la table
print("\n=== Structure de la table 'job_skills' ===")
try:
    cursor.execute("DESCRIBE job_skills")
    structure = cursor.fetchall()
    for column in structure:
        print(f"Colonne: {column[0]:<25} Type: {column[1]}")
except mariadb.Error as e:
    print(f"Erreur r√©cup√©ration structure : {e}")

# 2. Affichage des 3 premi√®res lignes
print("\n=== 3 premi√®res lignes de la table ===")
try:
    cursor.execute("SELECT * FROM job_skills LIMIT 3")
    rows = cursor.fetchall()
    
    # R√©cup√©ration des noms de colonnes
    cursor.execute("SELECT column_name FROM information_schema.columns WHERE table_name = 'job_skills' AND table_schema = 'palworld_database' ORDER BY ordinal_position")
    columns = [col[0] for col in cursor.fetchall()]
    
    # Affichage pandas
    import pandas as pd
    df = pd.DataFrame(rows, columns=columns)
    print(df)
except mariadb.Error as e:
    print(f"Erreur r√©cup√©ration donn√©es : {e}")

# Fermeture de la connexion
cursor.close()
conn.close()
print("\nConnexion ferm√©e.")

Connexion r√©ussie √† MariaDB !

=== Structure de la table 'job_skills' ===
Colonne: id                        Type: int(11)
Colonne: english_name              Type: varchar(255)
Colonne: chinese_name              Type: varchar(255)
Colonne: volume_size               Type: varchar(50)
Colonne: food_intake               Type: int(11)
Colonne: night_shift               Type: tinyint(1)
Colonne: total_skills              Type: int(11)
Colonne: make_a_fire               Type: tinyint(1)
Colonne: watering                  Type: tinyint(1)
Colonne: planting                  Type: tinyint(1)
Colonne: generate_electricity      Type: tinyint(1)
Colonne: manual                    Type: tinyint(1)
Colonne: collection                Type: tinyint(1)
Colonne: logging                   Type: tinyint(1)
Colonne: mining                    Type: tinyint(1)
Colonne: pharmaceutical            Type: tinyint(1)
Colonne: cool_down                 Type: tinyint(1)
Colonne: pasture                   Type: tinyint(1)
Colonne: carry                     Type: tinyint(1)
Colonne: handling_speed            Type: tinyint(1)
Colonne: ranch_items               Type: varchar(255)
Colonne: pasture_minimum_output    Type: varchar(255)
Colonne: the_largest_ranch         Type: varchar(255)

=== 3 premi√®res lignes de la table ===
   id english_name    chinese_name volume_size  food_intake  night_shift  \
0   1      Lifmunk  green leaf rat    smallest            1            0
1   2     Foxparks      tinder fox    smallest            2            0
2   3        Rooby       Fire Deer       Small            3            0

   total_skills  make_a_fire  watering  planting  ...  logging  mining  \
0             5            0         0         1  ...        1       0
1             1            1         0         0  ...        0       0
2             1            1         0         0  ...        0       0

   pharmaceutical  cool_down  pasture  carry  handling_speed  ranch_items  \
0               1          0        0      0            None         None
1               0          0        0      0            None         None
2               0          0        0      0            None         None

   pasture_minimum_output the_largest_ranch
0                    None              None
1                    None              None
2                    None              None

[3 rows x 23 columns]

Connexion ferm√©e.

In [117]:
# === Affichage de la structure et des donn√©es de la table ===

# Reconnexion √† la base de donn√©es
try:
    conn = mariadb.connect(**config)
    cursor = conn.cursor()
    print("Connexion r√©ussie √† MariaDB !")
except mariadb.Error as e:
    print(f"Erreur de connexion : {e}")
    exit(1)

# 1. Affichage de la structure de la table
print("\n=== Structure de la table 'palu_combat_attribute' ===")
try:
    cursor.execute("DESCRIBE palu_combat_attribute")
    structure = cursor.fetchall()
    for column in structure:
        print(f"Colonne: {column[0]:<25} Type: {column[1]}")
except mariadb.Error as e:
    print(f"Erreur r√©cup√©ration structure : {e}")

# 2. Affichage des 3 premi√®res lignes
print("\n=== 3 premi√®res lignes de la table ===")
try:
    cursor.execute("SELECT * FROM palu_combat_attribute LIMIT 3")
    rows = cursor.fetchall()
    
    # R√©cup√©ration des noms de colonnes
    cursor.execute("SELECT column_name FROM information_schema.columns WHERE table_name = 'palu_combat_attribute' AND table_schema = 'palworld_database' ORDER BY ordinal_position")
    columns = [col[0] for col in cursor.fetchall()]
    
    # Affichage avec pandas 
    import pandas as pd
    df = pd.DataFrame(rows, columns=columns)
    print(df)
except mariadb.Error as e:
    print(f"Erreur r√©cup√©ration donn√©es : {e}")

# Fermeture de la connexion
cursor.close()
conn.close()
print("\nConnexion ferm√©e.")

Connexion r√©ussie √† MariaDB !

=== Structure de la table 'palu_combat_attribute' ===
Colonne: id                        Type: int(11)
Colonne: chinese_name              Type: varchar(255)
Colonne: name                      Type: varchar(255)
Colonne: code_name                 Type: varchar(255)
Colonne: override_name_text_id     Type: varchar(255)
Colonne: name_prefix_id            Type: varchar(255)
Colonne: override_partner_skill_text_id Type: varchar(255)
Colonne: is_pal                    Type: tinyint(1)
Colonne: tribe                     Type: varchar(255)
Colonne: bp_class                  Type: varchar(255)
Colonne: variant                   Type: varchar(255)
Colonne: volume_size               Type: varchar(255)
Colonne: rarity                    Type: int(11)
Colonne: element_1                 Type: varchar(255)
Colonne: element_2                 Type: varchar(255)
Colonne: genus_category            Type: varchar(255)
Colonne: organization              Type: varchar(255)
Colonne: weapon                    Type: varchar(255)
Colonne: weapon_equip              Type: varchar(255)
Colonne: nocturnal                 Type: tinyint(1)
Colonne: total_4d                  Type: int(11)
Colonne: HP                        Type: int(11)
Colonne: melee_attack              Type: int(11)
Colonne: remote_attack             Type: int(11)
Colonne: defense                   Type: int(11)
Colonne: support                   Type: int(11)
Colonne: speed_of_work             Type: int(11)
Colonne: level1_min                Type: int(11)
Colonne: level1_max                Type: int(11)
Colonne: level20_min               Type: int(11)
Colonne: level20_max               Type: int(11)
Colonne: level50_min               Type: int(11)
Colonne: level50_max               Type: int(11)
Colonne: air_response              Type: varchar(255)
Colonne: ai_sight_response         Type: int(11)
Colonne: endurance                 Type: int(11)
Colonne: slow_walking_speed        Type: int(11)
Colonne: walking_speed             Type: int(11)
Colonne: running_speed             Type: int(11)
Colonne: riding_sprint_speed       Type: int(11)
Colonne: damage_multiplier         Type: float
Colonne: catch_rate                Type: int(11)
Colonne: experience_multiplier     Type: float
Colonne: price                     Type: int(11)
Colonne: must_bring_entry_1        Type: varchar(255)
Colonne: must_bring_entry_2        Type: varchar(255)
Colonne: numerical_description     Type: varchar(255)
Colonne: skill_description         Type: text
Colonne: lv1_1                     Type: int(11)
Colonne: lv2_1                     Type: int(11)
Colonne: lv3_1                     Type: int(11)
Colonne: lv4_1                     Type: int(11)
Colonne: lv5_1                     Type: int(11)

=== 3 premi√®res lignes de la table ===
   id    chinese_name     name   code_name override_name_text_id  \
0   1     Mian Youyou  Lamball   SheepBall                  None
1   2    Pipi Chicken  Chikipi  ChickenPal                  None
2   3  green leaf rat  Lifmunk   Carbunclo                  None

  name_prefix_id override_partner_skill_text_id  is_pal       tribe  \
0           None                           None       0   SheepBall
1           None                           None       0  ChickenPal
2           None                           None       0   Carbunclo

     bp_class  ... price must_bring_entry_1  must_bring_entry_2  \
0   SheepBall  ...  1000               None                None
1  ChickenPal  ...  1000               None                None
2   Carbunclo  ...  1010               None                None

  numerical_description                                  skill_description  \
0          Ranch skills  When activated. it will transform into a shiel...
1          Ranch skills  Assign it to Palu Ranch and it will have a cha...
2           Skill power  After being activated. it will sit on the play...

  lv1_1 lv2_1 lv3_1 lv4_1  lv5_1
0     0     0     0     0      0
1     0     0     0     0      0
2    10    11    13    16     20

[3 rows x 53 columns]

Connexion ferm√©e.

In [121]:
# === Affichage de la structure et des donn√©es de palu_refresh_level ===

# Reconnexion √† la base de donn√©es
try:
    conn = mariadb.connect(**config)
    cursor = conn.cursor()
    print("Connexion r√©ussie √† MariaDB !")
except mariadb.Error as e:
    print(f"Erreur de connexion : {e}")
    exit(1)

# 1. Affichage de la structure de la table
print("\n=== Structure de la table 'palu_refresh_level' ===")
try:
    cursor.execute("DESCRIBE palu_refresh_level")
    structure = cursor.fetchall()
    for column in structure:
        print(f"Colonne: {column[0]:<20} Type: {column[1]}")
except mariadb.Error as e:
    print(f"Erreur r√©cup√©ration structure : {e}")

# 2. Affichage des 3 premi√®res lignes
print("\n=== 3 premi√®res lignes de la table ===")
try:
    cursor.execute("SELECT * FROM palu_refresh_level LIMIT 3")
    rows = cursor.fetchall()
    
    # R√©cup√©ration des noms de colonnes
    cursor.execute("SELECT column_name FROM information_schema.columns WHERE table_name = 'palu_refresh_level' AND table_schema = 'palworld_database' ORDER BY ordinal_position")
    columns = [col[0] for col in cursor.fetchall()]
    
    # Affichage avec pandas pour une meilleure lisibilit√©
    import pandas as pd
    df = pd.DataFrame(rows, columns=columns)
    print(df)
except mariadb.Error as e:
    print(f"Erreur r√©cup√©ration donn√©es : {e}")

# 3. Affichage du nombre total d'entr√©es
try:
    cursor.execute("SELECT COUNT(*) FROM palu_refresh_level")
    count = cursor.fetchone()[0]
    print(f"\nLa table contient actuellement {count} entr√©es.")
except mariadb.Error as e:
    print(f"Erreur comptage lignes : {e}")

# Fermeture de la connexion
cursor.close()
conn.close()
print("\nConnexion ferm√©e.")

Connexion r√©ussie √† MariaDB !

=== Structure de la table 'palu_refresh_level' ===
Colonne: id                   Type: int(11)
Colonne: name                 Type: varchar(255)
Colonne: minimum_level        Type: int(11)
Colonne: maximum_level        Type: int(11)
Colonne: fecondity            Type: int(11)
Colonne: pallu_refresh_type   Type: varchar(255)
Colonne: night_only           Type: tinyint(1)
Colonne: refresh_area         Type: varchar(255)

=== 3 premi√®res lignes de la table ===
   id          name  minimum_level  maximum_level  fecondity  \
0   1   Mian Youyou              1             14       1470
1   2   Naughty cat              1             13       1460
2   3  Pipi Chicken              1             13       1500

  pallu_refresh_type  night_only refresh_area
0             Creeps           0    grassland
1             Creeps           0    grassland
2             Creeps           0    grassland

La table contient actuellement 136 entr√©es.

Connexion ferm√©e.

In [128]:
# Structure de la table ordinary_boss_comparison et controle des 3 premi√®res lignes

# Configuration pour se connecter √† la base de donn√©es
config = {
    'user': 'root',
    'password': 'cN06+#P34',
    'host': 'localhost',
    'port': 3307,
    'database': 'palworld_database'
}

try:
    # Connexion √† la base de donn√©es
    conn = mariadb.connect(**config)
    cursor = conn.cursor()

    # Afficher la structure de la table
    cursor.execute("DESCRIBE ordinary_boss_comparison")
    structure = cursor.fetchall()
    print("Structure de la table 'ordinary_boss_comparison' :")
    for column in structure:
        print(f"Colonne: {column[0]}, Type: {column[1]}")

    # Afficher les trois premi√®res lignes de la table
    cursor.execute("SELECT * FROM ordinary_boss_comparison LIMIT 3")
    rows = cursor.fetchall()
    print("\nTrois premi√®res lignes de la table :")
    for row in rows:
        print(row)

except mariadb.Error as e:
    print(f"Erreur lors de la connexion √† MariaDB : {e}")

finally:
    # Fermer la connexion
    if 'conn' in locals():
        cursor.close()
        conn.close()
        print("\nConnexion √† la base de donn√©es ferm√©e.")

Structure de la table 'ordinary_boss_comparison' :
Colonne: id, Type: int(11)
Colonne: name, Type: varchar(255)
Colonne: HP, Type: int(11)
Colonne: Remote_attack, Type: int(11)
Colonne: Riding_speed_BOSS_is_100_higher, Type: int(11)

Trois premi√®res lignes de la table :
(1, 'Heterogeneous Griffin BOSS', None, None, 1300)
(2, 'Heterogeneous Griffin', None, None, 1200)
(3, 'Ye Panda BOSS', None, None, 800)

Connexion √† la base de donn√©es ferm√©e.

In [131]:
# === Affichage de la structure et des donn√©es de tower_bosses ===

# Reconnexion √† la base de donn√©es
try:
    conn = mariadb.connect(**config)
    cursor = conn.cursor()
    print("Connexion r√©ussie √† MariaDB !")
except mariadb.Error as e:
    print(f"Erreur de connexion : {e}")
    exit(1)

# 1. Affichage de la structure de la table
print("\n=== Structure de la table 'tower_bosses' ===")
try:
    cursor.execute("DESCRIBE tower_bosses")
    structure = cursor.fetchall()
    for column in structure:
        print(f"Colonne: {column[0]:<20} Type: {column[1]}")
except mariadb.Error as e:
    print(f"Erreur r√©cup√©ration structure : {e}")

# 2. Affichage des 3 premi√®res lignes
print("\n=== 3 premi√®res lignes de la table ===")
try:
    cursor.execute("SELECT * FROM tower_bosses LIMIT 3")
    rows = cursor.fetchall()
    
    # R√©cup√©ration des noms de colonnes
    cursor.execute("SELECT column_name FROM information_schema.columns WHERE table_name = 'tower_bosses' AND table_schema = 'palworld_database' ORDER BY ordinal_position")
    columns = [col[0] for col in cursor.fetchall()]
    
    # Affichage avec pandas pour une meilleure lisibilit√©
    import pandas as pd
    df = pd.DataFrame(rows, columns=columns)
    print(df)
except mariadb.Error as e:
    print(f"Erreur r√©cup√©ration donn√©es : {e}")

# 3. Affichage du nombre total d'entr√©es
try:
    cursor.execute("SELECT COUNT(*) FROM tower_bosses")
    count = cursor.fetchone()[0]
    print(f"\nLa table contient actuellement {count} entr√©es.")
except mariadb.Error as e:
    print(f"Erreur comptage lignes : {e}")

# Fermeture de la connexion
cursor.close()
conn.close()
print("\nConnexion ferm√©e.")

Connexion r√©ussie √† MariaDB !

=== Structure de la table 'tower_bosses' ===
Colonne: id                   Type: int(11)
Colonne: name                 Type: varchar(255)
Colonne: HP                   Type: int(11)
Colonne: melee_attack         Type: int(11)
Colonne: remote_attack        Type: int(11)
Colonne: defense              Type: int(11)
Colonne: Support              Type: int(11)
Colonne: experience_ratio     Type: int(11)
Colonne: slow_walking_speed   Type: int(11)
Colonne: walking_speed        Type: int(11)
Colonne: running_speed        Type: int(11)
Colonne: riding_speed         Type: int(11)
Colonne: Handling_speed       Type: int(11)
Colonne: ignore_the_bluntness Type: tinyint(1)
Colonne: ignore_displacement  Type: tinyint(1)
Colonne: BiologicalGrade      Type: int(11)
Colonne: endurance            Type: int(11)
Colonne: fecundity            Type: int(11)

=== 3 premi√®res lignes de la table ===
   id                            name    HP  melee_attack  remote_attack  \
0   1  Victor & Heterogeneous Griffin  8000           130            200
1   2           Heterogeneous Griffin   120           130            120
2   3            Zoe & Lightning Bear  6000           100            100

   defense  Support  experience_ratio  slow_walking_speed  walking_speed  \
0      220       90                30                  80             80
1      140       90                 1                  80             80
2      100      100                30                  80            140

   running_speed  riding_speed  Handling_speed  ignore_the_bluntness  \
0            850          1100             465                     1
1            850          1200             465                     0
2            470           650             287                     1

   ignore_displacement  BiologicalGrade  endurance  fecundity
0                    1                9        100       9999
1                    0                5        250         60
2                    1                9        100       9999

La table contient actuellement 10 entr√©es.

Connexion ferm√©e.

In [133]:
# === Affichage de la structure et des donn√©es de monsters ===

# Reconnexion √† la base de donn√©es
try:
    conn = mariadb.connect(**config)
    cursor = conn.cursor()
    print("Connexion r√©ussie √† MariaDB !")
except mariadb.Error as e:
    print(f"Erreur de connexion : {e}")
    exit(1)

# 1. Affichage de la structure de la table
print("\n=== Structure de la table 'monsters' ===")
try:
    cursor.execute("DESCRIBE monsters")
    structure = cursor.fetchall()
    for column in structure:
        print(f"Colonne: {column[0]:<25} Type: {column[1]}")
except mariadb.Error as e:
    print(f"Erreur r√©cup√©ration structure : {e}")

# 2. Affichage des 3 premi√®res lignes
print("\n=== 3 premi√®res lignes de la table ===")
try:
    cursor.execute("SELECT * FROM monsters LIMIT 3")
    rows = cursor.fetchall()
    
    cursor.execute("SELECT column_name FROM information_schema.columns WHERE table_name = 'monsters' AND table_schema = 'palworld_database' ORDER BY ordinal_position")
    columns = [col[0] for col in cursor.fetchall()]
    
    import pandas as pd
    df = pd.DataFrame(rows, columns=columns)
    print(df)
except mariadb.Error as e:
    print(f"Erreur r√©cup√©ration donn√©es : {e}")

# 3. Affichage du nombre total d'entr√©es
try:
    cursor.execute("SELECT COUNT(*) FROM monsters")
    count = cursor.fetchone()[0]
    print(f"\nLa table contient actuellement {count} entr√©es.")
except mariadb.Error as e:
    print(f"Erreur comptage lignes : {e}")

# Fermeture de la connexion
cursor.close()
conn.close()
print("\nConnexion ferm√©e.")

Connexion r√©ussie √† MariaDB !

=== Structure de la table 'monsters' ===
Colonne: id                        Type: int(11)
Colonne: OverrideNameTextID        Type: varchar(255)
Colonne: OverridePartnerSkillTextID Type: varchar(255)
Colonne: IsPal                     Type: int(11)
Colonne: Tribe                     Type: varchar(255)
Colonne: BPClass                   Type: varchar(255)
Colonne: Pictorial_ID              Type: int(11)
Colonne: ZukanIndexSuffix          Type: float
Colonne: Size                      Type: varchar(50)
Colonne: rarity                    Type: int(11)
Colonne: Element_1                 Type: varchar(50)
Colonne: Element_2                 Type: varchar(50)
Colonne: GenusCategory             Type: varchar(50)
Colonne: Organization              Type: float
Colonne: weapon                    Type: float
Colonne: WeaponEquip               Type: int(11)
Colonne: HP                        Type: int(11)
Colonne: melee_attack              Type: int(11)
Colonne: Remote_attack             Type: int(11)
Colonne: defense                   Type: int(11)
Colonne: support                   Type: int(11)
Colonne: CraftSpeed                Type: int(11)
Colonne: damageMultiplier          Type: varchar(50)
Colonne: CaptureProbability        Type: varchar(50)
Colonne: ExperienceMultiplier      Type: int(11)
Colonne: price                     Type: int(11)
Colonne: AIRResponse               Type: varchar(50)
Colonne: AISightResponse           Type: float
Colonne: slow_walking_speed        Type: int(11)
Colonne: walking_speed             Type: int(11)
Colonne: running_speed             Type: int(11)
Colonne: Riding_sprint_speed       Type: int(11)
Colonne: Handling_speed            Type: int(11)
Colonne: IsBoss                    Type: int(11)
Colonne: IsTowerBoss               Type: int(11)
Colonne: BattleBGM                 Type: varchar(255)
Colonne: IgnoreLeanBack            Type: int(11)
Colonne: IgnoreBlowAway            Type: int(11)
Colonne: MaxFullStomach            Type: int(11)
Colonne: FullStomachDecreaseRate   Type: int(11)
Colonne: FoodAmount                Type: int(11)
Colonne: ViewingDistance           Type: int(11)
Colonne: ViewingAngle              Type: int(11)
Colonne: HearingRate               Type: int(11)
Colonne: NooseTrap                 Type: int(11)
Colonne: Nocturnal                 Type: int(11)
Colonne: BiologicalGrade           Type: int(11)
Colonne: Predator                  Type: int(11)
Colonne: Edible                    Type: int(11)
Colonne: endurance                 Type: int(11)
Colonne: Male_probability          Type: int(11)
Colonne: fecundity                 Type: int(11)
Colonne: Breathing_fire            Type: int(11)
Colonne: watering                  Type: int(11)
Colonne: planting                  Type: int(11)
Colonne: generate_electricity      Type: int(11)
Colonne: manual                    Type: int(11)
Colonne: collection                Type: int(11)
Colonne: logging                   Type: int(11)
Colonne: Mining                    Type: int(11)
Colonne: pharmaceutical            Type: int(11)
Colonne: cool_down                 Type: int(11)
Colonne: carry                     Type: int(11)
Colonne: pasture                   Type: int(11)
Colonne: Passive_skill_1           Type: varchar(255)
Colonne: Passive_skill_2           Type: varchar(255)
Colonne: Passive_skill_3           Type: float
Colonne: Passive_skill_4           Type: float

=== 3 premi√®res lignes de la table ===
   id  OverrideNameTextID       OverridePartnerSkillTextID  IsPal  \
0   1  SakuraSaurus_Water  PARTNERSKILL_SakuraSaurus_Water      1
1   2       AmaterasuWolf       PARTNERSKILL_AmaterasuWolf      1
2   3           RobinHood           PARTNERSKILL_RobinHood      1

                Tribe                  BPClass  Pictorial_ID ZukanIndexSuffix  \
0  SakuraSaurus_Water  BOSS_SakuraSaurus_Water            -1             None
1       AmaterasuWolf       BOSS_AmaterasuWolf            -1             None
2           RobinHood           BOSS_RobinHood            -1             None

  Size  rarity  ... logging Mining pharmaceutical cool_down carry  pasture  \
0   XL       8  ...       0      0              0         0     0        0
1   XL       6  ...       0      0              0         0     0        0
2   XL       0  ...       1      0              1         0     1        0

   Passive_skill_1  Passive_skill_2  Passive_skill_3  Passive_skill_4
0             None             None             None             None
1             None             None             None             None
2             None             None             None             None

[3 rows x 68 columns]

La table contient actuellement 144 entr√©es.

Connexion ferm√©e.