# Le jeu Palworld et analyse des donn√©es

## Pr√©sentation du jeu Palworld

Palworld est un jeu de survie en monde ouvert d√©velopp√© par Pocket Pair, sorti en janvier 2024. Ce jeu combine des √©l√©ments de survie, de crafting, de collection de cr√©atures et de construction de base. Il se d√©roule dans un monde ouvert peupl√© de cr√©atures appel√©es "Pals" que les joueurs peuvent capturer, √©lever et utiliser pour diverses t√¢ches.

Les aspects cl√©s du jeu incluent:

| Aspect |
| - |
| La capture et la collection de Pals (similaire √† Pok√©mon) |
| L'utilisation des Pals pour combattre |
| L'exploitation des Pals pour des t√¢ches comme la construction, l'agriculture, et le travail en usine |
| La construction et le d√©veloppement d'un campement |
| L'exploration d'un monde ouvert avec diff√©rentes zones et biomes |

Le jeu a connu un immense succ√®s d√®s sa sortie en raison de son concept innovant m√™lant des m√©caniques de jeux populaires comme Pok√©mon et Minecraft, mais avec une approche plus mature et parfois controvers√©e.

## üìÅ Analyse des Fichiers CSV et leur R√¥le dans le Jeu

### Vue d'ensemble des Donn√©es Palworld

Sur la base des descriptions fournies, voici une analyse de chaque fichier de donn√©es et son importance dans le jeu :

### 1.  Palworld_Data--Palu combat attribute table.csv

**Contenu :**
- Statistiques de base (sant√©, attaque, d√©fense, vitesse)
- Types √©l√©mentaires (Feu, Eau, √âlectricit√©, etc.)
- Comp√©tences de combat sp√©cifiques

**R√¥le dans le jeu :** Ces donn√©es d√©terminent l'efficacit√© d'un Pal au combat. Les joueurs utilisent ces informations pour construire des √©quipes √©quilibr√©es et strat√©giques pour les combats contre d'autres Pals ou les boss.

### 2.  Palworld_Data--Palu refresh level.csv

**Contenu :** Informations sur les niveaux auxquels les Pals apparaissent dans diff√©rentes zones du jeu.

**R√¥le dans le jeu :** Cette information est cruciale pour les joueurs qui cherchent √† capturer des Pals sp√©cifiques. Elle permet de savoir o√π trouver certains Pals et √† quel niveau ils appara√Ætront, ce qui affecte leur difficult√© de capture et leurs statistiques initiales.

### 3. Palworld_Data-Palu Job Skills Table.csv

**Contenu :** Comp√©tences de travail que poss√®dent les diff√©rents Pals :
- Minage
- B√ªcheronnage
- Agriculture
- Construction
- Cuisine
- Etc.

**R√¥le dans le jeu :** Ces comp√©tences d√©terminent quelles t√¢ches un Pal peut effectuer dans votre campement. Un Pal avec une comp√©tence de minage √©lev√©e sera efficace pour extraire des minerais, tandis qu'un Pal avec des comp√©tences agricoles sera utile pour cultiver des ressources alimentaires.

### 4.  Palworld_Data-Tower BOSS attribute comparison.csv

**Contenu :** Attributs des boss sp√©ciaux qui apparaissent dans les tours du jeu.

**R√¥le dans le jeu :** Les tours sont des d√©fis endgame o√π les joueurs affrontent des boss puissants. Ces donn√©es aident √† comprendre la puissance relative de ces boss et √† pr√©parer des strat√©gies adapt√©es pour les combattre.

### 5.  Palworld_Data-comparison of ordinary BOSS attributes.csv

**Contenu :** Attributs des boss ordinaires que l'on trouve dans le monde ouvert.

**R√¥le dans le jeu :** Ces boss repr√©sentent des d√©fis importants durant l'exploration et fournissent des r√©compenses pr√©cieuses. Comprendre leurs attributs permet aux joueurs de se pr√©parer ad√©quatement √† ces affrontements.

### 6.  Palworld_Data-hide pallu attributes.csv

**Contenu :** Informations sur des attributs cach√©s des Pals qui ne sont pas imm√©diatement visibles dans le jeu.

**R√¥le dans le jeu :** Ces attributs cach√©s peuvent inclure des taux de croissance sp√©cifiques, des affinit√©s particuli√®res, ou des capacit√©s sp√©ciales qui se d√©bloquent dans certaines conditions. Ces informations sont pr√©cieuses pour les joueurs qui cherchent √† optimiser leurs Pals.

---
## Implications pour l'Analyse

Cette structure de donn√©es nous permettra d'analyser :
- **Optimisation des √©quipes de combat** via les attributs de combat
- **Gestion efficace des ressources** via les comp√©tences de travail
- **Strat√©gies de capture** via les zones d'apparition et probabilit√©s
- **Progression du jeu** via les niveaux et raret√©s des Pals

## Import des biblioth√®ques Python de l'√©tude

In [40]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import mariadb
from sqlalchemy import create_engine
import plotly.express as px
import plotly.graph_objects as go
import os
from pathlib import Path

## Chargement des donn√©es brutes

In [41]:
# D√©finition du chemin vers les fichiers fournis
database_path = "../database/"
data_path = "../data/"

# V√©rification de l'existence du repertoire , if not utiliser le repertoire courrant
if not os.path.exists(data_path):
    data_path = "./"

# Affichage des fichiers dispo pour la v√©rif
files = [f for f in os.listdir(data_path) if f.endswith('.csv')] # ici on liste tous les fichiers ou dossiers + on it√®re chaque √©l√©ment + Filtre pour garder que les fichier .csv
print("Fichiers dispo:")
for file in files: 
    print(f"-{file}")

# Chargement des donn√©es brutes & gestion d'erreurs gr√¢ce √† pd.read_csv en d√©finissant le chemin vers les fichiers.csv 
try:
    combat_attribute = pd.read_csv(f'{data_path}Palworld_Data--Palu combat attribute table.csv')
    refresh_area = pd.read_csv(f'{data_path}Palworld_Data--Palu refresh level.csv')
    ordinary_boss = pd.read_csv(f'{data_path}Palworld_Data-comparison of ordinary BOSS attributes.csv')
    tower_boss = pd.read_csv(f'{data_path}Palworld_Data-Tower BOSS attribute comparison.csv') 
    job_skill = pd.read_csv(f'{data_path}Palworld_Data-Palu Job Skills Table.csv')
    hidden_attribute = pd.read_csv(f'{data_path}Palworld_Data-hide pallu attributes.csv')
    print("\nDonn√©es brutes charg√©es")
except FileNotFoundError as e : 
  print(f"Erreur: {e}. V√©rifier les noms des fichiers et le chemin.")

Fichiers dispo:
-Palworld_Data--Palu combat attribute table.csv
-Palworld_Data--Palu refresh level.csv
-Palworld_Data-comparison of ordinary BOSS attributes.csv
-Palworld_Data-hide pallu attributes.csv
-Palworld_Data-Palu Job Skills Table.csv
-Palworld_Data-Tower BOSS attribute comparison.csv

Donn√©es brutes charg√©es

## Cr√©ation de la fonction d'analyse exploratoires des donn√©es

In [42]:
def explore_dataframe(df, name):
    # Cette Fonction inslus un affichage optimis√©
    
    # Sauvegarde et r√©glage des options d'affichage
    pd.set_option('display.max_columns', None)
    pd.set_option('display.max_colwidth', 30)
    pd.set_option('display.width', max(1200, df.shape[1] * 20))

    print(f"\n===== Exploration de {name} =====")

    # 1. Informations de base (similaire √† df.info())
    print("\n--- Informations de base ---")
    print(f"Class: {type(df)}")
    # Index
    idx = df.index
    print(f"Index: {type(idx)} | {idx}")
        # Nombre total d'entr√©es et de colonnes
    print(f"Entries: {len(df)} | Columns: {df.shape[1]}")
    # D√©tail des colonnes et non-null counts
    structure = pd.DataFrame({
        'Column': df.columns,
        'Non-Null Count': df.notnull().sum().values,
        'Dtype': df.dtypes.values
    })
    display(structure)
    # Usage m√©moire
    mem_usage = df.memory_usage(deep=True).sum()
    print(f"Memory usage: {mem_usage / 1024:.2f} KB")

    # 2. Dimensions
    print(f"\nDimensions: {df.shape[0]} lignes, {df.shape[1]} colonnes")
    
    # Aper√ßu des premi√®res lignes
    print("\nAper√ßu des premi√®res lignes:")
    display(df.head(3))
    
    # Types de donn√©es
    print("\nTypes de donn√©es:")
    display(df.dtypes)
    
    # Statistiques descriptives
    print("\nStatistiques descriptives:")
    display(df.describe(include='all').T)
    
    # Valeurs manquantes
    print("\nValeurs manquantes:")
    missing = df.isnull().sum()
    missing_percent = (missing / len(df)) * 100
    missing_data = pd.concat([missing, missing_percent], axis=1, keys=['Total', 'Pourcentage'])
    display(missing_data[missing_data['Total'] > 0])
    if missing_data['Total'].sum() == 0:
        print("Aucune valeur manquante d√©tect√©e")
    
    # Doublons
    duplicates = df.duplicated().sum()
    print(f"\nNombre de lignes dupliqu√©es: {duplicates}")
    
    # Colonnes cat√©gorielles
    print("\nAnalyse des colonnes cat√©gorielles:")
    categorical_cols = df.select_dtypes(include=['object']).columns
    
    if len(categorical_cols) > 0:
        for col in categorical_cols:
            unique_values = df[col].unique()
            n_unique = len(unique_values)
            
            print(f"\n{col}:")
            print(f"  - {n_unique} valeurs uniques")
            
            if n_unique <= 10:
                print(f"  - Valeurs: {unique_values}")
            elif n_unique <= 20:
                value_counts = df[col].value_counts().head(10)
                print(f"  - Top 10 des valeurs les plus fr√©quentes:")
                for val, count in value_counts.items():
                    print(f"    ‚Ä¢ {val}: {count} occurrences")
            else:
                value_counts = df[col].value_counts()
                print(f"  - Top 5 des valeurs les plus fr√©quentes:")
                for val, count in value_counts.head(5).items():
                    print(f"    ‚Ä¢ {val}: {count} occurrences")
                print(f"  - Valeur la moins fr√©quente: {value_counts.tail(1).index[0]} ({value_counts.tail(1).values[0]} occurrence(s))")
    else:
        print("Aucune colonne cat√©gorielle d√©tect√©e")
    
    # R√©tablissement des options d'affichage
    pd.reset_option('display.max_columns')
    pd.reset_option('display.max_info_columns')
    pd.reset_option('display.max_colwidth')
    pd.reset_option('display.width')

    # S√©parateur
    print("\n" + "="*70)

### Analyse exploratoire des donn√©es

In [43]:
explore_dataframe(job_skill, 'Job Skills')

===== Exploration de Job Skills =====

--- Informations de base ---
Class: <class 'pandas.core.frame.DataFrame'>
Index: <class 'pandas.core.indexes.range.RangeIndex'> | RangeIndex(start=0, stop=138, step=1)
Entries: 138 | Columns: 23

                    Column  Non-Null Count    Dtype
0                       ID             138    int64
1             English name             138   object
2             Chinese name             138   object
3              Volume size             138   object
4              Food intake             138    int64
5              night shift             138     bool
6             Total skills             138    int64
7              Make a fire             138     bool
8                 watering             138     bool
9                 planting             138     bool
10    generate electricity             138     bool
11                  manual             138     bool
12              collection             138     bool
13                 logging             138     bool
14                  Mining             138     bool
15          pharmaceutical             138     bool
16               cool down             138     bool
17                 pasture             138     bool
18                   carry             138     bool
19          Handling speed              56  float64
20             ranch items              13   object
21  pasture minimum output              13   object
22       The largest ranch              13   object

Memory usage: 46.97 KB

Dimensions: 138 lignes, 23 colonnes

Aper√ßu des premi√®res lignes:

   ID English name    Chinese name Volume size  Food intake  night shift  Total skills  Make a fire  watering  planting  generate electricity  manual  collection  logging  Mining  pharmaceutical  cool down  pasture  carry  Handling speed ranch items pasture minimum output The largest ranch
0   4      Lifmunk  green leaf rat    smallest            1        False             5        False     False      True                 False    True        True     True   False            True      False    False  False             NaN         NaN                    NaN               NaN
1   5     Foxparks      tinder fox    smallest            2        False             1         True     False     False                 False   False       False    False   False           False      False    False  False             NaN         NaN                    NaN               NaN
2   9        Rooby       Fire Deer       Small            3        False             1         True     False     False                 False   False       False    False   False           False      False    False  False             NaN         NaN                    NaN               NaN

Types de donn√©es:

ID                          int64
English name               object
Chinese name               object
Volume size                object
Food intake                 int64
night shift                  bool
Total skills                int64
Make a fire                  bool
watering                     bool
planting                     bool
generate electricity         bool
manual                       bool
collection                   bool
logging                      bool
Mining                       bool
pharmaceutical               bool
cool down                    bool
pasture                      bool
carry                        bool
Handling speed            float64
ranch items                object
pasture minimum output     object
The largest ranch          object
dtype: object

Statistiques descriptives:

                        count unique          top freq       mean         std    min    25%    50%    75%    max
ID                      138.0    NaN          NaN  NaN  57.826087   31.829361    1.0  31.25   58.5  85.75  111.0
English name              138    138      Lifmunk    1        NaN         NaN    NaN    NaN    NaN    NaN    NaN
Chinese name              138    137  Thunderbird    2        NaN         NaN    NaN    NaN    NaN    NaN    NaN
Volume size               138      5          big   43        NaN         NaN    NaN    NaN    NaN    NaN    NaN
Food intake             138.0    NaN          NaN  NaN   4.550725    2.263878    1.0    3.0    5.0    7.0    9.0
night shift               138      2        False  113        NaN         NaN    NaN    NaN    NaN    NaN    NaN
Total skills            138.0    NaN          NaN  NaN   4.188406    2.703204    1.0    2.0    4.0    6.0   12.0
Make a fire               138      2        False  116        NaN         NaN    NaN    NaN    NaN    NaN    NaN
watering                  138      2        False  123        NaN         NaN    NaN    NaN    NaN    NaN    NaN
planting                  138      2        False  117        NaN         NaN    NaN    NaN    NaN    NaN    NaN
generate electricity      138      2        False  127        NaN         NaN    NaN    NaN    NaN    NaN    NaN
manual                    138      2        False   87        NaN         NaN    NaN    NaN    NaN    NaN    NaN
collection                138      2        False   92        NaN         NaN    NaN    NaN    NaN    NaN    NaN
logging                   138      2        False  102        NaN         NaN    NaN    NaN    NaN    NaN    NaN
Mining                    138      2        False  115        NaN         NaN    NaN    NaN    NaN    NaN    NaN
pharmaceutical            138      2        False  122        NaN         NaN    NaN    NaN    NaN    NaN    NaN
cool down                 138      2        False  120        NaN         NaN    NaN    NaN    NaN    NaN    NaN
pasture                   138      2        False  125        NaN         NaN    NaN    NaN    NaN    NaN    NaN
carry                     138      2        False   82        NaN         NaN    NaN    NaN    NaN    NaN    NaN
Handling speed           56.0    NaN          NaN  NaN     278.25  104.833244  100.0  208.0  270.0  327.5  500.0
ranch items                13     10         wool    3        NaN         NaN    NaN    NaN    NaN    NaN    NaN
pasture minimum output     13      4            1    9        NaN         NaN    NaN    NaN    NaN    NaN    NaN
The largest ranch          13      4         Rank    9        NaN         NaN    NaN    NaN    NaN    NaN    NaN

Valeurs manquantes:

                        Total  Pourcentage
Handling speed             82     59.42029
ranch items               125     90.57971
pasture minimum output    125     90.57971
The largest ranch         125     90.57971

Nombre de lignes dupliqu√©es: 0

Analyse des colonnes cat√©gorielles:

English name:
  - 138 valeurs uniques
  - Top 5 des valeurs les plus fr√©quentes:
    ‚Ä¢ Lifmunk: 1 occurrences
    ‚Ä¢ Foxparks: 1 occurrences
    ‚Ä¢ Rooby: 1 occurrences
    ‚Ä¢ Jolthog Cryst: 1 occurrences
    ‚Ä¢ Gumoss: 1 occurrences
  - Valeur la moins fr√©quente: Orserk (1 occurrence(s))

Chinese name:
  - 137 valeurs uniques
  - Top 5 des valeurs les plus fr√©quentes:
    ‚Ä¢ Thunderbird: 2 occurrences
    ‚Ä¢ tinder fox: 1 occurrences
    ‚Ä¢ Fire Deer: 1 occurrences
    ‚Ä¢ ice agouti: 1 occurrences
    ‚Ä¢ Ye NiNi: 1 occurrences
  - Valeur la moins fr√©quente: Pollux (1 occurrence(s))

Volume size:
  - 5 valeurs uniques
  - Valeurs: ['smallest' 'Small' 'medium' 'big' 'maximum']

ranch items:
  - 11 valeurs uniques
  - Top 10 des valeurs les plus fr√©quentes:
    ‚Ä¢ wool: 3 occurrences
    ‚Ä¢ gold: 2 occurrences
    ‚Ä¢ Palu Ball Advanced Palu Ball Arrow Gold Coin: 1 occurrences
    ‚Ä¢ Egg: 1 occurrences
    ‚Ä¢ milk: 1 occurrences
    ‚Ä¢ Marshmallow: 1 occurrences
    ‚Ä¢ red wild berries: 1 occurrences
    ‚Ä¢ high quality cloth: 1 occurrences
    ‚Ä¢ Honey: 1 occurrences
    ‚Ä¢ fire breathing organ: 1 occurrences

pasture minimum output:
  - 5 valeurs uniques
  - Valeurs: [nan '1'
 'According to partner skill level 1,1,2,1,1 0,0,0,1,1 1,1,2,3,4 10,20,30,40,50'
 '10' '2']

The largest ranch:
  - 5 valeurs uniques
  - Valeurs: [nan 'Rank'
 'According to partner skill level 1,2,3,1,2 0,0,0,1,1 1,2,3,4,5 10,20,30,40,50'
 'Rank*10' '1+Rank']

======================================================================

In [49]:
explore_dataframe(refresh_area, 'Refresh area')

===== Exploration de Refresh area =====

--- Informations de base ---
Class: <class 'pandas.core.frame.DataFrame'>
Index: <class 'pandas.core.indexes.range.RangeIndex'> | RangeIndex(start=0, stop=136, step=1)
Entries: 136 | Columns: 8

               Column  Non-Null Count   Dtype
0                  id             136   int64
1                name             136  object
2       minimum level             136   int64
3       maximum level             136   int64
4           fecondity             136   int64
5  pallu refresh type             136  object
6          night only             136    bool
7        refresh area             136  object

Memory usage: 30.92 KB

Dimensions: 136 lignes, 8 colonnes

Aper√ßu des premi√®res lignes:

   id          name  minimum level  maximum level  fecondity pallu refresh type  night only refresh area
0   1   Mian Youyou              1             14       1470             Creeps       False    grassland
1   2   Naughty cat              1             13       1460             Creeps       False    grassland
2   3  Pipi Chicken              1             13       1500             Creeps       False    grassland

Types de donn√©es:

id                     int64
name                  object
minimum level          int64
maximum level          int64
fecondity              int64
pallu refresh type    object
night only              bool
refresh area          object
dtype: object

Statistiques descriptives:

                    count unique          top freq        mean         std   min    25%    50%     75%     max
id                  136.0    NaN          NaN  NaN   57.279412   31.686121   1.0   31.0   58.0   85.25   111.0
name                  136    135  Thunderbird    2         NaN         NaN   NaN    NaN    NaN     NaN     NaN
minimum level       136.0    NaN          NaN  NaN   20.823529   14.480067   1.0    9.0   18.0   32.25    50.0
maximum level       136.0    NaN          NaN  NaN   33.036765   12.140784  10.0   22.0   38.0    45.0    50.0
fecondity           136.0    NaN          NaN  NaN  865.639706  420.953005  10.0  487.5  897.5  1240.0  1500.0
pallu refresh type    136      5       Creeps   98         NaN         NaN   NaN    NaN    NaN     NaN     NaN
night only            136      2        False  119         NaN         NaN   NaN    NaN    NaN     NaN     NaN
refresh area          136     10    grassland   49         NaN         NaN   NaN    NaN    NaN     NaN     NaN

Valeurs manquantes:

Empty DataFrame
Columns: [Total, Pourcentage]
Index: []

Aucune valeur manquante d√©tect√©e

Nombre de lignes dupliqu√©es: 0

Analyse des colonnes cat√©gorielles:

name:
  - 135 valeurs uniques
  - Top 5 des valeurs les plus fr√©quentes:
    ‚Ä¢ Thunderbird: 2 occurrences
    ‚Ä¢ Naughty cat: 1 occurrences
    ‚Ä¢ Mian Youyou: 1 occurrences
    ‚Ä¢ green leaf rat: 1 occurrences
    ‚Ä¢ tinder fox: 1 occurrences
  - Valeur la moins fr√©quente: Winter Caller (1 occurrence(s))

pallu refresh type:
  - 5 valeurs uniques
  - Valeurs: ['Creeps' 'Secret Domain BOSS' 'event' 'Random dungeon boss' 'Wild BOSS']

refresh area:
  - 10 valeurs uniques
  - Valeurs: ['grassland' 'islands' 'dungeon' 'Snow' 'forest' 'volcano' 'game reserve'
 'desert' 'forest snow' 'Random events']

======================================================================

In [44]:
explore_dataframe(ordinary_boss, 'Ordinary Boss')

===== Exploration de Ordinary Boss =====

--- Informations de base ---
Class: <class 'pandas.core.frame.DataFrame'>
Index: <class 'pandas.core.indexes.range.RangeIndex'> | RangeIndex(start=0, stop=129, step=1)
Entries: 129 | Columns: 4

                          Column  Non-Null Count    Dtype
0                           name             129   object
1                             HP              26  float64
2                  Remote attack              18  float64
3  Riding speed (BOSS is 100 ...             129    int64

Memory usage: 12.18 KB

Dimensions: 129 lignes, 4 colonnes

Aper√ßu des premi√®res lignes:

                         name  HP  Remote attack  Riding speed (BOSS is 100 higher)
0  Heterogeneous Griffin BOSS NaN            NaN                           1300
1       Heterogeneous Griffin NaN            NaN                           1200
2               Ye Panda BOSS NaN            NaN                            800

Types de donn√©es:

name                                  object
HP                                   float64
Remote attack                        float64
Riding speed (BOSS is 100 higher)      int64
dtype: object

Statistiques descriptives:

                                count unique                top freq        mean         std    min    25%    50%     75%     max
name                              129    119  Snow Mammoth BOSS    2         NaN         NaN    NaN    NaN    NaN     NaN     NaN
HP                               26.0    NaN                NaN  NaN  238.076923  121.128666  110.0  132.5  200.0   330.0   420.0
Remote attack                    18.0    NaN                NaN  NaN        82.5     6.47393   75.0   75.0   82.5    90.0    90.0
Riding speed (BOSS is 100 h...  129.0    NaN                NaN  NaN   922.48062  248.665284  500.0  750.0  900.0  1100.0  1600.0

Valeurs manquantes:

               Total  Pourcentage
HP               103    79.844961
Remote attack    111    86.046512

Nombre de lignes dupliqu√©es: 0

Analyse des colonnes cat√©gorielles:

name:
  - 119 valeurs uniques
  - Top 5 des valeurs les plus fr√©quentes:
    ‚Ä¢ Snow Mammoth BOSS: 2 occurrences
    ‚Ä¢ Thunderbird: 2 occurrences
    ‚Ä¢ Thunderbird BOSS: 2 occurrences
    ‚Ä¢ snow mammoth: 2 occurrences
    ‚Ä¢ Melupa BOSS: 2 occurrences
  - Valeur la moins fr√©quente: Cloud sea deer (1 occurrence(s))

======================================================================

In [45]:
explore_dataframe(tower_boss, 'Tower Boss')

===== Exploration de Tower Boss =====

--- Informations de base ---
Class: <class 'pandas.core.frame.DataFrame'>
Index: <class 'pandas.core.indexes.range.RangeIndex'> | RangeIndex(start=0, stop=10, step=1)
Entries: 10 | Columns: 17

                  Column  Non-Null Count   Dtype
0                   name              10  object
1                     HP              10   int64
2           melee attack              10   int64
3          remote attack              10   int64
4                defense              10   int64
5                Support              10   int64
6       experience ratio              10   int64
7     slow walking speed              10   int64
8          walking speed              10   int64
9          running speed              10   int64
10          riding speed              10   int64
11        Handling speed              10   int64
12  ignore the bluntness              10    bool
13   ignore displacement              10    bool
14       BiologicalGrade              10   int64
15             endurance              10   int64
16             fecundity              10   int64

Memory usage: 1.94 KB

Dimensions: 10 lignes, 17 colonnes

Aper√ßu des premi√®res lignes:

                            name    HP  melee attack  remote attack  defense  Support  experience ratio  slow walking speed  walking speed  running speed  riding speed  Handling speed  ignore the bluntness  ignore displacement  BiologicalGrade  endurance  fecundity
0  Victor & Heterogeneous Gri...  8000           130            200      220       90                30                  80             80            850          1100             465                  True                 True                9        100       9999
1          Heterogeneous Griffin   120           130            120      140       90                 1                  80             80            850          1200             465                 False                False                5        250         60
2           Zoe & Lightning Bear  6000           100            100      100      100                30                  80            140            470           650             287                  True                 True                9        100       9999

Types de donn√©es:

name                    object
HP                       int64
melee attack             int64
remote attack            int64
defense                  int64
Support                  int64
experience ratio         int64
slow walking speed       int64
walking speed            int64
running speed            int64
riding speed             int64
Handling speed           int64
ignore the bluntness      bool
ignore displacement       bool
BiologicalGrade          int64
endurance                int64
fecundity                int64
dtype: object

Statistiques descriptives:

                     count unique                            top freq    mean          std    min     25%     50%     75%     max
name                    10     10  Victor & Heterogeneous Gri...    1     NaN          NaN    NaN     NaN     NaN     NaN     NaN
HP                    10.0    NaN                            NaN  NaN  3303.5  3426.634282  100.0  106.25  2810.0  6375.0  8000.0
melee attack          10.0    NaN                            NaN  NaN   108.0    13.165612  100.0   100.0   100.0   115.0   130.0
remote attack         10.0    NaN                            NaN  NaN   123.5    29.818898  100.0  106.25   115.0   127.5   200.0
defense               10.0    NaN                            NaN  NaN   121.5    36.897004  100.0  101.25   107.5  121.25   220.0
Support               10.0    NaN                            NaN  NaN    96.0     5.163978   90.0    90.0   100.0   100.0   100.0
experience ratio      10.0    NaN                            NaN  NaN    15.5    15.284342    1.0     1.0    15.5    30.0    30.0
slow walking speed    10.0    NaN                            NaN  NaN    94.0    32.386554   60.0    80.0    80.0   100.0   150.0
walking speed         10.0    NaN                            NaN  NaN   141.0    49.035135   80.0   100.0   140.0   185.0   200.0
running speed         10.0    NaN                            NaN  NaN   734.0   241.348066  450.0   470.0   850.0   900.0  1000.0
riding speed          10.0    NaN                            NaN  NaN   990.0   346.249749  550.0   650.0  1150.0  1275.0  1400.0
Handling speed        10.0    NaN                            NaN  NaN   376.9   127.321509  210.0   275.0   376.0  491.25   542.0
ignore the bluntness    10      2                           True    5     NaN          NaN    NaN     NaN     NaN     NaN     NaN
ignore displacement     10      2                           True    5     NaN          NaN    NaN     NaN     NaN     NaN     NaN
BiologicalGrade       10.0    NaN                            NaN  NaN     7.0     2.108185    5.0     5.0     7.0     9.0     9.0
endurance             10.0    NaN                            NaN  NaN   128.0    59.217115  100.0   100.0   100.0   100.0   250.0
fecundity             10.0    NaN                            NaN  NaN  5101.5  5163.004966   60.0   212.5  5184.5  9999.0  9999.0

Valeurs manquantes:

Empty DataFrame
Columns: [Total, Pourcentage]
Index: []

Aucune valeur manquante d√©tect√©e

Nombre de lignes dupliqu√©es: 0

Analyse des colonnes cat√©gorielles:

name:
  - 10 valeurs uniques
  - Valeurs: ['Victor & Heterogeneous Griffin' 'Heterogeneous Griffin'
 'Zoe & Lightning Bear' 'Lightning Bear' 'Marcus & Horus' 'Horus'
 'Lily & Lily Queen' 'lily queen' 'Axel & Pollux' 'Pollux']

======================================================================

In [47]:
explore_dataframe(combat_attribute, 'Combat Attribut')

===== Exploration de Combat Attribut =====

--- Informations de base ---
Class: <class 'pandas.core.frame.DataFrame'>
Index: <class 'pandas.core.indexes.range.RangeIndex'> | RangeIndex(start=0, stop=138, step=1)
Entries: 138 | Columns: 50

                        Column  Non-Null Count    Dtype
0                           ID             138    int64
1                 Chinese name             138   object
2                         Name             138   object
3                     CodeName             138   object
4           OverrideNameTextID               1   object
5                 NamePrefixID               0  float64
6   OverridePartnerSkillTextID               1   object
7                        IsPal             138     bool
8                        Tribe             138   object
9                      BPClass             138   object
10                     variant              33   object
11                 Volume size             138   object
12                      rarity             138    int64
13                   Element 1             138   object
14                   Element 2              26   object
15               GenusCategory             138   object
16                Organization               0  float64
17                      weapon               0  float64
18                 WeaponEquip             138     bool
19                   nocturnal              25   object
20                    4D total             138    int64
21                          HP             138    int64
22                melee attack             138    int64
23               Remote attack             138    int64
24                     defense             138    int64
25                     support             138    int64
26               Speed of work             138    int64
27                     Level 1             138   object
28                    Level 20             138   object
29                    Level 50             138   object
30                 AIRResponse             138   object
31             AISightResponse               0  float64
32                   endurance             138    int64
33          slow walking speed             138    int64
34               walking speed             138    int64
35               running speed             138    int64
36         Riding sprint speed              61  float64
37   (being) damage multiplier             138   object
38                  catch rate             138   object
39       Experience multiplier             138    int64
40                       price             138    int64
41          Must bring entry 1              17   object
42          Must bring entry 2               4   object
43       Numerical description             138   object
44                         lv1             138   object
45                         lv2             138   object
46                         lv3             138   object
47                         lv4             138   object
48                         lv5             138   object
49           Skill description             138   object

Memory usage: 249.28 KB

Dimensions: 138 lignes, 50 colonnes

Aper√ßu des premi√®res lignes:

   ID    Chinese name     Name    CodeName OverrideNameTextID  NamePrefixID OverridePartnerSkillTextID  IsPal       Tribe     BPClass variant Volume size  rarity  Element 1 Element 2 GenusCategory  Organization  weapon  WeaponEquip nocturnal  4D total  HP  melee attack  Remote attack  defense  support  Speed of work  Level 1 Level 20 Level 50 AIRResponse  AISightResponse  endurance  slow walking speed  walking speed  running speed  Riding sprint speed (being) damage multiplier catch rate  Experience multiplier  price Must bring entry 1 Must bring entry 2 Numerical description lv1 lv2 lv3 lv4 lv5              Skill description
0   1     Mian Youyou  Lamball   SheepBall                NaN           NaN                        NaN   True   SheepBall   SheepBall     NaN          XS       1  generally       NaN      Humanoid           NaN     NaN        False       NaN       280  70            70             70       70      100            100  105-106  205-236  362-441    Friendly              NaN        100                  23             40            400                  NaN                         2        1,5                      1   1000                NaN                NaN          Ranch skills   0   0   0   0   0  When activated, it will tr...
1   3    Pipi Chicken  Chikipi  ChickenPal                NaN           NaN                        NaN   True  ChickenPal  ChickenPal     NaN          XS       1  generally       NaN          Bird           NaN     NaN        False       NaN       250  60            70             60       60       70            100  104-105  190-217  325-392    Friendly              NaN        100                  50             50            375                  NaN                         2        1,5                      1   1000                NaN                NaN          Ranch skills   0   0   0   0   0  Assign it to Palu Ranch an...
2   4  green leaf rat  Lifmunk   Carbunclo                NaN           NaN                        NaN   True   Carbunclo   Carbunclo     NaN          XS       1       Wood       NaN      Humanoid           NaN     NaN        False       NaN       285  75            70             70       70      100            100  105-106  205-236  362-441      Escape              NaN        100                  20             40            400                  NaN                         1        0,9                      1   1010                NaN                NaN           Skill power  10  11  13  16  20  After being activated, it ...

Types de donn√©es:

ID                              int64
Chinese name                   object
Name                           object
CodeName                       object
OverrideNameTextID             object
NamePrefixID                  float64
OverridePartnerSkillTextID     object
IsPal                            bool
Tribe                          object
BPClass                        object
variant                        object
Volume size                    object
rarity                          int64
Element 1                      object
Element 2                      object
GenusCategory                  object
Organization                  float64
weapon                        float64
WeaponEquip                      bool
nocturnal                      object
4D total                        int64
HP                              int64
melee attack                    int64
Remote attack                   int64
defense                         int64
support                         int64
Speed of work                   int64
Level 1                        object
Level 20                       object
Level 50                       object
AIRResponse                    object
AISightResponse               float64
endurance                       int64
slow walking speed              int64
walking speed                   int64
running speed                   int64
Riding sprint speed           float64
(being) damage multiplier      object
catch rate                     object
Experience multiplier           int64
price                           int64
Must bring entry 1             object
Must bring entry 2             object
Numerical description          object
lv1                            object
lv2                            object
lv3                            object
lv4                            object
lv5                            object
Skill description              object
dtype: object

Statistiques descriptives:

                            count unique                            top freq         mean          std     min     25%     50%     75%      max
ID                          138.0    NaN                            NaN  NaN    57.826087    31.829361     1.0   31.25    58.5   85.75    111.0
Chinese name                  138    137                    Thunderbird    2          NaN          NaN     NaN     NaN     NaN     NaN      NaN
Name                          138    138                        Lamball    1          NaN          NaN     NaN     NaN     NaN     NaN      NaN
CodeName                      138    138                      SheepBall    1          NaN          NaN     NaN     NaN     NaN     NaN      NaN
OverrideNameTextID              1      1            PAL_NAME_PlantSlime    1          NaN          NaN     NaN     NaN     NaN     NaN      NaN
NamePrefixID                  0.0    NaN                            NaN  NaN          NaN          NaN     NaN     NaN     NaN     NaN      NaN
OverridePartnerSkillTextID      1      1        PARTNERSKILL_PlantSlime    1          NaN          NaN     NaN     NaN     NaN     NaN      NaN
IsPal                         138      1                           True  138          NaN          NaN     NaN     NaN     NaN     NaN      NaN
Tribe                         138    137                     PlantSlime    2          NaN          NaN     NaN     NaN     NaN     NaN      NaN
BPClass                       138    138                      SheepBall    1          NaN          NaN     NaN     NaN     NaN     NaN      NaN
variant                        33      1                            yes   33          NaN          NaN     NaN     NaN     NaN     NaN      NaN
Volume size                   138      5                              L   43          NaN          NaN     NaN     NaN     NaN     NaN      NaN
rarity                      138.0    NaN                            NaN  NaN     5.384058     4.006058     1.0     2.0     5.0    7.75     20.0
Element 1                     138      9                           Wood   22          NaN          NaN     NaN     NaN     NaN     NaN      NaN
Element 2                      26      8                           land    6          NaN          NaN     NaN     NaN     NaN     NaN      NaN
GenusCategory                 138      7                       Humanoid   54          NaN          NaN     NaN     NaN     NaN     NaN      NaN
Organization                  0.0    NaN                            NaN  NaN          NaN          NaN     NaN     NaN     NaN     NaN      NaN
weapon                        0.0    NaN                            NaN  NaN          NaN          NaN     NaN     NaN     NaN     NaN      NaN
WeaponEquip                   138      1                          False  138          NaN          NaN     NaN     NaN     NaN     NaN      NaN
nocturnal                      25      1                            yes   25          NaN          NaN     NaN     NaN     NaN     NaN      NaN
4D total                    138.0    NaN                            NaN  NaN   367.898551    62.329509   250.0  311.25   375.0   405.0    515.0
HP                          138.0    NaN                            NaN  NaN    93.442029    20.855785    60.0    75.0    90.0  108.75    150.0
melee attack                138.0    NaN                            NaN  NaN    94.710145    19.263521    50.0    80.0   100.0   100.0    150.0
Remote attack               138.0    NaN                            NaN  NaN    91.630435    19.799755    50.0    75.0    90.0   105.0    145.0
defense                     138.0    NaN                            NaN  NaN    88.115942    18.923616    50.0    70.0    87.5   100.0    145.0
support                     138.0    NaN                            NaN  NaN    99.710145    14.344155    30.0   100.0   100.0   100.0    150.0
Speed of work               138.0    NaN                            NaN  NaN        100.0          0.0   100.0   100.0   100.0   100.0    100.0
Level 1                       138     15                        107-109   25          NaN          NaN     NaN     NaN     NaN     NaN      NaN
Level 20                      138     18                        205-236   21          NaN          NaN     NaN     NaN     NaN     NaN      NaN
Level 50                      138     18                        362-441   21          NaN          NaN     NaN     NaN     NaN     NaN      NaN
AIRResponse                   138      5                        Warlike   67          NaN          NaN     NaN     NaN     NaN     NaN      NaN
AISightResponse               0.0    NaN                            NaN  NaN          NaN          NaN     NaN     NaN     NaN     NaN      NaN
endurance                   138.0    NaN                            NaN  NaN   112.318841    41.456861   100.0   100.0   100.0   100.0    300.0
slow walking speed          138.0    NaN                            NaN  NaN    76.369565    53.763754    10.0    50.0    70.0   100.0    600.0
walking speed               138.0    NaN                            NaN  NaN   131.702899    86.465251    10.0    80.0   110.0   150.0    800.0
running speed               138.0    NaN                            NaN  NaN   548.043478   209.013528   245.0   400.0   500.0   700.0   1700.0
Riding sprint speed          61.0    NaN                            NaN  NaN   918.032787   414.631642   500.0   700.0   800.0  1100.0   3300.0
(being) damage multiplier     138      8                              1  118          NaN          NaN     NaN     NaN     NaN     NaN      NaN
catch rate                    138      6                              1  118          NaN          NaN     NaN     NaN     NaN     NaN      NaN
Experience multiplier       138.0    NaN                            NaN  NaN          1.0          0.0     1.0     1.0     1.0     1.0      1.0
price                       138.0    NaN                            NaN  NaN  4109.855072  2843.870598  1000.0  1495.0  3205.0  6375.0  10520.0
Must bring entry 1             17     11                         legend    5          NaN          NaN     NaN     NaN     NaN     NaN      NaN
Must bring entry 2              4      4                       holy day    1          NaN          NaN     NaN     NaN     NaN     NaN      NaN
Numerical description         138     36            Attack power bonus%   25          NaN          NaN     NaN     NaN     NaN     NaN      NaN
lv1                           138     28                              0   25          NaN          NaN     NaN     NaN     NaN     NaN      NaN
lv2                           138     32                             55   20          NaN          NaN     NaN     NaN     NaN     NaN      NaN
lv3                           138     34                             65   20          NaN          NaN     NaN     NaN     NaN     NaN      NaN
lv4                           138     31                             80   21          NaN          NaN     NaN     NaN     NaN     NaN      NaN
lv5                           138     29                             20   28          NaN          NaN     NaN     NaN     NaN     NaN      NaN
Skill description             138    120  Can be moved around on its...    3          NaN          NaN     NaN     NaN     NaN     NaN      NaN

Valeurs manquantes:

                            Total  Pourcentage
OverrideNameTextID            137    99.275362
NamePrefixID                  138   100.000000
OverridePartnerSkillTextID    137    99.275362
variant                       105    76.086957
Element 2                     112    81.159420
Organization                  138   100.000000
weapon                        138   100.000000
nocturnal                     113    81.884058
AISightResponse               138   100.000000
Riding sprint speed            77    55.797101
Must bring entry 1            121    87.681159
Must bring entry 2            134    97.101449

Nombre de lignes dupliqu√©es: 0

Analyse des colonnes cat√©gorielles:

Chinese name:
  - 137 valeurs uniques
  - Top 5 des valeurs les plus fr√©quentes:
    ‚Ä¢ Thunderbird: 2 occurrences
    ‚Ä¢ Pipi Chicken: 1 occurrences
    ‚Ä¢ green leaf rat: 1 occurrences
    ‚Ä¢ tinder fox: 1 occurrences
    ‚Ä¢ surf duck: 1 occurrences
  - Valeur la moins fr√©quente: Vortex Dragon (1 occurrence(s))

Name:
  - 138 valeurs uniques
  - Top 5 des valeurs les plus fr√©quentes:
    ‚Ä¢ Lamball: 1 occurrences
    ‚Ä¢ Chikipi: 1 occurrences
    ‚Ä¢ Lifmunk: 1 occurrences
    ‚Ä¢ Foxparks: 1 occurrences
    ‚Ä¢ Fuack: 1 occurrences
  - Valeur la moins fr√©quente: Jetragon (1 occurrence(s))

CodeName:
  - 138 valeurs uniques
  - Top 5 des valeurs les plus fr√©quentes:
    ‚Ä¢ SheepBall: 1 occurrences
    ‚Ä¢ ChickenPal: 1 occurrences
    ‚Ä¢ Carbunclo: 1 occurrences
    ‚Ä¢ Kitsunebi: 1 occurrences
    ‚Ä¢ BluePlatypus: 1 occurrences
  - Valeur la moins fr√©quente: JetDragon (1 occurrence(s))

OverrideNameTextID:
  - 2 valeurs uniques
  - Valeurs: [nan 'PAL_NAME_PlantSlime']

OverridePartnerSkillTextID:
  - 2 valeurs uniques
  - Valeurs: [nan 'PARTNERSKILL_PlantSlime']

Tribe:
  - 137 valeurs uniques
  - Top 5 des valeurs les plus fr√©quentes:
    ‚Ä¢ PlantSlime: 2 occurrences
    ‚Ä¢ ChickenPal: 1 occurrences
    ‚Ä¢ Carbunclo: 1 occurrences
    ‚Ä¢ Kitsunebi: 1 occurrences
    ‚Ä¢ Blueplatypus: 1 occurrences
  - Valeur la moins fr√©quente: JetDragon (1 occurrence(s))

BPClass:
  - 138 valeurs uniques
  - Top 5 des valeurs les plus fr√©quentes:
    ‚Ä¢ SheepBall: 1 occurrences
    ‚Ä¢ ChickenPal: 1 occurrences
    ‚Ä¢ Carbunclo: 1 occurrences
    ‚Ä¢ Kitsunebi: 1 occurrences
    ‚Ä¢ BluePlatypus: 1 occurrences
  - Valeur la moins fr√©quente: JetDragon (1 occurrence(s))

variant:
  - 2 valeurs uniques
  - Valeurs: [nan 'yes']

Volume size:
  - 5 valeurs uniques
  - Valeurs: ['XS' 'S' 'L' 'M' 'XL']

Element 1:
  - 9 valeurs uniques
  - Valeurs: ['generally' 'Wood' 'fire' 'water' 'electricity' 'ice' 'dark' 'land'
 'dragon']

Element 2:
  - 9 valeurs uniques
  - Valeurs: [nan 'ice' 'land' 'dark' 'Wood' 'electricity' 'dragon' 'water' 'fire']

GenusCategory:
  - 7 valeurs uniques
  - Valeurs: ['Humanoid' 'Bird' 'FourLegged' 'Other' 'Fish' 'Dragon' 'Monster']

nocturnal:
  - 2 valeurs uniques
  - Valeurs: [nan 'yes']

Level 1:
  - 15 valeurs uniques
  - Top 10 des valeurs les plus fr√©quentes:
    ‚Ä¢ 107-109: 25 occurrences
    ‚Ä¢ 105-106: 21 occurrences
    ‚Ä¢ 106-108: 19 occurrences
    ‚Ä¢ 106-107: 16 occurrences
    ‚Ä¢ 107-110: 14 occurrences
    ‚Ä¢ 105-107: 8 occurrences
    ‚Ä¢ 109-112: 7 occurrences
    ‚Ä¢ 108-110: 6 occurrences
    ‚Ä¢ 104-105: 5 occurrences
    ‚Ä¢ 108-111: 5 occurrences

Level 20:
  - 18 valeurs uniques
  - Top 10 des valeurs les plus fr√©quentes:
    ‚Ä¢ 205-236: 21 occurrences
    ‚Ä¢ 220-256: 16 occurrences
    ‚Ä¢ 257-304: 14 occurrences
    ‚Ä¢ 250-295: 13 occurrences
    ‚Ä¢ 242-285: 12 occurrences
    ‚Ä¢ 235-275: 11 occurrences
    ‚Ä¢ 212-246: 8 occurrences
    ‚Ä¢ 227-265: 8 occurrences
    ‚Ä¢ 265-314: 6 occurrences
    ‚Ä¢ 190-217: 5 occurrences

Level 50:
  - 18 valeurs uniques
  - Top 10 des valeurs les plus fr√©quentes:
    ‚Ä¢ 362-441: 21 occurrences
    ‚Ä¢ 400-490: 16 occurrences
    ‚Ä¢ 493-611: 14 occurrences
    ‚Ä¢ 475-587: 13 occurrences
    ‚Ä¢ 456-563: 12 occurrences
    ‚Ä¢ 437-538: 11 occurrences
    ‚Ä¢ 381-465: 8 occurrences
    ‚Ä¢ 418-514: 8 occurrences
    ‚Ä¢ 512-636: 6 occurrences
    ‚Ä¢ 325-392: 5 occurrences

AIRResponse:
  - 5 valeurs uniques
  - Valeurs: ['Friendly' 'Escape' 'Escape_to_Battle' 'Warlike' 'NotInterested']

(being) damage multiplier:
  - 8 valeurs uniques
  - Valeurs: ['2' '1' '1,3' '1,2' '1,8' '1,7' '1,6' '1,1']

catch rate:
  - 6 valeurs uniques
  - Valeurs: ['1,5' '0,9' '1,1' '1' '1,2' '1,3']

Must bring entry 1:
  - 12 valeurs uniques
  - Top 10 des valeurs les plus fr√©quentes:
    ‚Ä¢ legend: 5 occurrences
    ‚Ä¢ hard skin: 3 occurrences
    ‚Ä¢ timid: 1 occurrences
    ‚Ä¢ rough: 1 occurrences
    ‚Ä¢ Uncharacteristically: 1 occurrences
    ‚Ä¢ Elf King: 1 occurrences
    ‚Ä¢ Yandi: 1 occurrences
    ‚Ä¢ Thunder Emperor: 1 occurrences
    ‚Ä¢ Greedy: 1 occurrences
    ‚Ä¢ Emperor Yan: 1 occurrences

Must bring entry 2:
  - 5 valeurs uniques
  - Valeurs: [nan 'holy day' 'Hades' 'ice King' 'Shenlong']

Numerical description:
  - 36 valeurs uniques
  - Top 5 des valeurs les plus fr√©quentes:
    ‚Ä¢ Attack power bonus%: 25 occurrences
    ‚Ä¢ Skill power: 13 occurrences
    ‚Ä¢ Skill power multiplier: 13 occurrences
    ‚Ä¢ Moving speed%: 13 occurrences
    ‚Ä¢ Ranch skills: 10 occurrences
  - Valeur la moins fr√©quente: Elemental power bonus%_Ice (1 occurrence(s))

lv1:
  - 28 valeurs uniques
  - Top 5 des valeurs les plus fr√©quentes:
    ‚Ä¢ 0: 25 occurrences
    ‚Ä¢ 50: 22 occurrences
    ‚Ä¢ 10: 16 occurrences
    ‚Ä¢ 40: 11 occurrences
    ‚Ä¢ 1.1: 10 occurrences
  - Valeur la moins fr√©quente: 13 (1 occurrence(s))

lv2:
  - 32 valeurs uniques
  - Top 5 des valeurs les plus fr√©quentes:
    ‚Ä¢ 55: 20 occurrences
    ‚Ä¢ 11: 16 occurrences
    ‚Ä¢ 10: 12 occurrences
    ‚Ä¢ 0: 11 occurrences
    ‚Ä¢ 50: 11 occurrences
  - Valeur la moins fr√©quente: 14.3 (1 occurrence(s))

lv3:
  - 34 valeurs uniques
  - Top 5 des valeurs les plus fr√©quentes:
    ‚Ä¢ 65: 20 occurrences
    ‚Ä¢ 13: 16 occurrences
    ‚Ä¢ 12: 12 occurrences
    ‚Ä¢ 0: 11 occurrences
    ‚Ä¢ 60: 11 occurrences
  - Valeur la moins fr√©quente: 16.9 (1 occurrence(s))

lv4:
  - 31 valeurs uniques
  - Top 5 des valeurs les plus fr√©quentes:
    ‚Ä¢ 80: 21 occurrences
    ‚Ä¢ 16: 16 occurrences
    ‚Ä¢ 15: 12 occurrences
    ‚Ä¢ 0: 11 occurrences
    ‚Ä¢ 70: 11 occurrences
  - Valeur la moins fr√©quente: 20.9 (1 occurrence(s))

lv5:
  - 29 valeurs uniques
  - Top 5 des valeurs les plus fr√©quentes:
    ‚Ä¢ 20: 28 occurrences
    ‚Ä¢ 100: 20 occurrences
    ‚Ä¢ 0: 11 occurrences
    ‚Ä¢ 80: 11 occurrences
    ‚Ä¢ 2.5: 10 occurrences
  - Valeur la moins fr√©quente: 26 (1 occurrence(s))

Skill description:
  - 120 valeurs uniques
  - Top 5 des valeurs les plus fr√©quentes:
    ‚Ä¢ Can be moved around on its back. Two jumps are possible during the ride.: 3 occurrences
    ‚Ä¢ If it is in the team, the elemental Fire Palu's attack power will be increased.: 2 occurrences
    ‚Ä¢ Assign it to Palu Ranch and it will have a chance to dig Money out of the ground.: 2 occurrences
    ‚Ä¢ If it is in the party, players will be able to deal more damage when harvesting.: 2 occurrences
    ‚Ä¢ After activation, the sixth sense can be activated to detect the location of nearby dungeons.: 2 occurrences
  - Valeur la moins fr√©quente: You can ride on its back and fly in the air. It can also continuously attack with its missile launcher while riding. (1 occurrence(s))

======================================================================

In [48]:
explore_dataframe(hidden_attribute, 'Hidden Attribute')

===== Exploration de Hidden Attribute =====

--- Informations de base ---
Class: <class 'pandas.core.frame.DataFrame'>
Index: <class 'pandas.core.indexes.range.RangeIndex'> | RangeIndex(start=0, stop=175, step=1)
Entries: 175 | Columns: 70

                        Column  Non-Null Count    Dtype
0                         name             175   object
1           OverrideNameTextID             160   object
2                 NamePrefixID             160   object
3   OverridePartnerSkillTextID             160   object
4                        IsPal             175     bool
..                         ...             ...      ...
65                     pasture             175    int64
66             Passive skill 1              17   object
67             Passive skill 2               4   object
68             Passive skill 3               0  float64
69             Passive skill 4               0  float64

[70 rows x 3 columns]

Memory usage: 227.22 KB

Dimensions: 175 lignes, 70 colonnes

Aper√ßu des premi√®res lignes:

                 name OverrideNameTextID             NamePrefixID  OverridePartnerSkillTextID  IsPal          Tribe             BPClass  Pictorial ID  ZukanIndexSuffix Size  rarity Element 1 Element 2 GenusCategory  Organization  weapon  WeaponEquip   HP  melee attack  Remote attack  defense  support  CraftSpeed (being) damage multiplier Capture probability  Experience multiplier  price    AIRResponse  AISightResponse  slow walking speed  walking speed  running speed  Riding sprint speed  Handling speed  IsBoss  IsTowerBoss  BattleBGM  IgnoreLeanBack  IgnoreBlowAway  MaxFullStomach  FullStomachDecreaseRate  FoodAmount  ViewingDistance  ViewingAngle  HearingRate  NooseTrap  Nocturnal  BiologicalGrade  Predator  Edible  endurance  Male probability  fecundity  Breathing fire  watering  planting  generate electricity  manual  collection  logging  Mining  OilExtraction (not shown in game)  pharmaceutical  cool down  carry  pasture Passive skill 1 Passive skill 2  Passive skill 3  Passive skill 4
0         BOSS_Alpaca             Alpaca         BOSS_NAME_Alpaca         PARTNERSKILL_Alpaca   True         Alpaca         BOSS_Alpaca            -1               NaN   XL       3    Normal       NaN    FourLegged           NaN     NaN        False   90            90             90       90      100         100                       0,4                 0,7                     10   3040  NotInterested              NaN                  62             62            460                  900             261    True        False  FieldBoss           False           False             225                        1           3               25            90            1      False      False                9     False    True        100                50        890               0         0         0                     0       0           0        0       0                              0                   0          0      0        1             NaN             NaN              NaN              NaN
1  BOSS_AmaterasuWolf      AmaterasuWolf  BOSS_NAME_AmaterasuWolf  PARTNERSKILL_AmaterasuWolf   True  AmaterasuWolf  BOSS_AmaterasuWolf            -1               NaN   XL       6      Fire       NaN    FourLegged           NaN     NaN        False  100            70            115      100      110         100                       0,2                 0,7                     10   3170           Boss              NaN                  80            130            700                 1000             415    True        False  FieldBoss           False           False             300                        1           4               25            90            1      False      False                9      True    True        100                50        830               2         0         0                     0       0           0        0       0                              0                   0          0      0        0             NaN             NaN              NaN              NaN
2     BOSS_BadCatgirl         BadCatgirl     BOSS_NAME_BadCatgirl     PARTNERSKILL_BadCatgirl   True     BadCatgirl     BOSS_BadCatgirl            -1               NaN   XL       0      Dark       NaN      Humanoid           NaN     NaN        False  100           100            100      100      100         100                       0,2                 0,7                     10   4690           Boss              NaN                  -1             -1             -1                   -1              -1    True        False  FieldBoss           False           False             225                        1           3               25            90            1      False       True                9     False    True        100                50          0               0         0         0                     0       2           3        1       0                              0                   0          0      2        0             NaN             NaN              NaN              NaN

Types de donn√©es:

name                           object
OverrideNameTextID             object
NamePrefixID                   object
OverridePartnerSkillTextID     object
IsPal                            bool
                               ...
pasture                         int64
Passive skill 1                object
Passive skill 2                object
Passive skill 3               float64
Passive skill 4               float64
Length: 70, dtype: object

Statistiques descriptives:

                            count unique                      top freq      mean       std  min  25%  50%  75%  max
name                          175    175              BOSS_Alpaca    1       NaN       NaN  NaN  NaN  NaN  NaN  NaN
OverrideNameTextID            160    159               PlantSlime    2       NaN       NaN  NaN  NaN  NaN  NaN  NaN
NamePrefixID                  160    159     BOSS_NAME_PlantSlime    2       NaN       NaN  NaN  NaN  NaN  NaN  NaN
OverridePartnerSkillTextID    160    159  PARTNERSKILL_PlantSlime    2       NaN       NaN  NaN  NaN  NaN  NaN  NaN
IsPal                         175      1                     True  175       NaN       NaN  NaN  NaN  NaN  NaN  NaN
...                           ...    ...                      ...  ...       ...       ...  ...  ...  ...  ...  ...
pasture                     175.0    NaN                      NaN  NaN  0.074286  0.262988  0.0  0.0  0.0  0.0  1.0
Passive skill 1                17     11                   Legend    5       NaN       NaN  NaN  NaN  NaN  NaN  NaN
Passive skill 2                 4      4  ElementBoost_Dark_2_PAL    1       NaN       NaN  NaN  NaN  NaN  NaN  NaN
Passive skill 3               0.0    NaN                      NaN  NaN       NaN       NaN  NaN  NaN  NaN  NaN  NaN
Passive skill 4               0.0    NaN                      NaN  NaN       NaN       NaN  NaN  NaN  NaN  NaN  NaN

[70 rows x 11 columns]

Valeurs manquantes:

                            Total  Pourcentage
OverrideNameTextID             15     8.571429
NamePrefixID                   15     8.571429
OverridePartnerSkillTextID     15     8.571429
ZukanIndexSuffix              175   100.000000
Element 2                     145    82.857143
Organization                  175   100.000000
weapon                        175   100.000000
AISightResponse               175   100.000000
Passive skill 1               158    90.285714
Passive skill 2               171    97.714286
Passive skill 3               175   100.000000
Passive skill 4               175   100.000000

Nombre de lignes dupliqu√©es: 0

Analyse des colonnes cat√©gorielles:

name:
  - 175 valeurs uniques
  - Top 5 des valeurs les plus fr√©quentes:
    ‚Ä¢ BOSS_Alpaca: 1 occurrences
    ‚Ä¢ BOSS_AmaterasuWolf: 1 occurrences
    ‚Ä¢ BOSS_BadCatgirl: 1 occurrences
    ‚Ä¢ BOSS_Baphomet: 1 occurrences
    ‚Ä¢ BOSS_Baphomet_Dark: 1 occurrences
  - Valeur la moins fr√©quente: BOSS_ThunderBird (1 occurrence(s))

OverrideNameTextID:
  - 160 valeurs uniques
  - Top 5 des valeurs les plus fr√©quentes:
    ‚Ä¢ PlantSlime: 2 occurrences
    ‚Ä¢ AmaterasuWolf: 1 occurrences
    ‚Ä¢ Alpaca: 1 occurrences
    ‚Ä¢ Baphomet: 1 occurrences
    ‚Ä¢ Baphomet_Dark: 1 occurrences
  - Valeur la moins fr√©quente: ThunderBird (1 occurrence(s))

NamePrefixID:
  - 160 valeurs uniques
  - Top 5 des valeurs les plus fr√©quentes:
    ‚Ä¢ BOSS_NAME_PlantSlime: 2 occurrences
    ‚Ä¢ BOSS_NAME_AmaterasuWolf: 1 occurrences
    ‚Ä¢ BOSS_NAME_Alpaca: 1 occurrences
    ‚Ä¢ BOSS_NAME_Baphomet: 1 occurrences
    ‚Ä¢ BOSS_NAME_Baphomet_Dark: 1 occurrences
  - Valeur la moins fr√©quente: BOSS_NAME_ThunderBird (1 occurrence(s))

OverridePartnerSkillTextID:
  - 160 valeurs uniques
  - Top 5 des valeurs les plus fr√©quentes:
    ‚Ä¢ PARTNERSKILL_PlantSlime: 2 occurrences
    ‚Ä¢ PARTNERSKILL_AmaterasuWolf: 1 occurrences
    ‚Ä¢ PARTNERSKILL_Alpaca: 1 occurrences
    ‚Ä¢ PARTNERSKILL_Baphomet: 1 occurrences
    ‚Ä¢ PARTNERSKILL_Baphomet_Dark: 1 occurrences
  - Valeur la moins fr√©quente: PARTNERSKILL_ThunderBird (1 occurrence(s))

Tribe:
  - 154 valeurs uniques
  - Top 5 des valeurs les plus fr√©quentes:
    ‚Ä¢ BeardedDragon: 2 occurrences
    ‚Ä¢ BlackFurDragon: 2 occurrences
    ‚Ä¢ BrownRabbit: 2 occurrences
    ‚Ä¢ GrassDragon: 2 occurrences
    ‚Ä¢ GoldenHorse: 2 occurrences
  - Valeur la moins fr√©quente: ThunderBird (1 occurrence(s))

BPClass:
  - 172 valeurs uniques
  - Top 5 des valeurs les plus fr√©quentes:
    ‚Ä¢ BeardedDragon: 2 occurrences
    ‚Ä¢ GrassDragon: 2 occurrences
    ‚Ä¢ GuardianDog: 2 occurrences
    ‚Ä¢ BOSS_Alpaca: 1 occurrences
    ‚Ä¢ BOSS_Baphomet: 1 occurrences
  - Valeur la moins fr√©quente: BOSS_ThunderBird (1 occurrence(s))

Size:
  - 4 valeurs uniques
  - Valeurs: ['XL' 'S' 'M' 'L']

Element 1:
  - 9 valeurs uniques
  - Valeurs: ['Normal' 'Fire' 'Dark' 'Ice' 'Dragon' 'Leaf' 'Water' 'Earth'
 'Electricity']

Element 2:
  - 9 valeurs uniques
  - Valeurs: [nan 'Dark' 'Dragon' 'Ice' 'Earth' 'Electricity' 'Water' 'Leaf' 'Fire']

GenusCategory:
  - 7 valeurs uniques
  - Valeurs: ['FourLegged' 'Humanoid' 'Dragon' 'Fish' 'Bird' 'Other' 'Monster']

(being) damage multiplier:
  - 4 valeurs uniques
  - Valeurs: ['0,4' '0,2' '1' '0,1']

Capture probability:
  - 7 valeurs uniques
  - Valeurs: ['0,7' '0,77' '0,63' '1,05' '0,91' '0,84' '1']

AIRResponse:
  - 5 valeurs uniques
  - Valeurs: ['NotInterested' 'Boss' 'Escape_to_Battle' 'Warlike' 'Escape']

BattleBGM:
  - 6 valeurs uniques
  - Valeurs: ['FieldBoss' 'Cute' 'Cool' 'Strong' 'TowerBoss' 'Legend']

Passive skill 1:
  - 12 valeurs uniques
  - Top 10 des valeurs les plus fr√©quentes:
    ‚Ä¢ Legend: 5 occurrences
    ‚Ä¢ Deffence_up1: 3 occurrences
    ‚Ä¢ ElementBoost_Earth_2_PAL: 1 occurrences
    ‚Ä¢ PAL_rude: 1 occurrences
    ‚Ä¢ ElementBoost_Fire_2_PAL: 1 occurrences
    ‚Ä¢ PAL_FullStomach_Up_1: 1 occurrences
    ‚Ä¢ ElementBoost_Leaf_2_PAL: 1 occurrences
    ‚Ä¢ PAL_ALLAttack_down1: 1 occurrences
    ‚Ä¢ ElementResist_Normal_1_PAL: 1 occurrences
    ‚Ä¢ ElementBoost_Thunder_2_PAL: 1 occurrences

Passive skill 2:
  - 5 valeurs uniques
  - Valeurs: [nan 'ElementBoost_Dark_2_PAL' 'ElementBoost_Dragon_2_PAL'
 'ElementBoost_Normal_2_PAL' 'ElementBoost_Ice_2_PAL']

======================================================================